<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-cog fa-fw"></i> {{ __('Actions for this %contenttype%',{'%contenttype%': context.contenttype.singular_name}) }}
    </div>

    <div class="panel-body">
        {% include 'editcontent/_aside-save.twig' %}
        {% include 'editcontent/_aside-preview.twig' %}
        {% include 'editcontent/_aside-status.twig' %}



    </div>
</div>

{{ render(path("lastmodified", {"contenttypeslug": context.contenttype.slug, "contentid": context.content.id} )) }}

{{ render(path("showstack", {'items': 5, 'options': 'full' } )) }}
