{{ data('editcontent.delete', __('general.phrase.confirm-remove-record')) }}

<div class="btn-group">
    <button type="button" class="btn btn-silent-danger" id="sidebardeletebutton">
        <i class="fa fa-trash"></i> {{ __('contenttypes.generic.delete', {'%contenttype%': context.contenttype.slug}) }}
    </button>

</div>
