{% import '@bolt/_macro/_panels.twig' as panels %}

<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-cog fa-fw"></i> {{ __('contenttypes.generic.actions-one',{'%contenttype%': context.contenttype.slug}) }}
    </div>

    <div class="panel-body">
        {% include '@bolt/editcontent/_aside-save.twig' %}
        {% include '@bolt/editcontent/_aside-live-editor.twig' %}
        {% include '@bolt/editcontent/_aside-preview.twig' %}
        {% include '@bolt/editcontent/_aside-status.twig' %}
        {% if isallowed('delete', context.content) and context.content.id is not empty %}
            {% include '@bolt/editcontent/_aside-delete.twig' %}
        {% endif %}
    </div>
</div>

{{ panels.changes(context.contenttype.slug, context.content.id|default(null)) }}

{{ panels.lastmodified(context.contenttype.slug, context.content.id) }}

{{ panels.stack(5) }}
