{% if context.contenttype.liveeditor is not defined or context.contenttype.liveeditor %}{# don't show for viewless contenttypes. #}
<div class="btn-group hidden-xs">
    <button type="button" class="btn btn-secondary" id="sidebar-live-editor-button">
        <i class="fa fa-pencil"></i> {{ __('general.phrase.live-edit') }}
    </button>
</div>
{% endif %}
