{% import '_macro/_macro.twig' as macro %}

{% set used_fieldtypes = [] %}

{% for key, field in context.contenttype.fields %}

    <div class="tabgrouping form-group" data-tab="{{ field.group|default('ungrouped') }}">

        {# --------------- prefix --------------- #}
        {% if field.prefix is defined and field.prefix is not empty %}
            <div class="prefix">
                {{ field.prefix|markdown }}
            </div>
        {% endif %}

        {# --------------- fields --------------- #}
        {% set labelkey = field.label ?: key|ucfirst %}

        {% for fieldtype in context.fields %}
            {% if field.type == fieldtype.name %}
                {% include fieldtype.template %}

                {% if fieldtype.name not in used_fieldtypes %}
                    {% set used_fieldtypes = used_fieldtypes|merge([fieldtype.name]) %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {# ---------------postfix & divider --------------- #}

        {% if field.postfix is defined and field.postfix is not empty %}
            <div class="postfix">
                {{ field.postfix|markdown }}
            </div>
        {% endif %}

    {% if field.separator is defined and field.separator == true %}
        <hr>
    {% endif %}

    </div><!-- end of 'formgroup' -->

{% endfor %}

{# Output includes #}
{% if 'geolocation' in used_fieldtypes %}
    <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="{{ paths.app }}view/lib/jquery-gomap-1.3.3/jquery-gomap.min.js"></script>
{% endif %}
