{% import '@bolt/_macro/_macro.twig' as macro %}

{% set field = context.contenttype.fields[key] %}

<div data-bolt-fieldset="{{ field.type }}">
    {# Prefix #}
    {% if field.prefix is defined and field.prefix is not empty %}
        <div class="prefix">
            {{ field.prefix|markdown }}
        </div>
    {% endif %}

    {# Fields #}
    {% set labelkey = field.label ?: key|ucfirst %}

    {# Temporary approach until v4. @see https://github.com/bolt/bolt/issues/5237 #}
    {% set templatename = context.fields[field.type].template %}
    {% set templatename = [ templatename, '@bolt/' ~ templatename, '@bolt/editcontent/fields/_not_found.twig' ] %}
    {% include templatename with {
        'key': key,
        'name': key,
        'contentkey': key
    } %}

    {# Postfix #}
    {% if field.postfix is defined and field.postfix is not empty %}
        <div class="postfix">
            {{ field.postfix|markdown }}
        </div>
    {% endif %}

    {# Divider #}
    {% if field.separator is defined and field.separator == true %}
        <hr>
    {% endif %}
</div>
