{# Check which field types are used #}

{% set used_fieldtypes = [] %}

{# Regular fields #}
{% for key, field in context.contenttype.fields %}
    {% if field.type not in used_fieldtypes %}
        {% set used_fieldtypes = used_fieldtypes|merge([field.type]) %}
    {% endif %}
{% endfor %}

{# Templatefield fields #}
{% if context.content.get('templatefields').contenttype.fields is defined %}
    {% for key, field in context.content.get('templatefields').contenttype.fields %}
        {% if field.type not in used_fieldtypes %}
            {% set used_fieldtypes = used_fieldtypes|merge([field.type]) %}
        {% endif %}
    {% endfor %}
{% endif %}

{# General data #}

{% set alertbox %}
    <div id="{{ '%NOTICE_ID%' }}" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <label for="%FIELD_ID%">{{ __('Field “%FIELD_NAME%”:') }}</label>
        %MESSAGE%
    </div>
{% endset %}

{{ data('validation', {
    'alertbox':     alertbox|trim,
    'generic_msg':  __('Is required or needs to match a pattern!'),
}) }}
{{ data('editcontent.msg', {
    'change_quit': __('You have unfinished changes on this page. If you continue without saving, you will lose these changes.'),
    'saving':      __('Saving …')
}) }}

{# Output includes #}

{% if 'html' in used_fieldtypes %}
    {% include 'editcontent/fielddata/_html.twig' %}
{% endif %}

{% if 'markdown' in used_fieldtypes %}
    {% include 'editcontent/fielddata/_markdown.twig' %}
{% endif %}

{% if 'geolocation' in used_fieldtypes %}
    {% include 'editcontent/fielddata/_geolocation.twig' %}
{% endif %}

{% if 'slug' in used_fieldtypes %}
    {% include 'editcontent/fielddata/_slug.twig' %}
{% endif %}

{% if 'templateselect' in used_fieldtypes %}
    {% include 'editcontent/fielddata/_templateselect.twig' %}
{% endif %}

{% if 'filelist' in used_fieldtypes %}
    {% include 'editcontent/fielddata/_filelist.twig' %}
{% endif %}

{% if 'imagelist' in used_fieldtypes %}
    {% include 'editcontent/fielddata/_imagelist.twig' %}
{% endif %}
