{% if not context.contenttype.viewless|default(false) %}{# don't show for viewless contenttypes. #}
<div class="live-editor">
    <iframe id="live-editor-iframe" sandbox="allow-scripts" name="live-editor-iframe"></iframe>
</div>
{% endif %}
