{# Relationships for this record #}

{% for relcontenttype, relation in context.contenttype.relations %}
    <div data-fieldtype="relationship">

        {# Prefix #}
        {% if relation.prefix is defined and relation.prefix is not empty %}
            <div class="prefix">
                {{ relation.prefix|markdown }}
            </div>
        {% endif %}

        {# Relationship #}
        {% include '@bolt/editcontent/fields/_relationship.twig' %}

        {# Postfix #}
        {% if relation.postfix is defined and relation.postfix is not empty %}
            <div class="postfix">
                {{ relation.postfix|markdown }}
            </div>
        {% endif %}

    </div>
{% endfor %}

