<div class="btn-group">
    <button type="button" class="btn btn-primary" id="sidebar_save">
        <i class="fa fa-flag"></i> {{ __('contenttypes.generic.save', {'%contenttype%': context.contenttype.singular_name}) }}
    </button>

    {% if not context.contenttype.singleton %}
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>

    <ul class="dropdown-menu" role="menu">
        <li>
            <button type="submit" class="btn btn-link" id="sidebar_save_return">
                <i class="fa fa-fw fa-flag"></i> {{ __('general.phrase.save-and-return-overview') }}
            </button>
        </li>

        <li>
            <button type="submit" class="btn btn-link" id="sidebar_save_create">
                <i class="fa fa-fw fa-flag"></i> {{ __('general.phrase.save-and-create-new-record') }}
            </button>
        </li>
    </ul>
    {% endif %}
</div>
