{% if user %}
    <div class="primary callout" data-closable>
        <h5>Welcome to the Bolt Foundation theme. </h5>
        <p>This is a bland theme, with a modular structure. It is well suited to build your own theme's on top of.</p>
        <ul>
            <li>Check the <a href='https://github.com/bobdenotter/bolt-foundation-theme/blob/master/readme.md'>readme.md</a> for instructions on how to customize this theme.</li>
            <li>View the <a href='{{ global.request.basePath }}/styleguide'>Styleguide</a> for this theme.</li>
            <li>Read the <a href='http://foundation.zurb.com/sites/docs/'>Foundation for Sites</a> documentation.</li>
            <li><a href='{{ path('fileedit', {'namespace': 'theme', 'file': 'index.twig'}) }}'>Edit this template</a>, to get rid of this 'callout'.</li>
        </ul>
        <small>Note: Only registered users will see this. This piece of content is hidden from regular visitors.</small>
        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
