
    </div><!-- /container-fluid -->
</div> <!-- /container -->

<br><br>

<footer id="pilex-footer" class="hidden-phone">
    <i class="icon-cog"></i> Pilex {{pilex_version}}</strong>
    {% if pilex_name is defined %} - {{pilex_name}}{% endif %}: simple and easy CMS - 
    <i class="icon-heart"></i > <a href="{{ path('about') }}">About</a> - 
    <i class="icon-external-link"> </i><a href="http://pilex.net" target="_blank">Pilex.net</a>
</footer>

</body>
</html>
