
    </div><!-- /container-fluid -->
</div> <!-- /container -->

<br><br>

<footer id="bolt-footer" class="hidden-phone">
    <i class="icon-cog"></i> <b>Bolt {{bolt_version}}</b>: Sophisticated, lightweight & simple CMS -
    <i class="icon-heart"></i > <a href="{{ path('about') }}">About</a> - 
    <i class="icon-external-link"> </i><a href="http://bolt.cm" target="_blank">Bolt.cm</a>
</footer>

</body>
</html>
