
    </div><!-- /container-fluid -->
</div> <!-- /container -->

<br><br>

<footer class="hidden-phone">
    Pilex: simple and easy CMS. - bla bla - <a>about</a> - <a>another link</a> - Some debug info, perhaps.
</footer>

</body>
</html>
