
    </div><!-- /container-fluid -->
</div> <!-- /container -->

<br><br>

<footer id="pilex-footer" class="hidden-phone">
    Pilex {{pilex_version}}</strong><small>{% if pilex_name is defined %} - {{pilex_name}}{% endif %}: simple and easy CMS - <a href="{{ path('about') }}">About</a> - <a href="http://pilex.net" target="_blank">Pilex.net</a>
</footer>

</body>
</html>
