
{% if app.session.flashBag.has('info') %}
    <div class="alert alert-info">
        <button class="close" data-dismiss="alert">×</button>
        {% for msg in app.session.flashBag.get('info') %}
            {{ msg|raw }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashBag.has('error') %}
    <div class="alert alert-error">
        <button class="close" data-dismiss="alert">×</button>
        {% for msg in app.session.flashBag.get('error') %}
            {{ msg|raw }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashBag.has('warning') %}
    <div class="alert alert-warning">
        <button class="close" data-dismiss="alert">×</button>
        {% for msg in app.session.flashBag.get('warning') %}
            {{ msg|raw }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        <button class="close" data-dismiss="alert">×</button>
        {% for msg in app.session.flashBag.get('success') %}
            {{ msg|raw }}
        {% endfor %}
    </div>
{% endif %}
