{% import '_macro.twig' as macro %}

{% for key, field in contenttype.fields %}
<div class="mixfield" data-mix="{% if field.group %}{{field.group}}{% else %}more{% endif %}">
    <div class="form-group">

    {# --------------- prefix --------------- #}
    {% if field.prefix is defined and field.prefix is not empty %}
        <div class='clearfix'>
            {{ field.prefix|raw }}
        </div>
    {% endif %}


    {# --------------- fields --------------- #}
    {% set labelkey = field.label ?: key|ucfirst %}

    {% if field.type == "text" %}
        {% include 'editfields/_text.twig' %}
    {% elseif field.type in ["float", "integer", "number"] %}
        {% include 'editfields/_float-integer.twig' %}
    {% elseif field.type  == "checkbox" %}
        {% include 'editfields/_checkbox.twig' %}
    {% elseif field.type == "slug" %}
        {% include 'editfields/_slug.twig' %}
    {% elseif field.type == "select" %}
        {% include 'editfields/_select.twig' %}
    {% elseif field.type == "templateselect" %}
        {% include 'editfields/_templateselect.twig' %}
    {% elseif field.type == "image" %}
        {% include 'editfields/_image.twig' %}
    {% elseif field.type == "file" %}
        {% include 'editfields/_file.twig' %}
    {% elseif field.type == "imagelist" %}
        {% include 'editfields/_imagelist.twig' %}
    {% elseif field.type == "filelist" %}
        {% include 'editfields/_filelist.twig' %}
    {% elseif field.type == "video" %}
        {% include 'editfields/_video.twig' %}
    {% elseif field.type == "geolocation" %}
        {% include 'editfields/_geolocation.twig' %}
    {% elseif field.type == "html" %}
        {% include 'editfields/_html.twig' %}
    {% elseif field.type == "textarea" %}
        {% include 'editfields/_textarea.twig' %}
    {% elseif field.type == "markdown" %}
        {% include 'editfields/_markdown.twig' %}
    {% elseif field.type == "date" %}
        {% include 'editfields/_date.twig' %}
    {% elseif field.type == "datetime" %}
        {% include 'editfields/_datetime.twig' %}
    {% endif %}

    {# ---------------postfix & divider --------------- #}

    {% if field.postfix is defined and field.postfix is not empty %}
        <div class='col-sm-12'>
            {{ field.postfix|raw }}
        </div>
    {% endif %}

    </div><!-- end of 'formgroup' -->

    {% if field.separator is defined and field.separator == true %}
        <hr>
    {% endif %}
</div>
{% endfor %}

