{% include '_header.twig' with { 'active':'settings' } %}


<h1>{{title}}</h1>

<form action="#" method="post" class="form-inline" autocomplete="off">

<div>
<textarea id="form_contents" name="form[contents]" required="required" class="CodeMirror-scroll">{{ form.vars.value.contents }}</textarea>
</div>

    {{ form_row(form._token) }}
<br />
    <input type="submit" name="submit" value="Save" class="btn btn-primary" />
</form>

<link rel="stylesheet" href="/app/view/lib/codemirror/codemirror.css">
<script src="/app/view/lib/codemirror/codemirror.js"></script>
<script src="/app/view/lib/codemirror/mode/yaml/yaml.js"></script>

<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("form_contents"), { 
    lineNumbers: true, 
    autofocus: true, 
    tabSize: 4,
    indentUnit: 4,
    indentWithTabs: false
    });
</script>

{% include '_footer.twig' %}