{% include '_header.twig' with { 'active':'settings' } %}
{% form_theme form 'form_bolt_layout.twig' %}

<h1>{{title}}</h1>

<form action="#" method="post" class="form-inline" autocomplete="off">
    {{ form_widget(form) }}

    <input type="submit" value="{{ __('Save') }}" name="submit" class="btn btn-primary" />
</form>



{% include '_footer.twig' %}
