{% include '_header.twig' with { 'active':'settings' } %}


<h1>{{title}}</h1>

<form action="#" method="post" class="form-inline" autocomplete="off">
    {{ form_widget(form) }}

    <input type="submit" name="submit" class="btn btn-primary" />
</form>



{% include '_footer.twig' %}