{% include '_header.twig' %}


<form action="#" method="post" class="form-inline" autocomplete="off">
    {{ form_widget(form) }}

    <input type="submit" name="submit" class="btn btn-primary" />
</form>



{% include '_footer.twig' %}