{% include '_header.twig' with { 'active':'extend' } %}

<div class='extend-bolt-container'>
{% block extendmessages %}
    {% if messages %}
        <div class="alert alert-info">
            <button class="close" data-dismiss="alert">×</button>
            {% for message in messages %}
                {{message}}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

<div class="row-fluid">
    <div class="span8">
        <div class='update-check-container hide'>
            <h2>Updates</h2>
            <pre class="update-check console">... Checking for available updates (this may take up to 60 seconds)</pre>
        </div>
        <section>
            <h2>Installed Packages (includes Bolt dependencies)</h2>
            <pre class="installed console" data-action='installed'>... Checking installed packages</pre>
        </section>
    </div>
    
    <aside class="span4">
        <h2>Options</h2>
        <section>
        <h4>Check for updates</h4>
            <a class="btn" data-trigger="check" data-target='update-check' data-show="update-check-container">
                <i class="icon-refresh"></i> Run update check
            </a>
        </section>
    </aside>
    
</div>

</aside>

<script>
    jQuery(document).ready(function($) {
        $('.extend-bolt-container').find('[data-action]').each(function(){
            var target = $(this);
            $.get('/bolt/extend/'+$(this).data('action'), function(data) {
                target.html(data);
            });
        });
        
        $('.extend-bolt-container').find('[data-trigger]').each(function(){
            $(this).on('click', function(){
                $("." + $(this).data('show') ).show();
                var target = $("." + $(this).data('target') );
                $.get('/bolt/extend/'+$(this).data('trigger'), function(data) {
                    target.html(data);
                });
            });
            
        });
    });
</script>

{% include '_footer.twig' %}
