{% include '_header.twig' %}


<h1>{{title}}</h1>

<div class="row-fluid">

    <div class="span6">
        <h2>Enabled extensions</h2>

        {% for extension in extensions if extension.enabled %}

            {% include '_sub_extension.twig' with {extension: extension} %}

        {% else %}
            <p>No enabled extensions..</p>
        {% endfor %}

    </div>


    <div class="span6">
        <h2>Disabled extensions</h2>

        {% for extension in extensions if not extension.enabled %}

            {% include '_sub_extension.twig' with {extension: extension} %}

        {% else %}
        <p>No disabled extensions..</p>
        {% endfor %}


    </div>

</div>

    <div class="row-fluid">

        <div class="span6">
            <h4>Enabling extensions:</h4>
            <p>To enable extensions, add them to the <code>enabled_extensions</code> array in
                <code>config.yml</code>. You must use the exact name of the extension, as
                shown in the first label on the bottom row of its tile. Note that the names
                are <em>case sensitive</em>, to eliminate issues with the filesystem. </p>

            example:

            <pre><code>enabled_extensions: [ HelloWorld, GoogleAnalytics ]</code></pre>

        </div>

    </div>



    <div class="modal hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-body">
            <p>&nbsp;</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>



{% include '_footer.twig' %}
