{% include '_header.twig' %}


<h1>Login</h1>

<form class="well" method="post">
  <label>Username</label>
  <input type="text" name="username" placeholder="Your username…" {% if username is defined %}value="{{username}}"{%endif%}>
  <label>Password</label>
  <input type="password" name="password" placeholder="Your password…">

  <label class="checkbox">
    <input type="checkbox"> Keep me logged on.
  </label>
  <button type="submit" class="btn">Log on</button>
</form>


{% include '_footer.twig' %}