# Add "via @whomever" to the tweet. Leave blank for none.
# via: boltcm

# URL to 'share'. Leave blank to use the URL of the current page.
# url: http://bolt.cm

# Language
language: en_US

# Label
label: Tweet
