{# Page: NavSecondary > Extend Bolt #}

{% extends "_base/_page-nav.twig" %}

{% block page_nav 'ExtendBolt' %}

{% block page_title __('Extend Bolt') %}

{% block page_main %}

    <script src="{{ paths.app }}view/js/bolt-extend.js"></script>


    <div class="row extend-bolt-container">
        <div class="col-md-8">
            
        </div>

        <aside class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-cog fa-fw"></i>Extensions Options</div>
                <div class="panel-body">
                        
                </div>
            </div>
        </aside>

    </div>

{% endblock page_main %}
