{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:  field.class|default(''),
    label:  field.label|default(''),
    info:   field.info|default('')
} %}

{#=== INIT ===========================================================================================================#}

{% set attr_checkbox = {
    checked:  context.content.get(contentkey),
    class:    option.class,
    name:     name,
    id:       key,
    type:     'checkbox',
    value:    '1'
} %}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="form-group bf-checkbox">
    <label class="col-md-3 control-label" for="{{ key }}">
        {{ (option.info) ? macro.infopop(labelkey, option.info) : labelkey }}
    </label>

    <div class="col-md-9">
        <div class="checkbox">
            <label><input{{ macro.attr(attr_checkbox) }}><button type="button" onclick="var x=$(this).prev();x.prop('checked', !x.prop('checked'));"></button></label>
        </div>
    </div>
</fieldset>
