{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:  ('form-control ' ~ field.class)|trim,
    label:  field.label,
    info:   field.info|default('')
} %}

{#=== INIT ===========================================================================================================#}

{% set attributes = {
    checkbox: {
        checked:  context.content.get(contentkey),
        class:    option.class,
        id:       key,
        name:     name,
        type:     'checkbox',
        value:    '1',
    }
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '_base/_fieldset.twig' %}

{% block fieldset_type 'checkbox' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-md-3' %}
{% block fieldset_label_for   key %}

{% block fieldset_controls %}
    <div class="col-md-9">
        <div class="checkbox">
            <label><input{{ macro.attr(attributes.checkbox) }}><button type="button" onclick="var x=$(this).prev();x.prop('checked', !x.prop('checked'));"></button></label>
        </div>
    </div>
{% endblock fieldset_controls %}
