{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:  field.class|default(''),
    label:  field.label|default(''),
    info:   field.info|default('')
}%}

{#=== INIT ===========================================================================================================#}

{% set attr_checkbox = {
    checked:  context.content.get(key),
    class:    option.class,
    name_id:  key,
    type:     'checkbox',
    value:    '1',
}%}

{#=== FIELDSET =======================================================================================================#}

{# fieldset.checkbox already used: -> chkbox #}
<fieldset class="chkbox">

    <label class="col-sm-3 control-label">{{ (option.info) ? macro.infopop(labelkey, option.info) : labelkey }}</label>
    <div class="col-sm-9">

        <input{{ macro.attr(attr_checkbox) }}>
    </div>

</fieldset>
