{#=== OPTIONS ========================================================================================================#}

{% set option = {
    label:  field.label,
    info:   field.info|default('')
} %}

{#=== INIT ===========================================================================================================#}

{% set buico = {
    checkbox: {
        checked:  context.content.get(contentkey),
        id:       buid(),
        label:    labelkey,
        name:     name,
    }
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'checkbox' %}

{% block fieldset_label_info  option.info %}

{% block fieldset_controls %}
    <div class="col-md-9 col-sm-offset-3">
        {{ buic.checkbox(buico.checkbox) }}
    </div>
{% endblock fieldset_controls %}
