{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:  field.class|default(''),
    label:  field.label|default(''),
}%}

{#=== INIT ===========================================================================================================#}

{% set attr_checkbox = {
    checked:  ctx_content.get(key),
    class:    option.class,
    name_id:  key,
    type:     'checkbox',
    value:    '1',
}%}

{#=== FIELDSET =======================================================================================================#}

{# fieldset.checkbox already used: -> chkbox #}
<fieldset class="chkbox">

    <label class="col-sm-3 control-label">{{ labelkey }}</label>
    <div class="col-sm-9">

        <input{{ macro.attr(attr_checkbox) }}>
    </div>

</fieldset>
