{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:     field.class|default(''),
    variant:   field.variant|default(''),
    label:     field.label|default(''),
    info:      field.info|default(''),
    options:   field.options.datepicker|default(''),
    default:   (context.content.id == null and field.default) ? context.content.get(contentkey)|date('Y-m-d H:i:s') : null,
    required:  field.required|default(false),
    errortext: field.error|default(''),
} %}

{#=== INIT ===========================================================================================================#}

{% set attr_datetime = {
    id:         key,
    name:       name,
    value:      (context.content.get(contentkey) != null) ? context.content.get(contentkey)|date('Y-m-d H:i:s') : option.default,
    required:   option.required,
    class:      option.class,
    errortext:  option.errortext,
    options:    option.options,
} %}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="datetime">
    {% if option.variant == 'inline' %}

        <label class="col-sm-3 control-label">{{ (option.info) ? macro.infopop(labelkey, option.info) : labelkey }}</label>
        <div class="col-sm-9">
            {{ macro.input_datetime(attr_datetime) }}
        </div>

    {% else %}

        <div class="col-sm-12">
            <label class="control-label">{{ (option.info) ? macro.infopop(labelkey, option.info) : labelkey }}</label>
            {{ macro.input_datetime(attr_datetime) }}
        </div>

    {% endif %}
</fieldset>
