{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:     ('form-control ' ~ field.class)|trim,
    variant:   field.variant,
    label:     field.label,
    info:      field.info|default(''),
    options:   field.options.datepicker|default(''),
    default:   (context.content.id == null and field.default) ? context.content.get(contentkey)|date('Y-m-d H:i:s') : null,
    required:  field.required|default(false),
    errortext: field.error|default(''),
} %}

{#=== INIT ===========================================================================================================#}

{% set attributes = {
    datetime: {
        class:      option.class,
        errortext:  option.errortext,
        id:         key,
        name:       name,
        options:    option.options,
        required:   option.required,
        value:      (context.content.get(contentkey) != null) ? context.content.get(contentkey)|date('Y-m-d H:i:s') : option.default,
    }
} %}

{% set class = option.variant == 'inline' ? ['col-sm-3', 'col-sm-9'] : ['col-xs-12', 'col-xs-12'] %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'datetime' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class class[0] %}

{% block fieldset_controls %}
    <div class="{{ class[1] }}">
        {{ macro.input_datetime(attributes.datetime) }}
    </div>
{% endblock fieldset_controls %}
