{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:     field.class|default(''),
    label:     field.label|default(''),
    info:      field.info|default(''),
    options:   field.options.datepicker|default(''),
    default:   (context.content.id == null and field.default) ? context.content.get(key)|date('Y-m-d') : null,
    required:  field.required|default(false),
    errortext: field.error|default(''),
}%}

{#=== INIT ===========================================================================================================#}

{% set attr_date = {
    id:         key,
    has_time:   false,
    value:      (context.content.get(key) != null) ? context.content.get(key)|date('Y-m-d') : option.default,
    required:   option.required,
    class:      option.class,
    errortext:  option.errortext,
    options:    option.options,
}%}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="date">
    <label class="col-sm-3 control-label">{{ (option.info) ? macro.infopop(labelkey, option.info) : labelkey }}</label>
    <div class="col-sm-9">
        {{ macro.input_datetime(attr_date) }}
    </div>
</fieldset>
