{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:     field.class|default(''),
    label:     field.label|default(''),
    info:      field.info|default(''),
    default:   field.default|default(''),  
    options:   field.options.datepicker|default(''),
    required:  field.required|default(false),
    errortext: field.error|default(''),
}%}

{#=== INIT ===========================================================================================================#}

{% set attr_datetime = {
    id:         key,
    value:      context.content.get(key)|default(option.default),
    required:   option.required,
    class:      option.class,
    errortext:  option.errortext,
    options:    option.options,
}%}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="datetime">

    <label class="col-sm-3 control-label">{{ (option.info) ? macro.infopop(labelkey, option.info) : labelkey }}</label>
    <div class="col-sm-9">
        {{ macro.input_datetime(attr_datetime) }}
    </div>

</fieldset>
