{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:     field.class|default(''),
    label:     field.label|default(''),
    info:      field.info|default(''),
    options:   field.options.datepicker|default(''),
    required:  field.required|default(false),
    errortext: field.error|default(''),
}%}

{#=== INIT ===========================================================================================================#}

{% set attr_data = {
    id:       key,
    type:     'hidden',
    value:    context.content.get(key)|date('Y-m-d H:i:s'),
}%}

{% set attr_date = {
    class:  option.class~' datepicker',
    id:     key~'-date',
    name:   key~'-dateformatted',
    type:   'text',
    value:  '',
    required:            option.required,
    data_errortext:      option.errortext,
    data_field_options:  option.options ? option.options|json_encode : '',
}%}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="date">
    <label class="col-sm-3 control-label">{{ (option.info) ? macro.infopop(labelkey, option.info) : labelkey  }}</label>
    <div class="col-sm-9">
        {{ macro.input_datetime(attr_data, attr_date) }}
    </div>
</fieldset>
