{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:       ('form-control ' ~ field.class)|trim,
    label:       field.label,
    extensions:  field.extensions|default([]),
    upload:      field.upload|default(''),
    can_upload:  field.canUpload,
    info:        field.info|default('info.upload.file')
} %}

{#=== INIT ===========================================================================================================#}

{% set attributes = {
    filepath: {
        class:        option.class ~ ' path',
        id:           'field-' ~ key,
        name:         name,
        placeholder:  __('field.general.allowed-filetypes') ~ ' ' ~ option.extensions|join(', ') ~ ' …',
        type:         'text',
        value:        context.content.get(contentkey),
    },

    upload: {
        accept:       option.extensions ? '.' ~ option.extensions|join(',.') : '',
        data_url:     url('upload', { 'handler': option.upload }, true),
        id:           'fileupload-' ~ key,
        name:         'files[]',
        type:         'file',
    }
} %}

{% set can_upload = context.can.upload and option.can_upload %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'file' %}
{% block fieldset_widget 'fieldFile' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-xs-12' %}

{% block fieldset_controls %}
    <div class="col-xs-12 dropzone clearfix">
        {# Path #}
        <input{{ macro.attr(attributes.filepath) }}>

        {# Progressbar #}
        <div class="buic-progress" data-bolt-widget="buicProgress"></div>

        {# Uploadbuttons #}
        {{ macro.upload_buttons('file', attributes.upload, option.upload, can_upload, false) }}

        {# Infotext #}
        {% if not ismobileclient() %}
            <div class="hidden-xs"><label>{{ app.translator.trans('info.upload.filesmall', {}, 'infos') }}</label></div>
        {% endif %}
    </div>
{% endblock fieldset_controls %}
