{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:     field.class|default(''),
    height:    field.height|default(''),
    label:     field.label|default(''),
    required:  field.required|default(false),
    errortext: field.error|default(''),
    info:      field.info|default(''),
    options:   field.options.ckeditor|default('')
} %}

{#=== INIT ===========================================================================================================#}

{% set attr_html = {
    class:               option.class ~ ' ckeditor',
    data_field_options:  option.options ? option.options|json_encode : '',
    name:                key,
    required:            option.required,
    data_errortext:      option.errortext,
    style:               (option.height) ? 'height: ' ~ option.height : '',
} %}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="html">
    <div class="col-sm-12">
        <label class="control-label">{{ (option.info) ? macro.infopop(labelkey, option.info) : labelkey }}</label>
        <textarea{{ macro.attr(attr_html) }}>{{ context.content.get(key)|default('') }}</textarea>
    </div>
</fieldset>
