{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:     ('form-control ' ~ field.class)|trim,
    height:    field.height|default(''),
    label:     field.label,
    required:  field.required|default(false),
    errortext: field.error|default(''),
    info:      field.info|default(''),
    options:   field.options.ckeditor|default('')
} %}

{#=== INIT ===========================================================================================================#}

{% set param = {} %}

{% if option.height %}
    {% set param = param|merge({height: option.height}) %}
{% endif %}

{% if option.options %}
    {% set param = param|merge({ckeditor: option.options}) %}
{% endif %}

{% set attributes = {
    html: {
        class:           option.class ~ ' ckeditor',
        data_errortext:  option.errortext,
        data_param:      param ? param|json_encode : '',
        id:              key,
        name:            name,
        required:        option.required,
    }
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'html' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-xs-12' %}

{% block fieldset_controls %}
    <div class="col-xs-12">
        <textarea{{ macro.attr(attributes.html) }}>{{ context.content.get(contentkey)|default('') }}</textarea>
    </div>
{% endblock fieldset_controls %}
