{#=== OPTIONS ========================================================================================================#}
{% set field_step = field.step|default(1) %}
{% set option = {
    class:        field.class|default(''),
    label:        field.label|default(''),
    placeholder:  field.placeholder|default(''),
    required:     field.required|default(false),
    readonly:     field.readonly|default(false),
    title:        field.title|default(''),
    info:         field.info|default(''),
    errortext:    field.error|default(''),
    min:          field.min|default('-' ~ ((2147483647 // field_step) * field_step)),
    max:          field.max|default('2147483647'),
    step:         field.step|default('1'),
} %}

{#=== INIT ===========================================================================================================#}

{% set attr_number = {
    class:          option.class ~ ' narrow',
    name:           name,
    id:             key,
    placeholder:    option.placeholder,
    required:       option.required,
    readonly:       option.readonly,
    step:           option.step,
    min:            max(option.min,'-2147483647'),
    max:            min(option.max,'2147483647'),
    title:          option.title,
    type:           'number',
    value:          0 + context.content.get(contentkey),
    data_errortext: option.errortext,
} %}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="integer">
    <label class="col-sm-3 control-label">{{ (option.info) ? macro.infopop(labelkey, option.info) : labelkey }}</label>
    <div class="col-sm-9">
        <input{{ macro.attr(attr_number) }}>
    </div>

</fieldset>
