{#=== OPTIONS ========================================================================================================#}
{% set field_step = field.step|default(1) %}
{% set option = {
    class:        ('form-control ' ~ field.class)|trim,
    label:        field.label,
    placeholder:  field.placeholder|default(''),
    required:     field.required|default(false),
    readonly:     field.readonly|default(false),
    title:        field.title|default(''),
    info:         field.info|default(''),
    errortext:    field.error|default(''),
    min:          field.min|default('-' ~ ((2147483647 // field_step) * field_step)),
    max:          field.max|default('2147483647'),
    step:         field.step|default('1'),
} %}

{#=== INIT ===========================================================================================================#}

{% set attributes = {
    number: {
        class:           option.class ~ ' narrow',
        data_errortext:  option.errortext,
        id:              key,
        max:             min(option.max, '2147483647'),
        min:             max(option.min, '-2147483647'),
        name:            name,
        placeholder:     option.placeholder,
        readonly:        option.readonly,
        required:        option.required,
        step:            option.step,
        title:           option.title,
        type:            'number',
        value:           0 + context.content.get(contentkey),
    }
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'integer' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-sm-3' %}
{% block fieldset_label_for   key %}

{% block fieldset_controls %}
    <div class="col-sm-9">
        <input{{ macro.attr(attributes.number) }}>
    </div>
{% endblock fieldset_controls %}
