{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:        field.class|default(''),
    label:        field.label|default(''),
    pattern:      field.pattern|default(''),
    placeholder:  field.placeholder|default(''),
    required:     field.required|default(false),
    title:        field.title|default(''),
    info:         field.info|default('')
}%}

{#=== INIT ===========================================================================================================#}

{% set attr_number = {
    class:        option.class~' narrow',
    name_id:      key,
    pattern:      option.pattern,
    placeholder:  option.placeholder,
    required:     option.required,
    step:         '1',
    min:          '-2147483647',
    max:          '2147483647',
    title:        option.title,
    type:         'number',
    value:        0 + context.content.get(key),
}%}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="integer">

    <label class="col-sm-3 control-label">{{ (option.info) ? macro.infopop(labelkey, option.info) : labelkey }}</label>
    <div class="col-sm-9">
        <input{{ macro.attr(attr_number) }}>
    </div>

</fieldset>
