{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:     ('form-control ' ~ field.class)|trim,
    height:    field.height|default('300px'),
    label:     field.label,
    required:  field.required|default(false),
    errortext: field.error|default(''),
    info:      field.info|default('info.markdown')
} %}

{#=== INIT ===========================================================================================================#}

{% set attributes = {
    text: {
        class:           option.class,
        data_errortext:  option.errortext,
        id:              key,
        name:            name,
        required:        option.required,
        style:           (option.height) ? 'height: ' ~ option.height ~ ' !important;' : '',
    }
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '_base/_fieldset.twig' %}

{% block fieldset_type 'markdown' %}

{% block fieldset_label %}
    <label class="col-xs-12">{{ macro.infopop(labelkey, option.info) }}</label>
{% endblock fieldset_label %}

{% block fieldset_controls %}
    <div class="col-xs-12">
        <textarea{{ macro.attr(attributes.text) }} data-uk-htmleditor="{ markdown: true, height: '{{option.height}}'}">{{ context.content.get(contentkey)|default('') }}</textarea>
    </div>
{% endblock fieldset_controls %}
