{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:     ('form-control ' ~ field.class)|trim,
    height:    field.height|default('300px'),
    label:     field.label,
    required:  field.required|default(false),
    errortext: field.error|default(''),
    info:      field.info|default('info.markdown')
} %}

{#=== INIT ===========================================================================================================#}

{% set attr_text = {
    class:          option.class,
    name:           name,
    id:             key,
    required:       option.required,
    data_errortext: option.errortext,
    style:          (option.height) ? 'height: ' ~ option.height ~ ' !important;' : '',
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '_base/_fieldset.twig' %}

{% block fieldset_type 'markdown' %}

{% block fieldset_label %}
    <label class="col-xs-12">{{ macro.infopop(labelkey, option.info) }}</label>
{% endblock fieldset_label %}

{% block fieldset_controls %}
    <div class="col-xs-12">
        <textarea{{ macro.attr(attr_text) }} data-uk-htmleditor="{ markdown: true, height: '{{option.height}}'}">{{ context.content.get(contentkey)|default('') }}</textarea>
    </div>
{% endblock fieldset_controls %}
