{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:     ('form-control ' ~ field.class)|trim,
    height:    field.height|default('300px'),
    label:     field.label,
    required:  field.required|default(false),
    errortext: field.error|default(''),
    info:      field.info|default('info.markdown')
} %}

{#=== INIT ===========================================================================================================#}

{% set ukkit_conf = {
    height:         option.height,
    lblMarkedview:  __('field.markdown.label.markedview'),
    lblPreview:     __('field.markdown.label.preview'),
    markdown:       true,
    markedOptions:  {
                        breaks: false,
                    },
    toolbar:        ['bold', 'italic', 'link', 'image', 'blockquote', 'listUl', 'listOl'],
} %}

{% set attributes = {
    text: {
        class:               option.class,
        data_errortext:      option.errortext,
        data_uk_htmleditor:  ukkit_conf|json_encode,
        id:                  key,
        name:                name,
        required:            option.required,
        style:               (option.height) ? 'height: ' ~ option.height ~ ' !important;' : '',
    }
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'markdown' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-xs-12' %}
{% block fieldset_label_for   key %}

{% block fieldset_controls %}
    <div class="col-xs-12">
        <textarea{{ macro.attr(attributes.text) }}>{{ context.content.get(contentkey)|default('') }}</textarea>
    </div>
{% endblock fieldset_controls %}
