{#=== INIT ===========================================================================================================#}

{# We set the 'format' for the rendering of each <option>. With fallback to a sensible default. #}
{% set format = context.content.relation.format|default("{{ title|escape }} (№ {{ id }})") %}

{# Use option groups #}
{% set groupby = relation.groupby|default(false) %}

{# Currently selected relationship values #}
{% set relselect = [] %}
{% for item in context.content.relation[relcontenttype]|default([]) %}
    {% set relselect =  relselect|merge([item.reference]) %}
{% endfor %}

{# Build the select options array #}
{% set options = [] %}

{% for item in context.relations_list[relcontenttype] %}
    {% set selectedbyrelation = relcontenttype == app.request.get('relation') and
                                item.id == app.request.get('relationid') %}

    {% set options = options|merge([{
        value:    item.id,
        text:     format|twig({'title': item.title, 'id': item.id}),
        group:    groupby ? item.values[groupby]|default(false) : false,
        selected: (item.id in relselect) or selectedbyrelation,
    }]) %}
{% endfor %}

{# BUIC options #}
{% set buico_select = {
    'name':     'relation[' ~ relcontenttype ~ '][]',
    'id':       'relation-' ~ relcontenttype,
    'multiple': relation.multiple is defined and relation.multiple == 1,
    'options':  options,
    'clear':    true,
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'relationship' %}

{% block fieldset_label_text  relation.label|default(relcontenttype|ucfirst) %}
{% block fieldset_label_class 'col-sm-4' %}

{% block fieldset_controls %}
    <div class="col-sm-8">
        {{ buic.select(buico_select) }}
    </div>
{% endblock fieldset_controls %}
