<div class="panel-heading text-right">
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-default">
            <i class="fa fa-copy"></i> {{ __('Duplicate Set') }}
        </button>
        <button type="button" class="btn btn-sm btn-silent-danger">
            <i class="fa fa-trash"></i> {{ __('Delete Set') }}
        </button>
    </div>
</div>