{#=== OPTIONS ========================================================================================================#}

{% set option = {
    uses:  field.uses|default([]) is iterable ? field.uses|default([]) : [field.uses],
    viewless: context.content.contenttype.viewless|default(false)
} %}

{#=== INIT ===========================================================================================================#}

{% set attr_slug = {
    class:    'form-control',
    id:       key,
    name:     name,
    type:     'hidden',
    value:    context.content.get(key)
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '_base/_fieldset.twig' %}

{% set fieldset = {
    slug: {
        contentId:      context.content.id,
        isEmpty:        (context.content.get(contentkey) == ''),
        key:            key,
        slug:           context.content.contenttype.slug,
        uses:           option.uses,
    }
}%}

{% block fieldset %}
    <label class="col-sm-3 control-label">{{ option.viewless ? __('Unique Alias') : __('field.slug.permalink') }}:</label>
    <div class="col-sm-9">
        <div class="input-group input-group-sm locked">
            <span class="input-group-addon">/{{ context.content.contenttype.singular_slug }}/<em>{{ context.content.get(contentkey) }}</em></span>
            <input{{ macro.attr(attr_slug) }}>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default lock"><i class="fa fa-fw"></i></button>
                <button type="button" class="btn btn-default edit"><i class="fa fa-fw fa-pencil"></i></button>
            </span>
        </div>
    </div>
{% endblock fieldset %}
