{#=== OPTIONS ========================================================================================================#}

{% set option = {
    uses:  field.uses|default([]) is iterable ? field.uses|default([]) : [field.uses],
    viewless: context.content.contenttype.viewless|default(false)
} %}

{#=== INIT ===========================================================================================================#}

{% set attributes = {
    slug: {
        class: 'form-control',
        id:    key,
        name:  name,
        type:  'text',
        value: context.content.get(key),
    }
} %}

{% set trans = {
    label_alias:     __('field.slug.unique-alias'),
    label_permalink: __('field.slug.permalink'),
    menu_lock:       __('field.slug.button.lock'),
    menu_unlock:     __('field.slug.button.unlock'),
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% set fieldset_conf = {
    contentId: context.content.id,
    isEmpty:   (context.content.get(contentkey) == ''),
    key:       key,
    slug:      context.content.contenttype.slug,
    uses:      option.uses,
    text: {
        lock:   trans.menu_lock,
        unlock: trans.menu_unlock,
    },
}%}

{% block fieldset_type 'slug' %}
{% block fieldset_widget 'fieldSlug' %}

{% block fieldset_label_text option.viewless ? trans.label_alias : trans.label_permalink %}
{% block fieldset_label_class 'col-sm-12' %}

{% block fieldset_controls %}
    <div class="col-sm-12">
        <div class="input-group{{ context.content.get(contentkey) == '' ? ' generated' : '' }}">
            <span class="input-group-addon">/{{ context.content.contenttype }}/</span>
            <input{{ macro.attr(attributes.slug) }}>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" aria-label="{{ trans.menu_unlock }}"></button>
            </span>
        </div>
    </div>
{% endblock fieldset_controls %}
