{#=== INIT ===========================================================================================================#}

{# Build the select options array #}
{% set options = [] %}
{% for tag in context.content.taxonomy.getField(taxonomy.slug)|default([]) %}
    {% set options = options|merge([{
        value:     tag.slug,
        text:      tag.name,
        selected:  true,
    }]) %}
{% endfor %}

{# BUIC options #}
{% set buico_select = {
    'clear':     true,
    'id':        'taxonomy-' ~ taxonomy.slug,
    'multiple':  true,
    'name':      'taxonomy[' ~ taxonomy.slug ~ '][]',
    'options':   options,
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'tags' %}
{% block fieldset_widget 'fieldTags' %}

{% set fieldset_conf = {
    slug: taxonomy.slug,
    allowSpaces: taxonomy.allow_spaces,
}%}

{% block fieldset_label_text  taxonomy.name %}
{% block fieldset_label_class 'col-sm-3' %}

{% block label_prepend %}
    <label{{ macro.attr(attributes_label) }}>{{ block('fieldset_label_text') }}: {{ field_info|default('') }}</label>
{% endblock %}

{% block fieldset_controls %}
    <div class="col-sm-9">
        {{ buic.select(buico_select) }}
        {% if taxonomy.tagcloud %}
            <div class="tagcloud"></div>
        {% endif %}
    </div>
{% endblock fieldset_controls %}

{% block label_append %}
{% endblock %}

