{#=== FIELDSET =======================================================================================================#}

{% extends '_base/_fieldset.twig' %}

{% block fieldset_type 'tags' %}

{% set fieldset_conf = {
    tagcloud: taxonomy.tagcloud,
    slug:     taxonomy.slug,
}%}

{% block fieldset_label_text  taxonomy.name %}
{% block fieldset_label_class 'col-sm-3' %}

{% block fieldset_controls %}
    <div class="col-sm-9">
        {% if context.content.taxonomy[taxonomy.slug] is defined %}
            {% set tags = context.content.taxonomy[taxonomy.slug]|join(",") %}
        {% else %}
            {% set tags = "" %}
        {% endif %}

        <input type="text" name="taxonomy[{{ taxonomy.slug }}]" id="taxonomy-{{ taxonomy.slug }}" value="{{ tags }}" style="width: 100%;">

        <div class="tagcloud" id="tagcloud-{{ taxonomy.slug }}"></div>
    </div>
{% endblock fieldset_controls %}
