{#=== INIT ===========================================================================================================#}

{% if context.content.taxonomy[taxonomy.slug] is defined %}
    {% set tags = context.content.taxonomy[taxonomy.slug]|join(",") %}
{% else %}
    {% set tags = "" %}
{% endif %}

{% set attributes = {
    taxonomy: {
        id:     'taxonomy-' ~ taxonomy.slug,
        name:   'taxonomy[' ~ taxonomy.slug ~ ']',
        style:  'width: 100%;',
        type:   'text',
        value:  tags,
    }
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '_base/_fieldset.twig' %}

{% block fieldset_type 'tags' %}

{% set fieldset_conf = {
    slug:  taxonomy.slug,
}%}

{% block fieldset_label_text  taxonomy.name %}
{% block fieldset_label_class 'col-sm-3' %}

{% block fieldset_controls %}
    <div class="col-sm-9">
        <input{{ macro.attr(attributes.taxonomy) }}>

        {% if taxonomy.tagcloud %}
            <div class="tagcloud" id="tagcloud-{{ taxonomy.slug }}"></div>
        {% endif %}
    </div>
{% endblock fieldset_controls %}
