{#=== OPTIONS ========================================================================================================#}

{% set option = {
    filter:  field.filter|default({}),
    label:   field.label,
    info:    field.info|default('')
} %}

{#=== INIT ===========================================================================================================#}

{# Build the select options array #}
{% set options = [] %}
{% for filename, name in listtemplates(option.filter) %}
    {% set options = options|merge([{
        value:     filename,
        text:      name ~ (filename in context.fieldtemplates ? ' (+)' : ''),
        selected:  context.content.get(contentkey) == filename,
    }]) %}
{% endfor %}

{# BUIC options #}
{% set buico_select = {
    'clear':    true,
    'id':       key,
    'name':     name,
    'options':  options,
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% set fieldset_conf = {
    'currentHas':       context.has.templatefields,
    'current':          context.content.get(contentkey),
    'fieldTemplates':   context.fieldtemplates
}%}

{% block fieldset_type 'templateselect' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-sm-3' %}
{% block fieldset_label_for   key %}

{% block fieldset_controls %}
    <div class="col-sm-9">
        {{ buic.select(buico_select) }}
    </div>
    <div class="hidden col-sm-9 col-sm-offset-3">
        <p class="form-control-static"></p>
    </div>
{% endblock fieldset_controls %}
