{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:     field.class|default(''),
    height:    field.height|default(''),
    label:     field.label|default(''),
    info:      field.info|default(''),
    required:  field.required|default(false),
    errortext: field.error|default(''),
} %}

{#=== INIT ===========================================================================================================#}

{% set attr_text = {
    class:     option.class,
    name:      name,
    required:  option.required,
    style:     option.height ? 'height: ' ~ option.height ~ ';' : '',
    data_errortext: option.errortext,
} %}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="textarea">

    <div class="col-sm-12">
        <label class="control-label">{{ (option.info) ? macro.infopop(labelkey, option.info) : labelkey }}</label>
        <textarea{{ macro.attr(attr_text) }}>{{ context.content.get(contentkey)|default('') }}</textarea>
    </div>

</fieldset>
