{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:     ('form-control ' ~ field.class)|trim,
    height:    field.height|default(''),
    label:     field.label,
    info:      field.info|default(''),
    required:  field.required|default(false),
    errortext: field.error|default(''),
} %}

{#=== INIT ===========================================================================================================#}

{% set attr_text = {
    class:     option.class,
    name:      name,
    required:  option.required,
    style:     option.height ? 'height: ' ~ option.height ~ ';' : '',
    data_errortext: option.errortext,
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '_base/_fieldset.twig' %}

{% block fieldset_type 'textarea' %}

{% block fieldset_label %}
    <label class="col-xs-12">{{ (option.info) ? macro.infopop(labelkey, option.info) : labelkey }}</label>
{% endblock fieldset_label %}

{% block fieldset_controls %}
    <div class="col-xs-12">
        <textarea{{ macro.attr(attr_text) }}>{{ context.content.get(contentkey)|default('') }}</textarea>
    </div>
{% endblock fieldset_controls %}
