{{ widgets('edituser_aside_top', 'backend') }}

{{ widgets('edituser_aside_bottom', 'backend') }}

<div id="latesttemp" style="display:none; visibility: hidden;"><!-- intentionally left blank --></div>
