{# Page: Create the first User #}

{% extends '@bolt/_base/_page-no_nav.twig' %}

{% block page_title __('page.invitation.redeem.title') %}

{% block page_main %}

    <h1 style="text-align: center;" class="text-danger">
        {{ __('page.invitation.link-error') }}
    </h1>

{% endblock page_main %}
