<h1>
    Couldn't create a new <code>{{ filename }}</code>-file inside
    <code>{{ directory }}</code>.
</h1>

<p>
    Create the file manually by copying <code>{{ distname }}</code>, and
    optionally make it writable to the user that the web server is running as.
</p>
