[submodule "app/extensions/PlusOne"]
	path = app/extensions/PlusOne
	url = git@github.com:bolt/PlusOne.git
[submodule "app/view/bootstrap-sass"]
	path = app/view/bootstrap-sass
	url = git@github.com:twbs/bootstrap-sass.git
