app/cache/*
app/config/*.yml
app/database/*
*config.yml
files/*
thumbs/
vendor/
composer.phar
composer.lock
scrutinizer.phar
php-cs-fixer.phar
.DS_Store
._.DS_Store
.idea
__*
.__*
web
Vagrantfile
.vagrant*
*.sublime-*
/tags
.*.swp
.swp
*.lock
.gitignore
tests/_log
tests/*/*Guy.php
app/view/node_modules
app/view/.sass-cache
.buildpath
.project
npm-debug.log
app/view/config.codekit
app/view/.sass-cache
app/view/node_modules
/bolt.log
