[submodule "app/view/_resources/bootstrap-sass"]
	path = app/view/_resources/bootstrap-sass
	url = git@github.com:twbs/bootstrap-sass.git
[submodule "app/view/_resources/fontawesome"]
	path = app/view/_resources/fontawesome
	url = git@github.com:FortAwesome/Font-Awesome.git
