app/cache/*
app/config/*.yml
app/database/*
*config.yml
files/*
thumbs/
vendor/
composer.phar
composer.lock
.DS_Store
._.DS_Store
.idea
__*
.__*
web
Vagrantfile
.vagrant*
scrutinizer.phar
php-cs-fixer.phar
*.sublime-*
.*.swp
/tags
.swp
*.lock
.gitignore
tests/_log
tests/*/*Guy.php
app/view/node_modules
app/view/bower_components
.buildpath
.project
