# Bolt specific stuff. Don't put config files, databases or 'vendor' in Git.
app/cache/*
app/config/*.yml
app/config/extensions/
app/database/*
*config.yml
files/*
extensions/*
thumbs/
vendor/
theme/*
composer.lock

# Bolt development files
app/src/tmp/
app/src/docs/
app/src/grunt-local/*.js
app/view/maps/
pimple.json
.deploy.yml

# Bolt testing files
coverage.xml
phpunit.xml
*.codeception-backup
tests/codeception/_output
tests/codeception/_support/*Tester.php
tests/codeception/_support/_generated/
tests/phpunit/web-root/

# Common developer tools
codeception.phar
composer.phar
php-cs-fixer.phar
scrutinizer.phar

# NPM, Gulp and Grunt stuff
node_modules
bower_components
npm-debug.log
.sass-cache
!yarn.lock

# Sourcemaps
*.map

# File-system cruft and temporary files
.DS_Store
__*
._*
Vagrantfile
.vagrant*
.*.swp
.swp
*.lock
.buildpath
.idea

