<?php

return Bolt\CsFixer\Config::create()
    ->addRules(
        Bolt\CsFixer\Rules::create()
            ->risky()
    )
    ->addRules([
        'declare_strict_types'       => false,
    ])
    ->in('src', 'tests')
;
