language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm
  
matrix:
  allow_failures:
    - php: hhvm

script:
  - phpunit -c app/
  - ./run-functional-tests

before_install:
  - git submodule init

before_script:
  - wget http://getcomposer.org/composer.phar
  - php composer.phar self-update
  - php composer.phar install --prefer-source
  - mkdir -p tests/_log
  - chmod 777 tests/_log

