language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm
  
matrix:
  allow_failures:
    - php: hhvm

script:
  - phpunit -c phpunit.xml.dist
  - ./run-functional-tests

before_script:
  - composer self-update || true
  - composer install --prefer-source
  - mkdir -p tests/_log
  - chmod 777 tests/_log
