<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/phpunit/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
        >
    <php>
        <server name="HTTP_HOST" value="bolt.dev" />
        <server name="REQUEST_URI" value="/bolt" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak" />
    </php>
    <listeners>
        <listener file="tests/phpunit/BoltListener.php" class="Bolt\Tests\BoltListener">
           <arguments>
              <!-- Configuration files. Can be either .yml or .yml.dist files -->
              <!-- Locations can be relative to TEST_ROOT directory, the Bolt directory, or an absolute path -->
              <array>
                  <element key="config">
                      <string>app/config/config.yml.dist</string>
                  </element>
                  <element key="contenttypes">
                      <string>app/config/contenttypes.yml.dist</string>
                  </element>
                  <element key="menu">
                      <string>app/config/menu.yml.dist</string>
                  </element>
                  <element key="permissions">
                      <string>app/config/permissions.yml.dist</string>
                  </element>
                  <element key="routing">
                      <string>app/config/routing.yml.dist</string>
                  </element>
                  <element key="taxonomy">
                      <string>app/config/taxonomy.yml.dist</string>
                  </element>
              </array>
              <!-- Theme directory. Can be relative to TEST_ROOT directory, the Bolt directory, or an absolute path -->
              <array>
                  <element key="theme">
                      <string>theme/base-2016</string>
                  </element>
              </array>
              <!-- The Bolt SQLite database, leave empty to use the one bundled with Bolt's repository -->
              <!-- Location can be relative to TEST_ROOT directory, the Bolt directory, or an absolute path -->
              <array>
                  <element key="boltdb">
                      <string></string>
                  </element>
              </array>
              <!-- Reset the cache and test temporary directories -->
              <boolean>true</boolean>
              <!-- Create timer output in app/cache/phpunit-test-timer.txt -->
              <boolean>true</boolean>
           </arguments>
        </listener>
    </listeners>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/phpunit/unit/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
    <logging>
    </logging>
</phpunit>
