/*** Fieldset: Geolocation ***/

fieldset.bolt-field-geolocation {
    .mapframe {
        min-width: 150px;
        max-width: 200px;

        @include respond-to(medium-screens) {
            max-width: none;
        }
    }

    .mapholder {
        background: #e5e3df;
        border: 1px solid #bbb;
        height: 150px;
        text-align: center;
        color: darken(#e5e3df, 5%);
        clear: both;

        @include respond-to(wide-screens) {
            height: 180px;
        }

        i {
            margin-top: (150px - 65px) / 2;
        }
    }

    input[type="text"] {
        width: 100%;
    }

    .matched, .latitude, .longitude {
        box-shadow: none;
        font-size: 1em;
        line-height: 1em;
        cursor: text;
        padding: 0.5em;
        height: auto;
    }

    .expand {
        float: right;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-bottom: 3px;
    }

    .compress  {
        display: none;
    }

    .header {
        padding-top: 3px;
    }

    .expanded {
        background: $basebgcolour;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: inherit;
        min-width: none;
        max-width: none;
        z-index: 100999;
        padding: 40px 10px 25px 10px;

        .mapholder {
            height: 100%;
        }

        label {
            position: absolute;
            left: 15px;

            &.header {
                top: 6px;
                font-size: 140%;
            }

            &.snapbox {
                bottom: 0;
            }
        }

        .compress {
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .expand {
            display: none;
        }
    }
}
