/*** Fieldset: Repeaters and Blocks ***/

fieldset.bolt-field-repeater,
fieldset.bolt-field-block {
    >label.main {
        margin-top: 10px;
        float: none;
        padding-left: 0px;
    }

    .repeater-group {
        border: 0;
        border-left: 6px solid #CCC;
        border-radius: 0;
        margin: 0px;
        box-shadow: none;
        background-color: transparent;
        margin-bottom: 2em;
    }

    .panel-heading {
        border: 0;
    }

    .panel-body {
        padding: 15px 0 0 15px;
    }

    .repeater-field,
    .block-field {
        @include make-xs-column(12);

        margin-top: 24px;
        padding: 0;

        &:first-of-type {
            margin-top: 0;
        }

        // Reset styles for last field since this is in its own panel
        &:last-of-type {
            margin-bottom: 0;
            border-bottom: none;
        }
    }

    .block-collapse {
        margin-bottom: 24px;
    }

    .toggle-block {
        cursor: pointer;
    }

    .repeater-collapse {
        .expandible {
            display: none;
        }

        &.collapsed {
            .expandible {
                display: block;
            }
            .collapsible {
                display: none;
            }
        }
    }

}
