/*** Fieldset: Repeater ***/

fieldset.bolt-field-repeater {
    >label.main {
        margin-top: 10px;
        float: none;
        padding-left: 0px;
    }

    .repeater-add {
        float: right;
    }

    .repeater-group {
        border: 1px solid #ddd;
        margin: 15px;
    }

    .repeater-field {
        @include make-xs-column(12);

        margin-top: 24px;

        &:first-of-type {
            margin-top: 0;
        }
    }
}
