/*** Fieldset: Repeater ***/

fieldset.bolt-field-repeater,
fieldset.bolt-field-block {
    >label.main {
        margin-top: 10px;
        float: none;
        padding-left: 0px;
    }

    .repeater-add {
        float: right;
    }

    .repeater-group {
        border: 1px solid #ddd;
        margin: 15px;
    }

    .repeater-field {
        @include make-xs-column(12);

        margin-top: 24px;

        &:first-of-type {
            margin-top: 0;
        }

        // Reset styles for last field since this is in its own panel
        &:last-of-type {
            margin-bottom: 0;
            border-bottom: none;
            padding-bottom: 15px;
        }
    }
}
