/*** Fieldset: Slug ***/

fieldset.bolt-field-slug {
    .input-group-addon {
        background: #fff;
        padding-right: 1px;
        border-right: none;
        color: #999;
    }

    input {
        padding-left: 1px;
        border-left: none;
        text-overflow: ellipsis;
        // Correct something (probably) wrong in Bootstrap customizing:
        line-height: 18px;
        height: 32px;
    }

    button {
        font-family: "FontAwesome";

        &:after {
            content: "\f13e"; // fa-unlock-alt
            color: #080;

        }
    }

    .locked {
        .input-group-addon, input {
            background: #f8f8f8;
            color: #999;
        }

        button:after {
            content: "\f023"; // fa-lock
            color: #a00;
        }
    }
}