/*** Fieldset: Slug ***/

fieldset.bolt-field-slug {
    $background-readonly: #f8f8f8;
    $color-readonly:      #999;

    .input-group-addon {
        background: $background-readonly;
        color: $color-readonly;
        padding-right: 1px;
        border-right: none;
    }

    input {
        padding-left: 1px;
        border-left: none;
        text-overflow: ellipsis;
        color: $color-readonly;
        // Correct something (probably) wrong in Bootstrap customizing:
        line-height: 18px;
        height: 32px;

        &[readonly] {
            background: $background-readonly;
        }
    }

    button {
        // Make the dropdown button more narrow.
        padding-left: 8px;
        padding-right: 8px;
    }

    li.link var {
        margin-left: 20px;
        display: block;
        color: #888;
    }

    .edititable {
        .input-group-addon, input {
            background: #fff;
        }
        input {
            color: #000;
        }
    }
}