<h2>
    <i class="fa fa-paperclip"></i> {{ __('general.phrase.stack-files') }}
</h2>

<fieldset class="buic-stack" data-bolt-widget="buicStack">
    <div class="stackholder">
        {% for file in stack()[:context.count] %}
            {% include '@bolt/components/stack/ck-item.twig' with {'file': file} only %}
        {% endfor %}
    </div>
</fieldset>
