<div class="btn-toolbar semi-block align-left" style="margin-bottom:25px;">
    <div class="btn-group">
        {% for slug, gcontenttype in app.config.get('contenttypes') %}
            {% if gcontenttype.relations.pages is defined %}
                {% if gcontenttype.slug == local_subcontenttype.slug %}
                    {% set class = 'btn active' %}
                {% else %}
                    {% set class = 'btn' %}
                {% endif %}
                {% set href = path('relatedto', { 'contenttypeslug': context.contenttype.slug, 'id': context.id }) %}
                <a class="{{ class }}" href="{{ href }}?show={{ gcontenttype.slug }}">
                    {{ gcontenttype.name }}
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
