{### Template: Progress bar ###}

{% set template_buic_progress_bar %}
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="%VALUE%" aria-valuemin="0" aria-valuemax="100" style="width:{{ '%VALUE%' }}%">%LABEL%</div>
    </div>
{% endset %}

{{ data('buic.progress.bar', template_buic_progress_bar|trim|preg_replace('/>\\s+</', '><')) }}
