{% extends 'partials/_master.twig' %}

{% block main %}

    <h1>{{ record.title }}</h1>

    {# Output all fields, in the order as defined in the contenttype.
       To change the generated html and configure the options, see:
       https://docs.bolt.cm/templating #}
    {{ block('sub_fields', 'partials/_sub_fields.twig') }}

    {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
    {{ dump(record) }}
    #}

    {% include 'partials/_recordfooter.twig' with { 'record': record, 'extended': true } %}

{% endblock main %}
