.navbar-fixed-top, .navbar-fixed-bottom  {    
    position: static;
    margin-bottom: 20px;
}

footer  {    
    display: block;
    border-top: 1px solid #CCC; 
}


#main {
    
    margin: 20px;

}