<li class="search">
    <form class="navbar-form">
        <i class="icon fa fa-search"></i><div class="form-group has-feedback omnisearch" role="search">
            <select class="form-control"></select>
        </div>
    </form>
</li>
