<div class="btn-group">
    {% for contenttypeslug, contenttype in app.config.get('contenttypes') %}
        {% if isallowed('contenttype:' ~ contenttypeslug ~ ':create') and isallowed('contenttype:' ~ contenttypeslug ~ ':view') %}
            <a class="btn btn-default" href="{{ path('editcontent', {'contenttypeslug': contenttypeslug}) }}">
                <i class="fa fa-plus"></i> {{ __('contenttypes.generic.new', {'%contenttype%': contenttypeslug}) }}
            </a>
        {% endif %}
    {% endfor %}
</div>
