<div class="contenttype-title">
    <span class="pull-right">
            <a href="{{ path('overview', {'contenttypeslug': contenttype}) }}" class="morelink">
                {{ __('contenttypes.generic.show-more', {'%contenttypes%': contenttype}) }} »
            </a>
        </span>
        <h3>{{ __('contenttypes.generic.recently-edited', {'%contenttypes%': contenttype}) }}</h3>
</div>

<table class="table table-striped dashboardlisting">
    {% for content in multiplecontent %}
        {% set editable = isallowed('edit', content) %}
        {% include ['custom/listing/' ~ content.contenttype.slug ~ '.twig', '_sub/_listing.twig']
            with {'excerptlength': 280, 'thumbsize': 54, 'compact': true} %}
    {% endfor %}
</table>
