<div class="contenttype-title">
    <span class="pull-right">
            <a href="{{ path('overview', {'contenttypeslug': contenttype}) }}" class="morelink">
                {{ __('contenttypes.generic.show-more', {'%contenttypes%': contenttype}) }} »
            </a>
        </span>
        <h3>{{ __('contenttypes.generic.recently-edited', {'%contenttypes%': contenttype}) }}</h3>
</div>

<table class="table dashboardlisting buic-listing">
    {% for content in multiplecontent %}
        {% set listing_vars = {
            'compact':       true,
            'content':       content,
            'excerptlength': 280,
            'permissions':   context.permissions[contenttype],
            'thumbsize':     54,
        } %}
        {% include ['@bolt/custom/listing/' ~ content.contenttype.slug ~ '.twig', '@bolt/_sub/_listing.twig'] with listing_vars %}
    {% endfor %}
</table>
