{% include '@bolt/users/_panel-actions_users.twig' %}

<div id="latestactivity">
    {{ render(path("latestactivity")) }}
</div>

<div id="latesttemp" style="display:none; visibility: hidden;"><!-- intentionally left blank --></div>
