<p>{{ __('The settings for roles and permissions are stored in <code>%permissions%</code>.', {'%permissions%': 'permissions.yml'}) }}</p>
<a class="btn btn-default btn-small" href="{{ path('fileedit', { 'file': '../app/config/permissions.yml'}) }}">{{ __("Roles and Permissions") }}</a>
