{# Page: NavSecondary > Configuration > Users #}

{% extends '_base/_page-nav.twig' %}

{% block page_nav 'Settings/Configuration' %}

{% block page_title __('All users') %}

{# clear default messages, because we use them in a different spot, in this template #}
{% block messages "" %}

{% block page_main %}

    {% import '_macro/_macro.twig' as macro %}

    <div class="row"{{ macro.attr({_bind: ['useragents']}) }}>
        <div class="col-md-9">

            {% include '_sub/_messages.twig' %}

            {% include 'users/_userlist.twig' %}

            <h2><strong>{{ __('Roles and Permissions') }}</strong></h2>

            {% include 'users/_roles-permissons.twig' %}

            <h2><strong>{{ __('Current sessions') }}</strong></h2>

            {% include 'users/_sessions.twig' %}

        </div>

        <aside class="col-md-3">
            {% include 'users/_aside.twig' %}
        </aside>
    </div>

{% endblock page_main %}

{% block page_script %}
    {# parsing the useragents into something more readable. #}
    <script src="{{ paths.app }}view/js/ua-parser.min.js"></script>
{% endblock page_script %}