{# Page: NavSecondary > Configuration > Users #}
{% extends '_base/_page.twig' %}
{% block page_type 'Settings' %}
{% block page_title __('All users') %}
{% block page_main %}

<div class="row">

    <div class="col-xs-12">
        <h1 class="page-header">{{ block('page_title') }}</h1>
    </div>

    <div class="col-md-9">

        {% include 'users/_userlist.twig' %}

        <h2><strong>{{ __('Roles and Permissions') }}</strong></h2>

        {% include 'users/_roles-permissons.twig' %}

        <h2><strong>{{ __('Current sessions') }}</strong></h2>

        {% include 'users/_sessions.twig' %}

    </div>

    <aside class="col-md-3">
        {% include 'users/_aside.twig' %}
    </aside>
</div>
{% endblock page_main %}

{% block page_script %}
    {# parsing the useragents into something more readable. #}
    <script type="text/javascript" src="{{ paths.app }}view/js/ua-parser.min.js"></script>
    <script>
        jQuery(function($) {
            var useragents = $('.useragent').each(function(e){
                console.log($(this).data('ua'));

                var parser = new UAParser($(this).data('ua'));
                var result = parser.getResult();
                $(this).html(result.browser.name + " " + result.browser.major + " / " + result.os.name + " " + result.os.version);
            });

        });
    </script>
{% endblock page_script %}