/*** Fieldset container ***/

div[data-bolt-fieldset] {
    $prefix-postfix-padding: 2px;

    border-bottom: 1px solid transparent; // Transparent line, to keep spacing intact.

    margin-top: 24px;
    margin-bottom: 12px;

    .prefix {
        padding-bottom: $prefix-postfix-padding;
        color: #666;

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    .postfix {
        padding-top: $prefix-postfix-padding;
        color: #666;
    }
}

// The last container, just before save buttons.
div[data-bolt-fieldset]:last-child,
div[data-bolt-fieldset="meta"] {
    border-bottom: 1px solid $light-border;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

// Repeater group.
div[data-bolt-fieldset="repeater"] {
    >.prefix {
        display: none;
    }
}
