/*** Fieldset container ***/

div[data-bolt-fieldset] {
    margin-top: 24px;
    margin-bottom: 12px;
    border-bottom: 1px solid transparent; // Transparent line, to keep spacing intact.

    /*** Prefix / Postfix ***/

    $prefix-postfix-color: #666;
    $prefix-margin: 2px;
    $postfix-margin: 4px;

    .prefix,
    .postfix {
        color: $prefix-postfix-color;

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    .prefix {
        margin-bottom: $prefix-margin;
    }

    .postfix {
        margin-top: $postfix-margin;
    }
}

// The last container, just before save buttons.
div[data-bolt-fieldset]:last-child,
div[data-bolt-fieldset="meta"] {
    border-bottom: 1px solid $light-border;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

// Repeater group.
div[data-bolt-fieldset="repeater"] {
    >.prefix {
        display: none;
    }
}
