#editcontent {

    /*** General ***/

    small {
        font-size: 12px;
        color: #666;
    }

    input,
    select,
    textarea {
        border-radius: 2px;
        border-color: #CCC;
        font-size: $font-size-base + 1px;
    }

    .error {
        border-color: #888;
        color: $state-danger-text;
        background: $alert-danger-bg;
    }

    .cke_error {
        border-color: $state-danger-text;
    }

    /*** Input widths ***/

    input.large {
        font-size: 150%;
        height: 100%;
    }

    .narrow {
        width: 45%;
        min-width: 200px;
    }

    .verynarrow {
        width: 8%;
        min-width: 50px;
    }

    .narrow.wide { /* Derp! */
        width: 60%;
        min-width: 200px;
    }

    /*** Dropzone ***/

    .dropzone.hover,
    .dropzone.in {
        background: #DEF;

        & * {
            opacity: 0.7;
        }
    }

    /*** Fileselect button group ***/

    .fileselectbuttongroup {
        & > * {
            margin: 8px 8px 4px 0;
            float: left;
        }
        .caret {
            margin: 0 -4px 0 4px;
        }
    }

    /*** Image-Holder ***/

    @media (min-width: 768px) {
        .right-on-large {
            float: right;
        }
    }

    .imageholder {
        overflow: hidden;

        img {
            max-height: 148px;
            max-width: 100%;
            border: 1px solid #BBB;
        }
    }

    /*** Input: Datepicker ***/

    input.datepicker {
        width: 21%;
        min-width: 120px;
        margin-right: 6px;
        float: left;

        /* Allow wider datepickers on desktops */
        @media (min-width: 480px) {
            &.wide{
                width: 35%;
            }

            &.extrawide{
                width: 55%;
            }
        }
    }

    /*** Input: Number ***/

    input[type=number] {
        width: 20%;
        min-width: 140px;
    }

    /*** Input: Textarea ***/

    textarea {
        width: 100%;
        height: 200px;
        padding-right: 0;
        font-size: 14px;
        line-height: 21px;
        color: #444;
        font-family: $fonts-family-monospace;
    }

    /*** Input: Timepicker ***/

    input.timepicker {
        width: 10%;
        min-width: 93px;
        float: left;
    }

    /*** Input: Markdown ***/

    .uk-htmleditor-content .CodeMirror {
        font-size: 14px;
        border: 0 !important;
        font-family: $fonts-family-monospace;
        margin: 0;
    }

    .uk-htmleditor-navbar {
        border-top: 1px solid #CCC;
        border-left: 1px solid #CCC;
        border-right: 1px solid #CCC;
    }

    .uk-htmleditor-preview {
        padding: 6px 14px;
        font-size: 14px;
    }

    .uk-htmleditor-fullscreen {
        margin-top: 52px;
        margin-bottom: 24px;
        // Z-index has to be a ridiculous value, because the sidebar is 1000001,
        // which in turn has to be higher than Symfony's vardumper, which is 100000.
        z-index: $zindex-fullscreen-editor;
    }
}
