{# Page: NavSecondary > Configuration > Clear the cache #}
{% extends '_base/_page.twig' %}
{% block ptype 'Settings' %}
{% block page_title __('Clear the cache') %}
{% block pmain %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{ block('page_title') }}</h1>
    </div>
</div>

<p>
    <a href="{{ path('clearcache') }}" class="btn btn-primary">{{ __('Clear cache again') }}</a>
</p>

{% endblock pmain %}
