.extend-bolt-container {
    .hide-block {
        display: none;
    }

    .install-container {
        position:relative;
        input {
            width: 50%;
            padding: 0.5em;
        }
        label {
            display: block;
            margin-top: 15px;
        }
    }

    .installed-container {
        .panel-heading {
            @include clearfix;
            padding: 5px 15px 4px 10px;

            & > em {
                display: inline-block;
                margin-top: 3px;
                font-style: normal;
                font-size: 140%;

                &:before {
                    position: relative;
                    top: -2px;
                    display: inline-block;
                    font-size: 120%;
                    font-family: Fontawesome;
                    vertical-align: middle;
                    width: (18em / 14);
                    margin-right: 0.3em;
                    text-align: center;
                    content: $fa-var-question-circle;
                }

                &.bolt-extension:before  {
                    content: $fa-var-cube;
                }

                &.bolt-theme:before  {
                    content: $fa-var-photo;
                }
            }

            & > div {
                float: right;

                em {
                    float: right;
                    clear: both;
                    font-size: 120%;
                    font-style: normal;
                    font-weight: bold;
                    color: #555;
                }

                small {
                    float: right;
                    clear: both;
                    color: #999;
                }
            }
        }

        .panel-body {
            & > div {
                margin-top: 5px;
                text-indent: -1em;
                padding-left: 1.5em;

                &:first-child {
                    margin-top: 0;
                }

                &:before {
                    display: inline-block;
                    font-family: Fontawesome;
                    vertical-align: middle;
                    width: 1em;
                    text-align: center;
                }
            }

            .description:before {
                content: $fa-var-info-circle;
            }

            .tags:before {
                content: $fa-var-tag;
            }

            .author:before {
                content: $fa-var-user;
            }
        }

        .panel-footer {
            @include clearfix;
            background: #fff;
            & > div {
                float: right;
            }
        }
    }

    .auto-search {
        position: absolute;
        top: 28px;
        background-color: #f1f2f7;
        border-radius: 2px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
        width: 50%;
        z-index: 1000;
        max-height: 410px;
        overflow: scroll;

        .btn {
            border-radius:0;
            margin-top:0;
        }
    }

    #extension-log {
        border: 1px solid #000;
        padding: 4px;
        font-size: 10px;
        line-height: 1em;
        font-family: $fonts-family-monospace;
        color: #CCC;
        background-color: #333;
        max-height: 300px;
        height: 300px;
        overflow-y: scroll;
        margin-bottom: 16px;

        .timestamp {
            color: #BBF;
        }

        .command {
            font-weight: normal;
            color: #8F8;
        }

        .error {
            font-weight: bold;
            color: #F44;
        }

        .warning {
            font-weight: bold;
            color: #FF4;
        }
    }

    .tag.label {
        background-color: #888;
        font-weight: normal;
        letter-spacing: 0.5px;
    }
}

#extension-error {
    code {
        display: block;
        white-space: pre-wrap;
    }
}
