#navpage-primary .omnisearch {
    width: 280px;
}

#navpage-secondary .omnisearch {
    width: 180px;
}

.omnisearch {
    // Result.
    .select2-results__option {
        div {
            font-weight: bold;

            & span {
                font-weight: normal;
            }
        }

        small {
            display: block;
            font-size: smaller;
            color: #999;
        }
    }

    // Highlighted result.
    .select2-results__option--highlighted small {
        color : #fff; // better contrast.
    }

    // Input field.
    .select2-search__field {
        color: #000 !important;
        background: #fff !important;
    }
}
