/**** MODE: Hidden + Shown ****/
#navpage-content {
    padding: 12px 16px 60px 6px;
    transition: left 0.3s;
    position: absolute;
    left: 0;
    right: 0;
}

@include respond-to(medium-screens) {
    /**** MODE: Expanded ****/
    #navpage-content {
        padding-top: 16px;
        padding-left: 42px;
        left: $nav-secondary-large-width;
    }

    /**** MODE: Collapsed ****/
    #navpage-wrapper.nav-secondary-collapsed {
        #navpage-content {
            padding-left: 42px;
            left: $nav-secondary-collapsed-width;
        }
    }
}
