/**** MODE: Hidden + Shown ****/
#navpage-content {
    padding-top: 16px;
    padding-bottom: 48px;
    transition: left 0.3s;
    position: absolute;
    left: 0;
    right: 0;
}

@include respond-to(medium-screens) {
    /**** MODE: Expanded ****/
    #navpage-content {
        left: $nav-secondary-large-width;
    }

    /**** MODE: Collapsed ****/
    #navpage-wrapper.nav-secondary-collapsed {
        #navpage-content {
            left: $nav-secondary-collapsed-width;
        }
    }
}

