$nav-secondary-breakpoint: 768px;

$nav-primary-min-height: 50px;
$nav-secondary-small-width: 280px;
$nav-secondary-large-width: 180px;

$nav-secondary-h-padding: 8px;
$nav-secondary-v-padding: 8px;
$nav-secondary-divider-margin: 14px;
$nav-secondary-divider-padding: 6px;
$nav-secondary-icon-size: 22px;
$nav-secondary-icon-margin: 8px;
$nav-secondary-indent: ($nav-secondary-icon-size + $nav-secondary-icon-margin);
$nav-secondary-collapsed-width: ($nav-secondary-h-padding + $nav-secondary-indent);

@mixin in-large-mode() {
    @media (min-width: $nav-secondary-breakpoint) {
        @content;
    }
}

@mixin hide() {
    visibility: hidden;
    display: none;
}

@mixin show() {
    visibility: visible;
    display: block;
}

@mixin nav-secondary-divider() {
    border-top: 1px solid lighten($sidebarbackground, 8);
    padding-top: $nav-secondary-divider-padding;
    margin-top: $nav-secondary-divider-margin;
}

#navpage-wrapper {
    width: 100%;
    height: 100%;
    background: $basebgcolour;
}

@import "primary";
@import "secondary";
@import "content";
