#navpage-wrapper {
    width: 100%;
    height: 100%;
    background: $basebgcolour;
}

  // Override for wrong focus color in Foundation.
ul.nav > li > a {
    &:hover,
    &:focus {
      background-color: $sidebarbackgroundhover !important;
    }
  } 

@import "primary";
@import "secondary";
@import "content";
