# This file defines the menus on the website. See the documentation for
# details: http://docs.bolt.cm/menus
# TODO: Write documentation for menus. ;-)

main:
  - label: Home
    title: This is the first menu item. Fo shizzle!
    path: homepage
    class: first
  - path: entry/1
    label: Second item
    submenu:
      - label: Sub 1
        path: entry/2
      - label: Sub 2
        class: okidoki
        path: entry/3
      - label: Sub 3
        path: entry/4
      - class: sub-class
        path: page/3
  - label: Menu item 3
    path: page/4
  - label: Last menu item
    link: http://google.nl
    class: last