roles:
    editor:
        description: This user can edit stuff
        label: Editor
    chief-editor:
        description: This user can edit anything
        label: Chief Editor
    guest:
        label: Guest Editor

global:
    login: [ editor ]
    user-admin: [ admin, chief-editor ]
    contenttype-edit: [ admin ]
    config-edit: [ admin ]

contenttype-all:
    edit: [ admin, chief-editor ]
    create: [ admin, chief-editor ]
    publish: [ admin, chief-editor ]
    depublish: [ admin, chief-editor ]
    delete: [ admin ]

contenttype-default:
    edit: [ editor ]
    create: [ editor ]
    view: [ everyone ]

contenttypes:
  pages:
    edit: [ editor, guest ]
  entries:
  kitchensinks:
    view: [ admin, editor, chief-editor ]
