/*** Styles for all Fieldsets ***/

fieldset[class*=' bolt-field-'],
fieldset[class^='bolt-field-'] {
    // Move standard boostrap form-group margins from here to data-bolt-fieldset to position prefix/postfix
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    /// Label
    label,
    .control-label {
        font-weight: normal;
        font-size: 13px;
        color: #808080;
    }

    // Main label
    label.main {
        color: #282828;
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 6px;
    }

    // Info popup
    .info-pop {
        cursor: help;
        color: #bbb;
        padding-left: 4px;
    }
}

/*** Styles for all filelists/imagelists ***/

fieldset.bolt-field-filelist,
fieldset.bolt-field-imagelist {
    // Empty placeholder
    p {
        padding: 8px;
        color: #999;
        margin: 0;
        font-style: italic;
    }

    img {
        padding-right: 6px;
    }

    .buttons {
        float: left;
        padding: 7px 8px;
    }

    .list {
        border: 1px solid #e0e0e0;
        padding: 0;
        width: 100%;
        background-color: #fff;
        border-radius: 3px;
    }

    .item {
        min-height: 48px;
        margin: 6px;
        padding: 4px 6px;
        border: 2px solid #f0f0f0;
        border-radius: 3px;
        cursor: pointer;
        overflow: hidden;
        background: #f6f6f6;

        &.selected {
            border: 2px solid $btn-tertiary-bg;
        }

        &.zombie {
            border: 2px solid #d00;
            opacity: 0.1;
        }

        &.ui-sortable-helper {
            cursor: ns-resize;
        }

        * {
            float: left;
        }

        input {
            padding: 1px 0 0 5px;
            width: 65%;
            border: 0;

            @include respond-to(medium-screens) {
                width: 83%;
            }
        }

        input.title {
            border: 1px solid #f0f0f0;
            background-color:#fbfbfb;
        }

        // Remove button
        a.remove {
            padding: 5px;
            cursor: pointer;
            color: #999;
            float: right;
            border-radius: 3px;

            &:hover {
                background: #dcdcdc;
            }
        }

        // File description
        span.desc {
            color: #aaa;
            font-size: 90%;
            padding: 3px 0 0 4px;
        }

        //
        .icon {
            height: 37px;
            width: 32px;
            overflow: hidden;
            text-align: center;
            margin-right: 6px;
            margin-top: 3px;
            color: #bbb;

            i {
                font-size: 180%;
                float: none;
            }

            span {
                display: block;
                float: none;
                font-size: 85%;
            }
        }
    }
}
