# The basepath for the extension's routes. Do not include the leading slash ('/')
# This path determines the location used to log in or out, like '/authenticate/login'
basepath: "authenticate"

# enabled OpenID providers
# options are dependent on the values for hybridauth
providers:

    Google:
        label: Google account
        enabled: true
        keys:
            id: "*** your ID here ***"
            secret: "*** your secret here ***"

    Facebook:
        label: Facebook connect
        enabled: true
        keys:
            id: "*** your ID here ***"
            secret: "*** your secret here ***"
        scope: "email"

    Twitter:
        label: Twitter sign in
        enabled: true
        keys:
            key: "*** your KEY here ***"
            secret: "*** your secret here ***"

    GitHub:
        label: Github account
        enabled: true
        keys:
            id: "*** your ID here ***"
            secret: "*** your secret here ***"
       
    # MyOpenIdProvider:
    #     type: OpenID
    #     label: MyOpenIdProvider account
    #     enabled: true
    #     openid_identifier: "http://openid.example.org"
        

# Enabling debug_made will make this extension write out a logfile to {BOLT_CACHE_DIR}/authenticate.log.
# Note: This file wil get huge, quickly!
debug_mode: false

button_markup: "<a class='button' style='padding: 3px 6px; margin-bottom: 4px;' href='%link%'>%label%</a>"


