<div id="searchbar" class="pull-right">

    <form method="get" action="/search" id="searchform" enctype="text/plain">

        <input type="text" name="search" value="{{ app.request.get('search') }}" placeholder="{{ __('Search for …') }}" >
        <input type="submit" name="submit" value="{{ __('Search') }}" >

    </form>

</div>
<!--
<script>

    $('#searchbar :input[name="submit"]').bind('click', function () {
        var link = "/search/" + encodeURI($('input[name="searchterms"]').val());
        location.href = link;
    });

    $('#searchbar input[name="searchterms"]').keyup(function (e) {
        if (e.keyCode == 13) {
            var link = "/search/" + encodeURI($('input[name="searchterms"]').val());
            location.href = link;
        }
    });

</script>
-->
