<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ config.get('general/sitename') }} | Maintenance</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/maintenance.css', 'bolt') }}">

</head>

<body>

<div class="container">

    <img src="{{ asset('img/bolt-logo.png', 'bolt') }}" width="150" height="62" alt="Bolt" class="logo">

    <div class="alert">
        <h1><b>{{ config.get('general/sitename') }}</b> &raquo; Maintenance</h1>
        <p>
            This website is currently offline, as we are performing site maintenance. <br>
            Please be patient - we'll be back shortly!
        </p>
    </div>

</div>


</body>
</html>
