<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ app.config.general.sitename }} | Under Maintenance</title>
    <style>
    body { background-color: #f7f7f9; }
	.alert { text-align: center; position: absolute; top: 40%; width: 97%; padding: 6px 7px 7px; font-weight: bold; font-size: 14px; color: white; background-color: #2ba6cb; border: 1px solid rgba(0, 0, 0, 0.1); -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; text-shadow: 0 -1px rgba(0, 0, 0, 0.3); }
    </style>
</head>

<body>

<div class="alert">
    The site is currently in maintenance mode while we do some backend work. We will be back shortly.
</div>


</body>
</html>