{% spaceless %}
    <div class='widget' id='widget-{{ widget.key }}' data-key='{{ widget.key }}'
    {%- if widget.defer %} data-defer='true'{% endif -%}
    >
        {{ html|default('<!-- placeholder for ' ~ widget.name ~ ' -->')|raw }}
    </div>
{% endspaceless %}