# This is the config file for the Simple Forms extension.

stylesheet: assets/simpleforms.css
template: assets/simpleforms_form.twig
mail_template: assets/simpleforms_mail.twig
message_ok: Thanks! Your message has been sent.
message_error: There was an error in the form. Please check the form, and try again.
message_technical: There were some technical difficulties, so your message was not sent. We apologize for the inconvenience.
button_text: Send
# Optional. Used only, when you have a file field.
# mime_types_message: "Not allowed file type. Allowed file types are:"

# ReCaptcha Config - Set these options to enable ReCaptcha spam protection.
# Generate your keys at https://www.google.com/recaptcha/admin/create
recaptcha_enabled: false
recaptcha_public_key: ''
recaptcha_private_key: ''
recaptcha_error_message: "The CAPTCHA wasn't entered correctly. Please try again."
recaptcha_theme: clean

# Enable CSRF protection for forms. You should leave this set to 'true', unless
# you know what you're doing.
csrf: true

# Default fallback sender email
# this is required because Swiftmailer will reject the message without one
# please make this a sensible existing email address
from_email: default@example.org
from_name: Default

# global cc email address
# set this value to an email address that will receive a copy of every email from simpleforms
# recipient_cc_email: info@example.com
# recipient_cc_name: Info

# global bcc email address
# set this value to an email address that will receive a blind copy of every email from simpleforms
# recipient_bcc_email: info@example.com

# global testmode
# for development all email will be sent to this address
# all other recipient and cc addresses will be ignored
# remove or set 'testmode' to false for a production site
testmode : true
testmode_recipient: info@example.com

# from_email and from_name can be set for picky SMTP servers

# A simple contact form. Use as {{ simpleform('contact') }} in your templates.
contact:
  recipient_email: info@example.org
  recipient_name: Info
  fields:
    name:
      type: text
      required: true
      placeholder: Your name ..
    email:
      type: email
      label: Email address
      required: true
      placeholder: Your email address ..
    message:
      type: textarea
      required: true
      placeholder: Your message ..

# A demo form to showcase various options for fields. Use as
# {{ simpleform('demo') }} in your templates.
demo:
  mail_subject: "Fancy Mail Subject"
  from_email: demoform@example.org
  from_name: demoform sender
  # you can override the default sender email-address in a form
  recipient_email: info@example.org
  recipient_name: Info
  recipient_cc_email: another@example.com
  recipient_cc_name: Another Email Address
  # if you want to save form content to a database make a table with the exact column names and types of your fields
  insert_into_table: bolt_your_table_name
  # uploaded files will be saved here if you have a file field
  storage_location: demo_uploads
  # uploaded files attached to the email if true
  attach_files: true
  fields:
    subject:
      type: text
      class: wide
      required: false
      label: Subject of your message
      placeholder: Just a quick message ..
      maxlength: 30
    name:
      type: text
      required: true
      placeholder: Your name ..
    email:
      type: email
      label: Email address
      required: true
      placeholder: Your email ..
      use_as: from_email
      use_with: name
    message:
      type: textarea
      required: true
      placeholder: Well, the other day I was thinking that maybe you ought to improve your website by adding ..
    favorite:
      type: choice
      label: My favorite animals are
      empty_value: My favorite animals are
      choices: [ Kittens, Puppies, Penguins, Koala bears, "I don't like animals" ]
      required: true
    file:
      type: file
      label: Upload a file
      required: true
      filetype: [jpg, gif, tiff, png, pdf]
      #mimetypes are optional, used by Symfony Forms Validator
      mimetype: ["application/pdf", "application/x-pdf", "image/tiff", "image/x-tiff", "image/png", "image/jpeg", "image/pjpeg", "image/gif"]
    option1:
      type: checkbox
      label: Newsletter
      placeholder: Yes, I <em>love</em> receiving <del>spam</del>, eh, newsletters.
    option2:
      type: checkbox
      label: Agree to this!
      placeholder: Yes, I will gladly agree to something or other.
      required: true
  button_text: Send the Demo form!
