# User roles that are allowed to use the Ed-It inplace editor
# Similar to MenuEditor available roles are: root, admin, developer, chief-editor, editor, guest, everyone
permissions: [ admin, developer, chief-editor ]

# Define your Javascript inline editor module here.
# For developer purposes it is the raw javascript code and isn't minified. Change to minified for better performance.
# At the moment it is using Raptor editor. See licensing terms here: https://www.raptor-editor.com/
# Raptor's saveJson plugin has patched to be able to post some metadata about content.
editorjs: raptor.js

# CSS style for editor
editorcss: raptor-front-end.css

# Bootstrap code to initialize editor instances
startup: startup.js
