{% if user %}
    <div class="primary callout">
        <p><strong>Welcome to the Bolt Skeleton theme. </strong></p>
        <p>This is a minimal theme, with a modular structure. It is well suited to build your own theme's on top of.</p>
        <ul>
            <li>Check the <a href='https://github.com/bobdenotter/bolt-foundation-theme/blob/master/readme.md'>readme.md</a> for instructions on how to customize this theme.</li>
            <li><a href='{{ path('fileedit', {'namespace': 'theme', 'file': 'index.twig'}) }}'>Edit this template</a>, to get rid of this 'callout'.</li>
        </ul>
        <small>Note: Only registered users will see this. This piece of content is hidden from regular visitors.</small>
    </div>
{% endif %}
