# The CSS stylesheet
stylesheet: css/rateit.css

# CSS stylesheet location: 'head', 'body' (default: 'head')
# will locate the CSS in eithe the <head> section or near the end of the <body> 
# section
location: head

# Number of stars (default: 5)
#stars: 5

# Increment of voting: '0.25', '0.5', '1' (default: 0.5)
#increment: 0.5

# Hover tool-tip text for each star
#tooltips: ['Bad', 'Poor', 'OK', 'Good', 'Superb']

# Size of the stars: 'small' or 'large' (default: small)
#size: large

# Class for the AJAX repsonse div (default: '')
#reponse_class: panel

# Message returned to the person giving the rating. Uses the macro %RATING% 
# (default: blank)
#response_msg: 'Your rating of %RATING% has been recorded. Thank you!'  

# Log votes: 'on' or 'off' (default: off)
#logging: on
