<ul>
{% set depth = 1 %}
{% for entry in entries %}
    {% if entry.link is defined %}
        {% if entry.depth is defined and entry.depth > depth %}
            <ul>
        {% endif %}
        {% if entry.depth is defined and entry.depth < depth %}
            </ul>
        {% endif %}
        <li><a href="{{ entry.link }}">{{ entry.title }}</a></li>

        {% if entry.depth is defined %}
            {% set depth = entry.depth %}
        {% else %}
            {% set depth = 1 %}
        {% endif %}
    {% endif %}
{% endfor %}
{% if depth > 1 %}
    </ul>
{% endif %}
</ul>