<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ __('Sitemap') }}</title>
</head>
<body>
    <h1>{{ __('Sitemap') }}</h1>
    <ul>
    {% for entry in entries %}
        <li><a href="{{ entry.link }}">{{ entry.title }}</a></li>
    {% endfor %}
    </ul>
</body>
</html>