
<!-- Footer -->

<footer class="row">
    <div class="twelve columns">
        <hr />
        <div class="row">
            <div class="six columns">
                <p>{{ __("This website is <a href='%url%' target='_blank' title='Sophisticated, lightweight & simple CMS'>Built with Bolt</a>.",{'%url%':'http://bolt.cm'}) }}
                </p>
            </div>
            <div class="six columns">
                <ul class="link-list right">
                    {{ menu() }}
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- End Footer -->




</div>

</body>
</html>
