{# This file is inserted as the 'footer' of each listed record. #}
<h6>
    Written by <em>{{ record.user.displayname }}</em> on {{ record.datepublish|localdate("%A %B %e, %Y")}} <br>
    <a href="{{ record.link }}">Permalink</a> -
    {# include the 'default' links to taxonomies. Check the documentation for ways to modify and customize 
       what is output to the browser: http://docs.bolt.cm/taxonomies#taxonomies #}
    {% include '_sub_taxonomylinks.twig' with {record: record} %}
</h6>
