<li class="search">
    <form method="get" action="{{ paths.root }}search" id="searchform" enctype="text/plain">
        <input type="search" value="{{ search }}" placeholder="Search.." name="search">
    </form>
</li>


