{##
 # Template for sidebar panels
 #
 # Blocks: panel_class:  A classname used for styling
 #         panel_icon:   A fontawsome CSS class name (Optional)
 #         panel_head:   The headline
 #         panel_body:   The Body
 #}
<div class="panel panel-default {% block panel_class %}{% endblock panel_class %}">
    <div {% block panel_alert %}class="panel-heading"{% endblock panel_alert %}>
        <i class="fa fa-fw {% block panel_icon %}fa-circle-o{% endblock panel_icon %}"></i>
        {% block panel_head %}[PANEL_HEAD]{% endblock panel_head %}
    </div>

    <div class="panel-body">
        {% block panel_body %}[PANEL_BODY]{% endblock panel_body %}
    </div>
</div>
