{% if news.title is defined %}
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bullhorn fa-fw"></i> {{news.title}}
    </div>
    <div class="panel-body">
        {{news.teaser|raw}}
    </div>
</div>
{% endif %}
