{##
 # Sidebar-Panel: Displays the specific record's recent change log entries
 # (Usage Example: Edit content)
 #}
{% extends '@bolt/_base/_panel.twig' %}

{% import '@bolt/_macro/_macro.twig' as macro %}

{% block panel_class 'panel-change-record' %}

{% block panel_icon 'fa-clock-o' %}

{% block panel_head __('contenttypes.generic.recent-changes-one',{'%contenttype%': context.contenttype}) %}

{% block panel_body %}
    {% import '@bolt/_macro/_buic.twig' as buic %}

    <div id="changeholder">
        <div class="row">
            <div class="col-xs-12">
            {% for item in context.entries %}
                <p>- <a href="{{ path('changelogrecordsingle', {'contenttype': item.contenttype, 'contentid': item.contentid, 'id': item.id}) }}">
                    {{ buic.moment(item.date) }}
                    </a> changed by <em>{{ macro.userlink(item.ownerid|default('')) }}</em>
                </p>
            {% else %}
                <div class="nochangeitems">{{ __('There are no saved changes, yet.') }}</div>
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock panel_body %}
