<p style="color: #204460;"><strong>Congratulations! Bolt Set-up Complete</strong></p>
<p></p>
<p>
    If you have recived this e-mail, your new Bolt site '{{ sitename }}' is up
    and running and your outbound e-mail settings are correct.
</p>
<p></p>
<p>
    Thank you from all of the people that contribute to creating Bolt, we
    welcome your new site and hope that you enjoy using it as much as we enjoy
    creating it!
</p>
