<p style="color: #204460;"><strong>This is a test e-mail from Bolt!</strong></p>
<p></p>
<p>
    This was sent from the Bolt site with the name {{ sitename }} and the IP
    address of {{ ip }}, by the user {{ user }}
</p>
