<div class="row">
    <p>
    Couldn't read <code>{{ filename }}</code>-file inside <code>{{ directory }}</code>.
    </p>

    <p>
    Make sure the file exists and is readable to the user that the web server is running as.
    </p>
</div>
