<h1>
    Bolt requires 'Magic Quotes' to be <b>off</b>.
</h1>

<p>
    Please send your hoster to <a href="http://www.php.net/manual/en/info.configuration.php#ini.magic-quotes-gpc">
    this page</a>, and point out the <span style="color: #F00;">BIG RED BANNER
    </span> that states that magic_quotes are <u>DEPRECATED</u>. Seriously.
</p>

<p>
    If you can't change it in the server-settings, or your admin won't do it for
    you, try adding this line to your <code>.htaccess</code> file:
</p>

<pre>php_value magic_quotes_gpc off</pre>

