<h1>
    Bolt requires 'Safe mode' to be <b>off</b>.
</h1>

<p>
    Please send your host provider to <a href='http://php.net/manual/en/features.safe-mode.php'>
    this page</a>, and point out the <span style="color: #F00;">BIG RED
    BANNER</span> that states that safe_mode is <u>DEPRECATED</u>. Seriously.
</p>

