/* Overrides for CodeMirror */

.CodeMirror {
    border: 1px solid #DDD !important;
    font-size: 14px;
    line-height: 1.4em;
    font-family: $fonts-family-monospace;
    margin-bottom: 16px;
}

.CodeMirror-scroll {
    background-color: #FFF;
}

.CodeMirror-gutter {
    background-color: #F2F2F2 !important;
    border-right: 1px solid #CCC !important;
}

.cm-tab:after {
    content: "\21e5";
    display: inline-block;
    width: 0;
    position: relative;
    overflow: visible;
    left: -1.4em;
    color: #aaa;
}

/* Codemirror folding */

.CodeMirror-foldmarker {
  color: blue;
  text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
  font-family: arial;
  line-height: .3;
  cursor: pointer;
}
.CodeMirror-foldgutter {
  width: .7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
  content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
  content: "\25B8";
}
