/**
 * Styles for Select2
 */
#editcontent {
    // Selection clear button.
    .select2-selection__clear {
        display: none;
    }

    // Make selection-arrow act more like buttons.
    .select2-selection__arrow {
        border-left: 1px solid #eee;

        &:hover {
            background: #f0f0f0;
        }
    }

    // Overwrite border color and radius for focus (Original 1px black)
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: solid #5897fb 2px;
    }

    // The selected item of a multi select.
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #f4f4f4;
        border: 1px solid #ddd;
        padding: 2px 5px;
    }

    // Push the input line of a multi select into a new line.
    .select2-container--open .select2-search--inline {
        clear: both;
    }

    // Make border same as other Bolt inputs
    .select2-container--default .select2-selection--single,
    .select2-container--default .select2-selection--multiple {
        border-color: #ccc;
        border-radius: 2px;
    }
}
