/**
 * Styles for Select2
 */
#editcontent {
    // Selection clear button.
    .select2-selection__clear {
        display: none;
    }

    // Make selection-arrow act more like buttons.
    .select2-selection__arrow {
        border-left: 1px solid #eee;

        &:hover {
            background: #f0f0f0;
        }
    }

    // Overwrite border color and radius for focus (Original 1px black)
    .select2-container--default.select2-container--focus .select2-selection--multiple {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }

    // The selected item of a multi select.
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #f4f4f4;
        border: 1px solid #ddd;
        padding: 2px 5px;
        display: block;
        width: 100%;
    }

    // Except tags: Don't fill the entire width with tag selects.
    .tags-select2 .select2-container--default .select2-selection--multiple .select2-selection__choice {
        display: inline;
        width: auto;
    }

    // Push the input line of a multi select into a new line.
    .select2-container--open .select2-search--inline {
        clear: both;
    }

    // Make border same as other Bolt inputs
    .select2-container--default .select2-selection--single,
    .select2-container--default .select2-selection--multiple {
        border-color: #ccc;
        border-radius: 2px;
    }
}

/**
 * Styles for Sortable Select2 Fields
 */
.sortable-select2-container {

    .select2-selection__choice {
        cursor: move !important;
        border-color: #d0d0d0;
        padding: 0px;
        display: block;
        width:100%;
        border-radius: 0px;
        border-color: #d0d0d0;
    }

    .select2-drop {
        border-radius: 0px;
    }
    .select2-container-multi.select2-container-active {
        border-color: #646464;
    }
    .select2-container-multi.select2-container-active .select2-choices {
        border-color: #646464;
    }

    .select2-container-multi .select2-choices .select2-search-choice {
        width: 98%;
        padding: 10px 10px 10px 30px;
    }

    .select2-container-multi .select2-search-choice-close {
        left: 10px;
        top: 10px;
    }

    .select2-results .select2-highlighted {
        background: #2f73b6;
    }

    .select2-drop-active {
        border-color: #646464;
    }

}