{# Page: NavSecondary > Content ... > Edit > CkEditor > Image > Browse Server #}

{% extends '@bolt/_base/_page-popup.twig' %}

{% block page_title __('page.ckeditor-browse-server.title') %}

{% block page_main %}

    {% from '@bolt/_macro/_files_path.twig' import files_path %}
    {% import '@bolt/_macro/_macro.twig' as macro %}
    {% import '@bolt/_macro/_buic.twig' as buic %}

    {# Only show the stack on the topmost level. #}
    {% if context.path == "" %}
        {# Show the stack with the latest items. #}
        {{ render(path("stack/show", {'items': 7, 'options': 'minimal'})) }}
    {% endif %}

    <h1{{ macro.attr({_bind: ['ckfileselect']}) }}>{{ block('page_title') }}</h1>

    {% set pathoptions = {
        'path': '',
        'namespace': context.namespace,
        'CKEditor': app.request.query.get('CKEditor'),
        'CKEditorFuncNum': app.request.query.get('CKEditorFuncNum'),
        'langCode': app.request.query.get('langCode')
    } %}

    {{ files_path(context.pathsegments, context.namespace, pathoptions) }}

    {% if context.folders|length > 0 %}
        {% include '@bolt/files_ck/_folders.twig' %}
    {% endif %}

    {% if context.files|length > 0 %}
            {% include '@bolt/files_ck/_files.twig' %}
    {% endif %}

{% endblock page_main %}
