{% block check_aside_button %}
    <a href="{{ check_path }}">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-flag"></i> {{ check_text }}
        </button>
    </a>
{% endblock check_aside_button %}

{% block check_aside %}
    <div class="panel panel-default panel-checks">
        <div class="panel-body">
            {% if context.show_all %}
                {% set check_path = path('checks') %}
                {% set check_text = __('page.checks.show-failed') %}
            {% else %}
                {% set check_path = path('checks', {'all': true}) %}
                {% set check_text = __('page.checks.show-all') %}
            {% endif %}
            {{ block('check_aside_button') }}
        </div>
    </div>
{% endblock %}
