html {
    height: 100%;
}

body {
    background: $basebgcolour;
    color: $bodytextcolour;
    font-size: 13px;
    min-height: 100%;
}


body.popup {
    padding: 6px 12px 0;
}

.table-changelog-details th {
    width: 40%;
}

.table-changelog-details th:first-child {
    width: 20%;
}

.table-changelog-details td {
    vertical-align: top;
}

/**
 * Extensions screen
 */

div.extension {
    border: 1px solid #CCC;
    background: #FFF;
    border-radius: 2px;
    padding: 0 10px 8px;
    margin: 0 10px 8px 0;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, .3);
}

div.extension h3 {
    font-size: 17px;
    line-height: 28px;
    margin: 4px 0 0;
}

div.extension p {
    margin: 0 0 4px;
    line-height: 16px;
}

/**
 * Fancy, simple blockquotes
 */
blockquote.quote {
    border: 0;
    margin: 15px 0px;
    font-size: 21px;
    line-height: 26px;
    font-style: italic;
    font-family: "Times New Roman", Georgia;
    color: #AAA;
}

blockquote.quote cite {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #999;
}

/**
 *
 * TODO: Everything below is copy/pasted from bolt.css, and needs to be reworked into the correct locations.
 *
 */


/* Login Page */

.login-panel {
    margin-top: 25%;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* DataTables Overrides */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50, 50, 50, .5);
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

// Todo: move this.
.login .logo {
    margin-top: 100px;
    width: 179px;
    height: auto;
}

// Todo: move this.
body.exception {
    .logo {
        margin-top: 30px;
        width: 120px;
        height: auto;
    }
    code {
        white-space: pre;
        word-wrap: break-word;
    }

    p.exception {
        font-size: 130%;
        margin: 2em 0;
    }

    td {
        font-family: $fonts-family-monospace;
    }

    th {
        min-width: 4em;
    }

    pre[data-line] {
        padding-left: 4.1em;
    }

    .dim {
        color: #888;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

}

.dropdown-menu .nav-header {
    clear: both;
    float: none;
    padding: 3px 12px;
}

form#filescreenuploader fieldset > div {
    float: left;
    margin-right: 6px;
    margin-top: 6px;
    display: inline;
    width: 100%;
}

.relatedfiles {
    float: right;
}

.alert {
    label {
        display: inline;
        cursor: pointer;
        padding-right: 4px;
    }
}
