/* Overrides for CodeMirror */

.CodeMirror {
    border: 1px solid #DDD !important;
    font-size: 14px;
    line-height: 1em;
    font-family: Menlo, Consolas, Monaco, "Courier New", monospace;
    margin-bottom: 16px;
}

.CodeMirror-scroll {
    background-color: #FFF;
}

.CodeMirror-gutter {
    background-color: #F2F2F2 !important;
    border-right: 1px solid #CCC !important;
}
.cm-tab:after {
    content: "\21e5";
    display: -moz-inline-block;
    display: -webkit-inline-block;
    display: inline-block;
    width: 0px;
    position: relative;
    overflow: visible;
    left: -1.4em;
    color: #aaa;
}