/**
 * Dashboard specific stuff
 */

.morelink {
    font-size: 12px;
    font-weight: normal;
    color: rgba(25, 71, 112, 0.8);
    text-shadow: none;
    line-height: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dashboardlisting {
    box-shadow:  0px 1px 0px -2px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    width: 100%;
    padding: 1px;

    tbody {
        border-top: 0px !important;
    }

    th,
    td {
        border-bottom: 1px solid $table-border-color;
        font-size: 13px;
        line-height: $line-height-base;
        vertical-align: top;
        padding: 10px 8px;
    }

    th {
        background-color: #F2F2F2 !important;
        text-align: left;
        font-weight: bold;
        color: #888;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #E7E7E7;
    }

    th.listthumb {
        padding: 0;
    }

    th h2 {
        margin: 0.4em 0 0.1em;
        color: #666;
    }

    tr {
        background-color: #FFF;
    }

    td {
        border-color: $light-border;
    }

    tr.dim td.id,
    tr.dim td.excerpt,
    tr.dim td.listthumb,
    tr.dim td.username
    {
        opacity: 0.8;
        filter: grayscale(0.5);
    }

    tr.dim img {
        filter: grayscale(0.6) blur(1px);
    }

    td.id,
    td.username,
    td.actions,
    td.listthumb  {
        white-space: nowrap;
        color: #666;
    }
    td.username {
        text-align: left;
    }

    td.check {
        /* padding-top: 10px; */
    }

    td.listthumb {
        padding: 9px 0 2px;
    }

    td.listthumb img {
        max-width: inherit; /* correcting an issue that first popped up in Chrome-dev 30. */
    }

    td.actions {
        text-align: right;

        .btn-group {
            display: inline-flex;
            -webkit-align-self: auto;
            padding-left: 6px;
        }
    }

    .btn-group > .btn + .dropdown-toggle {
      padding-left: 3px;
      padding-right: 6px;
    }

    td.excerpt {
        padding-top: 9px;
    }

    td.excerpt span {
        max-height: 40px;
        /* padding-top: 3px; */
        display: block;
        line-height: 19px;
        color: #777;
        overflow: hidden;
        word-wrap: break-word;
        word-break: break-all;
    }

    td.excerpt.large span {
        max-height: 58px;
    }
}

@media (max-width: 767px) {
    .visible-xs {
        display: inline !important;
    }

    .btn-group {
        margin-top: -8px;
        margin-bottom: 8px;
    }

    .contenttype-title {
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dashboardlisting td.actions {
        padding-left: 4px;
        padding-right: 0;
    }
}

@media (max-width: 640px) {

    .dashboardlisting td.listthumb {
        padding: 4px 0 0 0;
    }

    .dashboardlisting td.listthumb img {
        margin-left: 0px;

    }

    .dashboardlisting td.excerpt {
        padding: 6px 6px 6px 2px;
    }

}
