/**
 * Dashboard specific stuff
 */

.morelink {
    font-size: 12px;
    font-weight: normal;
    color: rgba(25, 71, 112, 0.8);
    text-shadow: none;
    line-height: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dashboardlisting {
    box-shadow:  0px 1px 0px -2px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    width: 100%;
    padding: 1px;
}

.dashboardlisting tbody {
    border-top: 0px !important;
}

.dashboardlisting th,
.dashboardlisting td {
    border-bottom: 1px solid $table-border-color;
    font-size: 13px;
    line-height: $line-height-base;
    vertical-align: top;
    padding: 8px;
}

.dashboardlisting th {
    background-color: #F2F2F2 !important;
    text-align: left;
    font-weight: bold;
    color: #888;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #E7E7E7;
}

.dashboardlisting th h2 {
    margin: 0.4em 0 0.1em;
    color: #666;
}

.dashboardlisting tr {
    background-color: #FFF;
}

.dashboardlisting tr.dim td.id,
.dashboardlisting tr.dim td.excerpt,
.dashboardlisting tr.dim td.listthumb,
.dashboardlisting tr.dim td.username
{
    opacity: 0.8;
    filter: grayscale(0.5);
}

.dashboardlisting tr.dim img {
    filter: grayscale(0.6) blur(1px);
}

.dashboardlisting td.id,
.dashboardlisting td.username,
.dashboardlisting td.actions,
.dashboardlisting td.listthumb  {
    white-space: nowrap;
    color: #666;
    padding: 8px;
}
.dashboardlisting td.username {
    text-align: left;
}

.dashboardlisting td.listthumb {
    padding: 4px 2px 2px;
}

.dashboardlisting td.check {
    /* padding-top: 10px; */
}

.dashboardlisting td.listthumb img {
    max-width: inherit; /* correcting an issue that first popped up in Chrome-dev 30. */
}

.dashboardlisting td.actions {
    text-align: right;

    .btn-group {
        display: inline-flex;
        -webkit-align-self: auto;
        padding-left: 6px;
    }
}

.dashboardlisting .btn-group > .btn + .dropdown-toggle {
  padding-left: 3px;
  padding-right: 6px;
}

.dashboardlisting td.excerpt span {
    max-height: 38px;
    /* padding-top: 3px; */
    display: block;
    line-height: $line-height-base;
    color: #777;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}

.dashboardlisting td.excerpt.large span {
    max-height: 54px;
}

@media (max-width: 767px) {
    .visible-xs {
        display: inline !important;
    }

    .btn-group {
        margin-top: -8px;
        margin-bottom: 8px;
    }

    .contenttype-title {
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dashboardlisting td.listthumb img {
        margin-left: -32px;
    }
}

@media (max-width: 640px) {
    .dashboardlisting td.listthumb img {
        margin-top:  42px;
        margin-bottom: 4px;
    }

    .dashboardlisting td.actions .btn-group {
        margin-top: 2px;
    }
}