#editcontent {
    /*** Fieldset: Checkbox ***/

    fieldset.checkbox {
        display: block;

        label {
            display: inline;
            padding-left: 0;
            font-weight: normal;
        }

        input {
            display: inline;
            height: 1em;
            margin-left: 10px;
            width: auto;
        }
    }

    /*** Fieldset: Select and Multiselect ***/

    fieldset.select,
    fieldset.multiselect {
        select {
            display: block;
            margin-bottom: 8px;
            width: auto;
            min-width: 200px;
        }

        .wide {
            width: 100%;
        }

    }

    /*** Fieldset: Slug ***/

    fieldset[data-bolt-field="slug"] {
        .input-group-addon {
            background: #fff;
            text-align: left;
            font-family: monospace;

            em {
                font-style: normal;
                font-weight: bold;
            }
        }

        button {
            padding: 5px;
            font-family: "FontAwesome";
        }

        .locked button.lock i:before {
            content: "\f023";
            color: #800;
        }

        .unlocked button.lock i:before {
            content: "\f09c";
            color: #080;
        }
    }

    /*** Fieldset: Geolocation ***/

    fieldset[data-bolt-field="geolocation"] {
        .mapholder {
            background: #e5e3df;
            border: 1px solid #bbb;
            height: 150px;
            min-width: 150px;
            max-width: 200px;

            @include respond-to(medium-screens) {
                max-width: none;
            }

            @include respond-to(wide-screens) {
                height: 180px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        input {
            width: 100%;
        }

        .matched, .latitude, .longitude {
            background: #fafafa;
            border: none;
            box-shadow: none;
            font-size: 1em;
            line-height: 1em;
            cursor: text;
            padding: 0.5em;
            height: auto;
        }
    }
}
