// Use @font-face, but prevent faux italics. 
// ref: http://www.metaltoad.com/blog/how-use-font-face-avoid-faux-italic-and-bold-browser-styles

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),  /* Serve Woff2 to browsers who accept it fall back to woff below */
       url('../fonts/SourceSansPro-Regular.woff') format('woff'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/SourceSansPro-Semibold.woff2') format('woff2'),
       url('../fonts/SourceSansPro-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/SourceSansPro-It.woff2') format('woff2'),
       url('../fonts/SourceSansPro-It.woff') format('woff');
}