footer  {
    position: fixed;
    bottom: 0;
    border-top: 1px solid #CCC;
    background-color: #E7E7E7;
    color: #999;
    width: 100%;
    padding: 4px 10px;
    z-index: $zindex-veryhigh + 4;
}

.bolt-footer-mini  {
    background: darken($sidebarbackground, 5);
    color: darken($sidebartextcolour, 30);
    border-top: 0;
    width: $nav-secondary-large-width;
    font-size: 90%;
    text-align: center;

    a {
        color: darken($sidebarlink, 30) !important;
    }
}

.bolt-footer-hidden {
    display: none;
}
