/**
 * Editing content
 */


label {
    display: block;
    margin-bottom: 3px;

    label {
        display: inline !important;
    }
}

.form-control {
    @include placeholder();
    height: 33px;
}

.form-horizontal {
    .control-label {
        text-align: left;
        font-size: $font-size-base + 1px;
        font-weight: normal;
        margin-bottom: 5px;
    }

    .control-label-inline {
        font-size: $font-size-base;
        font-weight: bold;
        margin-bottom: 5px;
        padding-top: 4px;
    }

    .form-group {
        margin-top: 24px;
        margin-bottom: 12px;

        @media (max-width: 640px) {
            margin-top: 16px;
            margin-bottom: 4px;
        }

        .form-group:first-of-type {
            margin-top: 0px;
        }

    }

}

.button-wrap {
    margin: 8px 0 4px;
    position: relative;
}

input[type="checkbox"] {
    margin: 4px 8px 0px 0;
}

fieldset.checkbox {
    display: inline-block;
    margin-top: -12px;
    margin-bottom: -12px;

    label {
        display: inline;
    }

    div {
        margin: 0.3em 0 0.5em;
    }
}

.fileinput-button {
    margin-right: 4px;
}

.ui-sortable-helper {
    border: 1px solid #999;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
    opacity: 0.5;
}

.ui-sortable-placeholder {
    border: 1px dashed #666;
    visibility: visible !important;
    opacity: 0.5;
}

#filtertabs {
    margin-bottom: 16px;
    border: 0;
    border-bottom: 1px solid darken($filtertabs, 10);;

    a {
        color: $filtertab-color;
        background-color: $filtertabs; // desaturate(lighten($boltblue, 60%), 30);
        border: 1px solid darken($filtertabs, 10);
        cursor: pointer;
        padding: 5px 12px;
        font-weight: normal;

        &:hover {
            color: #444;
            background-color: #FFF !important;
            border-bottom: 0;
        }

        @media (max-width: 767px) {
            padding: 4px 6px;
        }
    }

    li {
        margin-right: 2px;

        &.active {

            a {
                background-color: $basebgcolour;
                border: 1px solid darken($filtertabs, 20);
                border-bottom: 1px solid $basebgcolour;
                color: $filtertab-active-color;
            }
        }
    }
}

div.datetime-container {
    display: table;

    & > div {
        display: table-cell;
        vertical-align: middle;
        width: 9px;
        overflow: visible;
    }
}

form .progress {
    height: 7px;
    margin: 2px 0 0 0;
}