.omnisearch-primary {
    width: 280px;
}

.omnisearch-secondary {
    width: 180px;
}

.omnisearch {
/*
    & > .select2-dropdown-open, & > .select2-container-active {
        box-shadow: none !important;
    }

    & > .select2-choices {
        background : transparent none !important;
        border : none !important;
        outline : 0 !important;
        box-shadow: none !important;

        & > .select2-search-field {

            & > input, & > input:focus {
                min-width: 180px;
                @media (min-width: 1024px) {
                    min-width: 280px;
                }
            }
        }
    }

    .select2-search-choice {
        display: none;
    }

    & > .select2-choices {
        border: 0px;

        & > .select2-search-field input {
            padding : 0;
            font-size: inherit;
            font-family: inherit;
        }
    }

    input.select2-input {
        color: #AAA;
    }

    input.select2-input:focus {
        color: #333;
    }
*/
}

.omnisearch-result {
}

.omnisearch-result-info {
}

.omnisearch-result-label {
    font-weight: bold;
}

.omnisearch-result-label span {
    font-weight: normal;
}

.omnisearch-result-description {
    font-size: smaller;
    color: #999;
}

.select2-highlighted .omnisearch-result-description {
    color : #FFF; // better contrast.
}

.omnisearchlisting tbody tr td a span {
    font-weight: normal;
}
