.popover {
    width: 220px;
    max-width: 360px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
}

.menu-pop-wide .popover {
    width: 340px !important;
}

.popover-content {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;

    p {
        margin: 4px 0;
    }

    a {
      font-weight: normal;
      overflow: hidden;
      height: 2em;
    }
}
