table.recordlist {
    tbody {
        &:first-child tr.groupheading th {
            padding-top: 0;
        }
    }

    tr.header {
        th {
            $text-color:            #005394;
            $symbol-order-none:     "\f0dc";
            $symbol-order-asc:      "\f0dd";
            $symbol-order-desc:     "\f0de";
            $symbol-color:          #ddd;
            $symbol-color-selected: #888;
            $symbol-color-hover:    #00c;
            $symbol-spacing:        0.3em;

            color: $text-color;
            vertical-align: middle;

            a.order-none, a.order-asc, a.order-desc {
                &:after {
                    display: inline-block;
                    margin-left: $symbol-spacing;
                    color: $symbol-color;
                    font-family: FontAwesome;
                    content: $symbol-order-none;
                }

                &:hover:after {
                    color: $symbol-color-hover;
                    content: $symbol-order-asc;
                }
            }

            a.order-asc {
                &:after {
                    color: $symbol-color-selected;
                    content: $symbol-order-asc;
                }

                &:hover:after {
                    content: $symbol-order-desc;
                }
            }

            a.order-desc {
                &:after {
                    color: $symbol-color-selected;
                    content: $symbol-order-desc;
                }

                &:hover:after {
                    content: $symbol-order-none;
                }
            }
        }
    }

    tr.groupheading {
        th {
            padding: 1em 0.2em 0.1em 0.2em;
            background: #fff !important;

            font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: $font-size-h3;
            font-weight: normal;
        }
    }

    tr.buttons {
        display: none;

        td {
            background: #fff;
            border: none;

            button {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}
