table.recordlist {
    tbody {
        &:first-child tr.groupheading th {
            padding-top: 0;
        }
    }

    tr.header {
        th.order-asc a:after {
            display: inline-block;
            margin-left: 3px;
            color: #999;
            font-family: FontAwesome;
            content: "\f0dd";
        }

        th.order-desc a:after {
            display: inline-block;
            margin-left: 3px;
            color: #999;
            font-family: FontAwesome;
            content: "\f0de";
        }
    }

    tr.groupheading {
        th {
            padding: 1em 0.2em 0.1em 0.2em;
            background: #fff !important;

            font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: $font-size-h3;
            font-weight: normal;
        }
    }
}
