/**
 * Styles for Select2
 */

.select2-container {
    min-height: 30px;
    @include old-ie() {
        min-height:20px;
    }
}

.select2-container-multi .select2-choices {
    color: #555;
    border-radius: 2px;
    border-color: #CCC;
}

.select2-container-multi .select2-choices .select2-search-choice {
    border-radius: 3px;
    color: #555;
    border-color: #CCC;
    padding: 4px 5px 5px 15px;
}

.select2-container-multi .select2-choices .select2-search-choice a {
    margin-top: 1px;
}

.select2-container a.select2-choice {
    font-weight: normal !important;
    border-radius: 2px;
    border-color: #CCC;
}

.select2-container-multi .select2-choices .select2-search-choice span {
    color: #999;
    font-size: 85%;
}

.select2-drop-active {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-color: #CCC;
}

.select2-container .select2-choice div {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

/**
 * End of styles for Select2
 */