/*
 * Read the README.TXT in main SASS folder for project details
 */

/**
 * Bootstrap customizing.
 */
$navbar-padding-horizontal: 0;

/**
 * External resource: Bootstrap.
 * We do seperate imports here, instead of just importing 'bootstrap.scss', because we do not need
 * all of the components.
 */
// Core variables and mixins.
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset.
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS.
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components.
@import "bootstrap/component-animations";
// @import "bootstrap/glyphicons";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
// @import "bootstrap/jumbotron";
// @import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript.
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
// @import "bootstrap/carousel";

// Utility classes.
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

/**
 * External resource: Font Awesome.
 */
@import "font-awesome.scss";

/**
 * Base variables, mixins and helpers.
 */
@import "base";

/**
 * Override bootstrap defaults.
 */
@import "modules/custom/bootstrap";
@import "modules/custom/ckeditor";
@import "modules/custom/codemirror";
@import "modules/custom/select2";

/**
 * Some modules
 */
@import "modules/fonts";
@import "nav/nav";
@import "modules/footer";
@import "modules/textstyles";
@import "modules/popover";
@import "modules/dashboard";
@import "modules/aside";
@import "modules/stack";
@import "modules/forms";
@import "modules/editcontent";
@import "modules/liveeditor";
@import "modules/login";
@import "modules/extend";
@import "modules/omnisearch";

/**
 * Bolt User Interface Components.
 */
@import "buic/checkbox";
@import "buic/moment";
@import "buic/select";
@import "buic/listing";

/**
 * Fieldsets.
 */
@import "fieldsets/generic";
//
@import "fieldsets/categories";
@import "fieldsets/checkbox";
@import "fieldsets/date";
@import "fieldsets/datetime";
@import "fieldsets/file";
@import "fieldsets/filelist";
@import "fieldsets/float";
@import "fieldsets/geolocation";
@import "fieldsets/grouping";
@import "fieldsets/html";
@import "fieldsets/image";
@import "fieldsets/imagelist";
@import "fieldsets/integer";
@import "fieldsets/markdown";
@import "fieldsets/relationships";
@import "fieldsets/select";
@import "fieldsets/slug";
@import "fieldsets/tags";
@import "fieldsets/templateselect";
@import "fieldsets/text";
@import "fieldsets/textarea";
@import "fieldsets/video";

/**
 * The leftover styles.
 */
@import "modules/bolt";
