/**
 * BUIC: Checkbox.
 */
.buic-checkbox {
    margin-top: 6px;
    //background: red;
    vertical-align: top;

    label {
        display: inline-block;
        margin-left: 6px;
        white-space: nowrap;
        vertical-align: top;
        line-height: 21px;
        color: red;
        cursor: pointer;
    }

    input {
        margin: 8px 8px 0 0;
        height: auto;
        width: auto;
        display: inline-block;
    }
}

