.bolt-field-checkbox {
    margin-top: 6px;
    vertical-align: top;
    margin-bottom: 0;

    label {
        display: inline-block;
        margin-left: 0;
        white-space: normal;
        vertical-align: top;
        line-height: 21px;
        color: red;
        cursor: pointer;
        position: relative;
    }

    input[type="checkbox"] {
        display:none;
        & + label {
            padding-left:26px;
            i {
                border: 1px solid #ccc;
                border-radius: 5px;
                width:20px;
                height:20px;
                position: absolute;
                margin-right: 5px;
                left:0;
                top:7px;
                background-color: #fff;
                &:before {
                    position:absolute;
                    top:1px;
                    left:1px;
                    font-family: FontAwesome;
                    display: inline-block;
                    font-size:16px;
                    color:#666; 
                    content: "\00a0";
                    letter-spacing: 8px;
                }
            }
        }
        &:checked + label {
            i:before {
                content: "\f00c";
                letter-spacing: 8px;
                color:#444; 
            }
        }
    }
}