/**
 * BUIC: Modal.
 */
.buic-modal {

    .modal-body {
        min-height: 200px;
    }

    .modal-loading {
        .modal-body {
            opacity: 0.4;
        }

        &:after {
            position: absolute;
            display: block;
            top: 50px;
            left: 50%;
            width: 70px;
            margin-left: -35px;
            text-align: center;
            font-family: FontAwesome;
            content: "\f110";
            font-size: 500%;
            color: #666;
            animation: fa-spin 2s infinite linear;
        }

        .modal-retry {
            display: none;
        }
    }

    .modal-retry {
        position: absolute;
        left: 50%;
        width: 36px;
        margin-left: -18px;
        margin-top: 50px;
    }
}

.bootbox {
    z-index: 100002; // One higher than #navpage-secondary
}