/**
 * BUIC: Stack.
 */
fieldset.buic-stack {
    $stackitem-zindex: 111;

    .templates {
        display: none;
    }

    .stackholder {
        padding: 12px 0 12px 2px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .stackbuttons {
        margin-top: 16px;
        .btn-group {
            display: inline-block;
            margin: 0;
        }
    }

    .stackitem {
        border: 6px solid #fff;
        background-color: #ddd;
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
        width: 100px;
        height: 100px;
        position: relative;
        float: left;
        left: 0;
        margin-right: -80px;
        overflow: hidden;
    }

    .stackitem-wide {
        margin-right: -35px
    }

    .stackitem strong {
        display: block;
        text-align: center;
        font-size: 16px;
        margin: 10px auto;
    }

    .stackitem small {
        display: block;
        text-align: center;
        font-size: 12px;
        line-height: 15px;
        margin: 0 5px;
        word-break: break-all;
    }

    .stackitem:hover {
        z-index: $stackitem-zindex !important;
        box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);
    }

    .stackitem:nth-child(1) {
        z-index: $stackitem-zindex - 1;
    }

    .stackitem:nth-child(2) {
        z-index: $stackitem-zindex - 2;
        transform: rotate(4deg);
        margin-top: 8px;
    }

    .stackitem:nth-child(3) {
        z-index: $stackitem-zindex - 3;
        transform: rotate(-3deg);
        margin-top: -8px;
    }

    .stackitem:nth-child(4) {
        z-index: $stackitem-zindex - 4;
        transform: rotate(9deg);
        margin-top: 3px;
    }

    .stackitem:nth-child(5) {
        z-index: $stackitem-zindex - 5;
        margin-top: -6px;
    }

    .stackitem:nth-child(6) {
        z-index: $stackitem-zindex - 6;
        transform: rotate(3deg);
        margin-top: 5px;
    }

    .stackitem:nth-child(7) {
        z-index: $stackitem-zindex - 7;
        transform: rotate(-5deg);
        margin-top: -3px;
    }

    .empty {
        text-align: center;
        color: #aaa;
    }
}
