<style>
    p.message-correct {
        border: 1px solid #9F9;
        background-color: #DFD;
        font-weight: bold;
        color: #060;
        padding: 4px 8px;
    }

    p.message-wrong {
        border: 1px solid #F99;
        background-color: #FDD;
        font-weight: bold;
        color: #600;
        padding: 4px 8px;
    }

</style>

<form action="#" method="post">
    <fieldset>
        {{ form_widget(form) }}

        <input type="submit" name="Send!" value="Send!" />
    </fieldset>
</form>
