</div>
	
    {% include '_aside.twig' %}
    
    <footer class="clearfix">
        <p>This site is powered by <a href="http://pilex.net">Pilex</a>: simple and easy CMS.</p>
    </footer>
    
    
    </div>		

</body>
	
</html>

