</div>
	
    {% include '_aside.twig' %}
    
    <footer class="clearfix">
        <p>This site is powered by <a href="http://bolt.cm">Bolt</a>: Sophisticated, lightweight & simple CMS.</p>
    </footer>
    
    
    </div>		

</body>
	
</html>

