{% include '_header.twig' %}

<article>

    {# set form = simpleform('contact') #}
    <form action="#" method="post">
        {{ form_widget(form) }}

        <input type="submit" name="submit" />
    </form>

</article>  

{% include '_footer.twig' %}
