<h1>
    Bolt could not connect to the configured database.
</h1>

<p>
    Things to check:
</p>
<ul>
    <li>Ensure the {{ platform }} database is running</li>
    <li>Check the <code>database:</code> parameters are configured correctly in <code>app/config/config.yml</code></li>
    <ul>
        <li>Database name is correct</li>
        <li>User name has access to the named database</li>
        <li>Password is correct</li>
    </ul>
</ul>
