<div class="row">
    <p>
    The database {{ type }} <code>{{ path }}</code> {{ error }}
    </p>
    <p>
    Make sure it's present and writable to the user that the web server is using.
    </p>
</div>
