/*** Fieldset: Checkbox ***/

#editcontent {
    fieldset.checkbox {
        display: block;

        label {
            display: inline;
            padding-left: 0;
            font-weight: normal;
        }

        input {
            display: inline;
            height: 1em;
            margin-left: 10px;
            width: auto;
        }
    }
}
