/*** Fieldset: Select and Multiselect ***/

#editcontent {
    fieldset.select,
    fieldset.multiselect {
        select {
            display: block;
            margin-bottom: 8px;
            width: auto;
            min-width: 200px;
        }

        .wide {
            width: 100%;
        }
    }
}
