{% extends '_base/_page.twig' %}
{% block ptype 'Standard' %}
{% block pmain %}

<h1><strong>{{ title }}</strong></h1>

{{ content|raw }}

<input type="text" id="omnisearch" class="omnisearch" style="width: 100%;"/>

<style>
.omnisearch { }
.omnisearch-result { }
.omnisearch-result-info { }

.omnisearch-result-label {
    font-weight: bold;
}

.omnisearch-result-label span {
    font-weight: normal;
}

.omnisearch-result-description {
    font-size: smaller;
    color: #999;
}
</style>

<script>

function omnisearchFormatResult(item) {
	// useful for debugging the sort stuff ...
	// item.label = "[" + item.priority + "] " + item.label;

    var markup = "<table class='omnisearch-result'><tr>";
    markup += "<td class='omnisearch-result-info'>";
    markup += "<div class='omnisearch-result-label'>" + item.label + "</div>";
    markup += "<div class='omnisearch-result-description'>" + item.path + "</div>";
    markup += "</td></tr></table>";
    return markup;
}

function omnisearchFormatSelection(item) {
    window.location.href = item.path;
    return item.label;
}

$('#omnisearch').select2({
    placeholder: 'Omnisearch ...',
    minimumInputLength: 3,
    ajax: {
        url: "{{ paths.root }}async/omnisearch",
        dataType: 'json',
        data: function (term, page) {
            return {
                q: term,
            };
        },
        results: function (data, page) {
            var results = [];
            $.each(data, function(index, item){
                results.push({
                    id: item.path,
                    path: item.path,
                    label: item.label,
                    priority: item.priority
                });
            });
            return { results: results };
        }
    },
    formatResult: omnisearchFormatResult,
    formatSelection: omnisearchFormatSelection,
    dropdownCssClass: "bigdrop",
    escapeMarkup: function (m) { return m; }
});
</script>

{% endblock pmain %}
