################################################################################
### Facebook
# Your Facebook App ID
facebook_app_id: 419080214845849

################################################################################
### Facebook Like
# The verb to display on the button. Can be either "like" or "recommend"
facebook_like_action: like

# The color scheme used by the plugin. Can be "light" or "dark".
facebook_like_colorscheme: light

# If your web site or online service, or a portion of your service, is directed
# to children under 13 you must enable this: 
# https://developers.facebook.com/docs/plugins/restrictions/
facebook_like_kid_directed_site: 'false'

# Specifies whether to display profile photos below the button (standard layout 
# only). You must not enable this on child-directed sites.
facebook_like_show_faces: 'false'

# Selects one of the different layouts that are available for the plugin. Can be
# one of "standard", "button_count", or "box_count".
facebook_like_layout: box_count

# The width of the plugin. The layout you choose affects the minimum and default 
# widths you can use.
#
# Layout    Default Sizes
# -----------------------------------------------------------------------------
# standard  Minimum width: 225 pixels. Minimum increases by 40px if action is 
#           'recommend' by and increases by 60px if send is 'true'.
#           Default width: 450 pixels.
#           Height: 35 pixels (without photos) or 80 pixels (with photos).
# box_count
#           Minimum width: 55 pixels.
#           Default width: 55 pixels.
#           Height: 65 pixels.
# button_count
#           Minimum width: 90 pixels.
#           Default width: 90 pixels.
#           Height: 20 pixels.
facebook_like_width: 60


################################################################################
### Facebook Follow

# The verb to display on the button. Can be either "like" or "recommend"
facebook_follow_action: like

# The color scheme used by the plugin. Can be "light" or "dark".
facebook_follow_colorscheme: light

# If your web site or online service, or a portion of your service, is directed
# to children under 13 you must enable this: 
# https://developers.facebook.com/docs/plugins/restrictions/
facebook_follow_kid_directed_site: 'false'

# Specifies whether to display profile photos below the button (standard layout 
# only). You must not enable this on child-directed sites.
facebook_follow_show_faces: 'false'

# Selects one of the different layouts that are available for the plugin. Can be
# one of "standard", "button_count", or "box_count".
facebook_follow_layout: box_count

# The width of the plugin. The layout you choose affects the minimum and default 
# widths you can use.
#
# Layout    Default Sizes
# -----------------------------------------------------------------------------
# standard  Minimum width: 225 pixels. Minimum increases by 40px if action is 
#           'recommend' by and increases by 60px if send is 'true'.
#           Default width: 450 pixels.
#           Height: 35 pixels (without photos) or 80 pixels (with photos).
# box_count
#           Minimum width: 55 pixels.
#           Default width: 55 pixels.
#           Height: 65 pixels.
# button_count
#           Minimum width: 90 pixels.
#           Default width: 90 pixels.
#           Height: 20 pixels.
facebook_follow_width: 60


################################################################################
### Facebook Facepile
# Number of rows of photos
facebook_facepile_max_rows: 1

# Facepile colour scheme: 'light' or 'dark'
facebook_facepile_colorscheme: light

# Size of Facepil: 'small', 'medium' or 'large'
facebook_facepile_size: medium

# Show follower action count: 'true', or 'false' (requires inverted commas)
facebook_facepile_count: 'true'

################################################################################
### Google+ Share

# Annotation: 'inline', 'bubble', 'vertical-bubble' or 'none' 
#   inline            Display profile pictures of connected users who have 
#                     shared the page and a count of users who have shared the 
#                     page.
#   bubble            Display the number of users who have shared the page in a 
#                     graphic next to the button.
#   vertical-bubble   Display the number of users who have shared the page in a 
#                     graphic above the button.
#   none              Do not render any additional annotations.
google_plus_share_annotation: vertical-bubble

# Button size: 'small', 'medium', or 'large' (not used for bubbles)
google_plus_share_size: medium

# Relationship: 'publisher' or 'author'
google_plus_share_relationship: publisher


################################################################################
### Google+ Follow

# Annotation: 'bubble', 'vertical-bubble' or 'none' 
google_plus_follow_annotation: vertical-bubble

# Button size: 'small', 'medium' or 'large' 
google_plus_follow_size: medium

# Relationship: 'publisher' or 'author'
google_plus_follow_relationship: publisher


################################################################################
### Google+ Badge

# Layout: 'portrait', or 'landscape' 
google_plus_badge_layout: portrait

# Width: Integer between 180 and 450. 
google_plus_badge_width: 300

# Color theme: 'light' or 'dark'
google_plus_badge_theme: light

# Cover Photo (portrait only): 'enabled' or 'disabled'
google_plus_badge_photo: enabled

# Tagline (portrait only):  'enabled' or 'disabled'
google_plus_badge_tagline: enabled

# Relationship: 'publisher' or 'author'
google_plus_badge_relationship: publisher


################################################################################
### Twitter

#twitter_handle: @MyTwitterHandle


################################################################################
### Twitter Timeline

#twitter_data_widget_id: YOUR-WIDGET-ID-HERE

## See: https://dev.twitter.com/docs/embedded-timelines
#twitter_data_chrome: noheader nofooter noborders noscrollbar transparent

#twitter_link_text: Tweets by @MyTwitterHandle


################################################################################
### Twitter Follow

# The alignment of the button within an iframe; use this to ensure flush layout
# when aligning buttons against opposite edges of your grid.
#
# Either 'left' or 'right' 
twitter_follow_align: left

# Placement of follower count: 'none' or 'horizontal'  
twitter_follow_count: horizontal

# Widget size, 'medium' or 'large'
twitter_follow_size: medium   


################################################################################
### Twitter Share

# The alignment of the button within an iframe; use this to ensure flush layout
# when aligning buttons against opposite edges of your grid.
#
# Either 'left' or 'right' 
twitter_share_align: left

# Placement for number of shares: 'none', 'horizontal' or 'vertical'  
twitter_share_count: vertical

# Widget size, 'medium' or 'large'
twitter_share_size: medium   


################################################################################
### Twitter Mention

# The alignment of the button within an iframe; use this to ensure flush layout
# when aligning buttons against opposite edges of your grid.
#
# Either 'left' or 'right' 
twitter_mention_align: left

# Widget size, 'medium' or 'large'
twitter_mention_size: medium   


################################################################################
### Twitter Hashtag

# The alignment of the button within an iframe; use this to ensure flush layout
# when aligning buttons against opposite edges of your grid.
#
# Either 'left' or 'right' 
twitter_hashtag_align: left

# Widget size, 'medium' or 'large'
twitter_hashtag_size: medium   


################################################################################
### Pinterest Pinit

# Pin count: 'above', 'beside' or 'none'
pinterest_pinit_config: above
 
# Color scheme: 'gray', 'red' or 'white'
pinterest_pinit_color: red

# The size: 'small' or 'large'
pinterest_pinit_size: small

# Language: en - English or jp - Japanese (defaults to en) 
pinterest_pinit_language: en

# Add hover tag on images: 'on' or 'off'
pinterest_pinit_hover: on


################################################################################
### BufferApp Button

# Style: 'none', 'horizontal' or 'vertical'
bufferapp_count: vertical

# Twitter username to mention
bufferapp_twitter_user: BoltCM 

################################################################################
### GitHub

# GitHub user/organisation name
github_user: bolt

# GitHub repository
github_repo: bolt

# Show numeric count next to button: 'true' or 'false'
github_count: 'true'

# Button size: 'large' or 'small'
github_size: large
