body {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #444;
    background: #FDFDFA;
}

h1,
h2,
h3,
h4 {
    font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    background: #FDFDFA;
}

h1 {
    font-size: 2.6875rem;
    line-height: 3.125rem;
    margin-top: 0;
    margin-bottom: 1.5625rem;
}

* + h1 {
    margin-top: 3.125rem;
}

h2 {
    font-size: 2rem;
    line-height: 3.125rem;
    margin-top: 0;
    margin-bottom: 1.5625rem;
}

* + h2 {
    margin-top: 2.6875rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.5625rem;
    margin-top: 0;
    margin-bottom: 1.5625rem;
}

h4 {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    margin-top: 0;
    margin-bottom: 1.5625rem;
}

* + h3,
* + h4 {
    margin-top: 1.5625rem;
}

@media(max-width:800px) {
    .padding>* {
        padding: 1em 3%;
    }
    h1 {
        font-size: 2.1875rem;
        line-height: 3.125rem;
    }
    h2 {
        font-size: 1.4375rem;
        line-height: 1.5625rem;
    }
    h3 {
        font-size: 1.3875rem;
        line-height: 2.125rem;
    }
    h4 {
        font-size: 1.125rem;
    }
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

code,
kbd,
pre,
samp {
    white-space: pre-wrap;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background: #FFF;
    text-transform: uppercase;
    font-size: 20px;
    color: #333;
}

.headerimage {
    height: 70vh;
    min-height: 300px;
    background-size: cover;
    background-position: center;
}

.pagination {
    list-style: none;
    text-align: center;
}

.pagination li {
    display: inline-block;
}

footer {
    background: #333;
    color: #fff;
}

footer p {
    margin: 0;
}

footer ul {
    list-style: none;
}

.magnific img {
    float: left;
    max-width: 50%;
    margin: 0 1em 1em 0;
}

.recordfooter::before {
    content: "";
    display: table;
    width: 100%;
    clear: both;
}

.imageholder {
    display: inline-block;
}

.imageholder img,
.imageholder img a {
    display: block;
}

.popUppers >:first-child {
    background-color: #fff;
    margin-top: -30vh;
}

.popUppers >:nth-child(2){
    background-color: #fff;
    margin-top: -15vh;
}

@media (max-width: 800px) {
    .popUppers >:nth-child(2){
        margin-top: 0;
    }
}