body {
    font-weight: 400;
    color: #333;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 700;
    font-family: "Montserrat", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

code,
kbd,
pre,
samp {
    white-space: pre-wrap;
}

img {
    max-width: 100%;
    height: auto;
}
/* Fix IE11 stretch behavior */

header,
header>div,
header>ul {
    min-height: 10vh;
}

header {
    background: #FFF;
    text-transform: uppercase;
    font-size: 20px;
    color: #333;
}

header a {
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.headerimage {
    height: 70vh;
    min-height: 300px;
    background-size: cover;
    background-position: center;
}

.pagination {
    list-style: none;
    text-align: center;
}

.pagination li {
    display: inline-block;
}

footer {
    background: #333;
    color: #fff;
    min-height: 10vh;
}

footer p {
    margin: 0;
}

footer ul {
    list-style: none;
}

.imageholder {
    display: inline-block;
}

.imageholder img,
.imageholder img a {
    display: block;
}

.popUppers >:first-child {
    background-color: #fff;
    margin-top: -30vh;
}

.popUppers >:nth-child(2),
.popUppers >:nth-child(3) {
    background-color: #fff;
    margin-top: -15vh;
}

@media (min-width: 1100px) {
    /* Fix IE11 stretch behavior */
    
    footer>* {
        min-height: 10vh;
    }
}

@media (max-width: 800px) {
    .popUppers >:nth-child(2),
    .popUppers >:nth-child(3) {
        margin-top: 0;
    }
}