.headerphoto {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  min-height: 20vh;
  max-height: 36vh; }

.column, .columns {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.headertitle {
  text-align: center; }

[type='search'] {
  box-shadow: none; }

ul.pagination {
  background: #DDD;
  display: inline-block; }
  ul.pagination a {
    padding: 0.6em 1em;
    text-decoration: none; }
  ul.pagination .active a {
    color: #e6e6e6;
    background: #0a0a0a; }

h1 a, h2 a, h3 a {
  text-decoration: none; }

p.meta {
  font-size: 90%;
  color: #666; }

@media screen and (min-width: 40em) {
  h1, h2 {
    margin-bottom: 2rem; }
  img {
    margin: 0 auto 1rem;
    max-width: 80%;
    display: block; } }

@media screen and (max-width: 39.9375em) {
  .no-js .top-bar {
    display: none; } }

@media screen and (min-width: 40em) {
  .no-js .title-bar {
    display: none; } }

.menu > li {
  padding: 0; }
  .menu > li a {
    color: #2B2B2B;
    text-decoration: none; }
  .menu > li.active > a {
    color: #2B2B2B;
    background-color: inherit;
    border-bottom: 1px solid; }

.widgetholder .widget {
  margin: 1.5em 0; }
