// Your theme-specific styles go in here.
@charset 'utf-8';

@import 'settings';

// The Headerphoto, with the background image.
.headerphoto {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    min-height: 20vh;
    max-height: 40vw;
}

.column, .columns{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.headertitle {
    text-align: center;
}

[type='search'] {
    box-shadow: none;
}

.pagination .active a {
    color: $light-gray;
    background: $black;
}

.pagination a {
    text-decoration: none;
}

h1 a, h2 a, h3 a {
    text-decoration: none;
}

@include breakpoint(medium) {
    h1, h2{
        margin-bottom: 2rem;
    }

    img {
        margin: 0 auto 1rem;
        max-width: 80%;
        display: block;
    }
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

// Override the a inside .menu-text, for topbar navigation, where the 'homepage' has a link.
.menu > li {
    padding: 0;
    a {
        color: $primary-color;
        text-decoration: none;
    }
    &.active > a {
        color: $primary-color;
        background-color: inherit;
        border-bottom: 1px solid;
    }
}
