# user roles that are allowed to use the menu-editor
# this list implicitly grants access to users with role "root"
# available roles (by default): root, admin, developer, chief-editor, editor, guest, everyone
permissions: [ admin, developer, chief-editor ]

# creates a backup of your old menu.yml before saving
# if you want to use this feature, make sure that the extension folder app/extensions/MenuEditor is writable by your webserver
enableBackups: true

# the last x backups will be kept
keepBackups: 10