# Options
#
# Set options for the extensions
#
# See the docs for more information:
# http://code.foundrybusiness.co.za/bolt-redirector/options

options:
    # Auto slugging should be enabled. Makes slugs friendly. Like cats.
    autoslug: true

    # If there is a query string, append it to the destination path.
    #
    # Disabled by default as Bolt generally doesn't need them. But, if
    # you have an extension that does need them, best to turn it on.
    append_query_string: false

# These are the main on-site redirects.
#
# See the docs for more information:
# http://code.foundrybusiness.co.za/bolt-redirector/redirects
# http://code.foundrybusiness.co.za/bolt-redirector/wildcards
# http://code.foundrybusiness.co.za/bolt-redirector/route-moulding

redirects:
    # Uncomment the ones that you'd like to use

    #page:
    #    from: '{name:segment}.html'
    #    to: 'page/{name}'

    #nested_page: # Make sure routing.yml can handle nested paths!
    #    from: '{path}.html'
    #    to: 'page/{path}'

    #facebook:
    #    from: 'redirect/facebook'
    #    to: 'https://www.facebook.com/{@facebook_page}'

    #facebook_path:
    #    from: 'redirect/facebook/{path}'
    #    to: 'https://www.facebook.com/{@facebook_page}/{path}'

    #author:
    #    from: 'author'
    #    to: 'http://{@author_website}/'

    #new_admin:
    #    from: 'wp-admin'
    #    to: '{@admin_path}' # See global variables in docs

    #routed_page:
    #    from: 'pages/{slug:segment}.aspx'
    #    to: 'route: pagebinding'

    #trim_language: # See capture prevention in docs
    #    from: '<en|fr>/{contenttypeslug:segment}/{slug:segment}'
    #    to: 'route: contentlink'

    # For those who like simplicity, use short-hand notation
    # http://code.foundrybusiness.co.za/bolt-redirector/redirects#short-hand

    #'{name}.{ext}': 'page/{name}'

    #'blog': 'news'

# Variables
#
# A simple array to make variable replacements in destination paths using the
# {@<variable>} syntax. Be sure to avoid using global variables here as
# they'll be overwritten!
#
# See the docs for more information:
# http://code.foundrybusiness.co.za/bolt-redirector/variables

variables:
    # Uncomment the ones that you'd like to use

    #facebook_page: 'my-facebook-page'
    #author_website: 'code.foundrybusiness.co.za'

# JIT (Just In Time) Replacements
#
# These replacements are made just before the actual redirect, so they
# must match any parts in `to` patterns from the above array.
#
# For conciseness, try to match an entire destination, as other URIs
# could be inadvertantly affected. If other URIs won't contain the
# string, then you can keep it as short as needed.
#
# Also, regular expressions are allowed here. Capture with \\n
#
# See the docs for more information:
# http://code.foundrybusiness.co.za/bolt-redirector/jits

jits:
    # Uncomment the ones that you'd like to use

    #news_bar:
    #    replace: 'news/foo'
    #    with: 'news/bar'

    # For those who like simplicity, use short-hand notation:

    #'page/foo': 'page/foo-bar'