redirects:
    # Define your redirects using the following syntax:
    #
    # (Do not use leading slashes! All paths are relative to the root of the domain. Also,
    # trailing slashes will be stripped)

    # Example 1: Redirecting an old page to a new one
    #
    # Here, a request made to `Default/Pages/AboutUs.aspx` will be redirected to
    # `page/about-us`:

    aboutus:
        from: 'Default/Pages/AboutUs.aspx'
        to: 'page/about-us'

    # Example 2: Using arguments to match multiple requests in one rule
    #
    # Here, all requests to a `slug` that matches `any` (regex: [a-z0-9\.\-\_\%\=\s]+)
    # followed by a period and a common extension (`ext`, regex: aspx?|f?cgi|s?html?|jhtml|jsp|phps?)
    # will be redirected to `page/{slug}`.
    #
    # For example, `test.aspx` will redirect to `page/test`
    #
    # Note: All redirects will be made lower case before the header is sent.

    pages:
        from: '{slug:any}.{ext:ext}'
        to: 'page/{slug}'

    # Here, we'll allow everything
    # Be sure to make sure `routing.yml` can handle them!

    nestedpages:
        from: '{slug:all}.{ext:ext}'
        to: 'page/{slug}'

    # Example 3: Doing the above for blog posts
    #
    # Here, all requests that match `blog/{year}/{month}/{slug}`, where `year` and
    # `month` are numbers and `slug` is a segment (regex: [a-z0-9\-\_]+) are redirected
    # to `blog-post/{slug}`.
    #
    # For example, `blog/2013/09/my-awesome-post` would redirect to `blog-post/my-awesome-post`

    blogposts:
        from: 'blog/{year:num}/{month:num}/{slug:segment}'
        to: 'blog-post/{slug}'

    # Possible param types:
    #
    # :all is interpreted as: .*
    # :alpha is interpreted as: [a-z]+
    # :alphanum is interpreted as: [a-z0-9]+
    # :any is interpreted as: [a-z0-9\.\-\_\%\=\s]+
    # :num is interpreted as: [0-9]+
    # :segment is interpreted as: [a-z0-9\-\_]+
    # :segments is interpreted as: [a-z0-9\-\_\/]+
    # :ext is interpreted as: aspx?|f?cgi|s?html?|jhtml|jsp|phps?


options:
    # Auto slugging should be enabled. Makes slugs friendly. Like cats.
    autoslug: true