<div style="display: none;">
{% for t in exception.trace|default() %}
    <div id='arguments-{{loop.index}}' class='trace-arguments-placeholder'>
    {% if t.args_safe is not empty and loop.index0 < exception.trace_limit %}
        Arguments:
        {{ dump(t.args) }}
    {% else %}
        <em>(Arguments not available. Raise <tt>debug_trace_argument_limit</tt> to see them)</em>
    {% endif %}
    </div>
{% endfor %}
</div>
