<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
</head>

<body id="home">

    <h1>{{ title }}</h1>

    {{ markup }}

    <a href="/">back</a>
</body>
</html>
