<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css">
</head>

<body id="home">

    <h1>{{ title }}</h1>

    {{ markup }}

    <a href="/">back</a>
</body>
</html>
