{% from '@bolt/_buic/_info.twig' import buic_info %}

{#=== INIT ===========================================================================================================#}

{% set widget_name = block('fieldset_widget') %}

{% if not widget_name %}
    {% set data_bolt_widget = '' %}
{% elseif fieldset_conf|default() is iterable %}
    {% set data_bolt_widget = {(widget_name): fieldset_conf}|json_encode %}
{% else %}
    {% set data_bolt_widget = widget_name %}
{% endif %}

{% set attributes_fieldset = {
    'class':             'form-group bolt-field-' ~ block('fieldset_type'),
    'data-bolt-widget':  data_bolt_widget,
} %}

{% set attributes_label = {
    class:  'main ' ~ block('fieldset_label_class') ~ (block('fieldset_label_class') == 'col-xs-12' ? '' : ' control-label'),
    for:    block('fieldset_label_for'),
} %}

{% if block('fieldset_label_info') %}
    {% set field_info = buic_info(block('fieldset_label_text'), block('fieldset_label_info')) %}
{% endif %}

{#=== OUTPUT =========================================================================================================#}

<fieldset{{ macro.attr(attributes_fieldset) }}>
    <legend class="sr-only">{% block fieldset_label_text %}{% endblock fieldset_label_text %}</legend>
    {% if block('fieldset_label_text') %}
        <label{{ macro.attr(attributes_label) }}>{{ block('fieldset_label_text') }}: {{ field_info|default('') }}</label>
    {% endif %}
    {% block fieldset_controls %}{% endblock fieldset_controls %}
</fieldset>
