# 'geo' is just the name. It's there for your reference. Nothing special is
# done with it. Just note that these names must be unique.
# When accessing /about, we show the contents of /kitchensink/about
geo:
  from:
    slug: about
  to:
    contenttypeslug: kitchensink
    slug: about

## Longer slugs also work!
about_foo:
  from:
    slug: about/foo/bar
  to:
    contenttypeslug: entry
    slug: yada
    
## Also for contenttype only urls
pages:
  from:
    slug: p
  to:
    contenttypeslug: pages
    slug: ""
    
## (Named) Wildcards are allowed. BUT make sure you don't use wildcards all the
## way as the routing can get confused.
##
## E.g. if you would use %%item1%%/%%item2%% as the 'from slug' in the example
## below, the routing would then match everything as the route just flip the
## URI parts. As both are wildcards, this will mean that anything will be matched
## at http://yoursite.com/*anything*/*anything*.
##
## E.g.2 The example below translates http://yoursite.com/news/item/entry to
## http://yoursite.com/entry/item.
new:
  from:
    slug: news/%%item1%%/%%item2%%
  to:
    contenttypeslug: %%item2%%
    slug: %%item1%%