{# Page: NavSecondary > Content ... > #}

{% from '@bolt/_sub/_record_list.twig' import record_list as list %}
{% import '@bolt/_macro/_panels.twig' as panels %}

{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'Content/*' %}

{% block page_title __('Overview') %}

{% block page_subtitle %}
    {{ __(['contenttypes', context.contenttype.slug, 'name', 'plural'], {DEFAULT: context.contenttype.name}) }}
    {% if context.filter %}
        <small>({{ __("filtered by <em>'%filter%'</em>", {'%filter%': context.filter|join(', ') }) }})</small>
    {% endif %}
{% endblock %}

{# clear default messages, because we use them in a different spot, in this template #}
{% block messages "" %}

{% block page_main %}

    <div class="row">
        <div class="col-md-8">

            {% include '@bolt/_sub/_messages.twig' %}

            {{ list(context.contenttype, context.multiplecontent, context.permissions, '') }}

        </div>

        <aside class="col-md-4">
            {% include '@bolt/overview/_panel-actions_overview.twig' %}
            {{ panels.lastmodified(context.contenttype.slug) }}
        </aside>
    </div>

{% endblock page_main %}
