{# Page: NavSecondary > Content ... > #}

{% from '_sub/_editable_record_list.twig' import editable_record_list as list %}
{% import '_macro/_panels.twig' as panels %}

{% extends '_base/_page-nav.twig' %}

{% block page_nav 'Content/*' %}

{% block page_title __('Overview') %}

{% block page_subtitle context.contenttype.name %}

{% block page_main %}

    <div class="row">
        <div class="col-md-9">
            {{ list(context.contenttype, context.contenttype, context.multiplecontent, 'table table-striped') }}
        </div>

        <aside class="col-md-3">
            {% include 'overview/_panel-actions_overview.twig' %}
            {{ panels.lastmodified(context.contenttype.slug) }}
            {{ panels.stack(7) }}
        </aside>
    </div>

{% endblock page_main %}
