# Note: Replace this with your Google Analtics webproperty-id. It looks
# something like UA-12345678-1. Be sure to include the "UA-"-part.
webproperty: UA-12345678-1

universal: false
universal_domainname: mycoolwebsite.com

widget: false
widget_position: right_first

ga_email: xxxxx@gmail.com
ga_password: xxxxxxxxxxx
# NOTE: the 'ga_profile_id' is _not_ the same as the 'webproperty'.
#
# Visit your Google Analytics page for your site, and look the displayed URL, e.g.
#   https://www.google.com/analytics/web/?authuser=0#dashboard/default/a00000000w11111111p22222222/
#
# In this case the number after the 'p' is your ga_profile_id (22222222 above, yours will be different)
ga_profile_id: 87654321
filter_referral: bolt.cm

number_of_days: 14
