{% extends '@bolt/_base/_page.twig' %}

{% set page_bodyclass = 'login exception' %}

{% set page_hasnav = false %}

{% block page_nav 'Exception' %}

{% block page_title __('Exception') %}

{% block page_plain %}

    <div class="container">

        <div class="row">
            <div class="{{ form_class|default('col-md-8 col-md-offset-2 col-sm-12') }}">

                <img src="{{ asset('img/bolt-logo.png', 'bolt') }}" width="100" height="41" alt="Bolt" class="logo">

                <div class="panel panel-default">
                    <div class="panel-body">
                        {% block page_main %}
                            <div class="row">
                                {# Note: Do not translate / localise this, because people _will_ google for this. #}
                                <p class="chapeau">Uncaught Fatal Error:</p>

                                {% block title %}
                                {% endblock title %}

                                {% block exception %}
                                {% endblock exception %}

                                {% block trace %}
                                    {{ include('@bolt/exception/_trace.twig') }}
                                {% endblock trace %}
                            </div>
                        {% endblock page_main %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock page_plain %}
