{# Page: NavSecondary > Dashboard #}

{% extends '@bolt/_base/_page-no_nav.twig' %}

{% block page_nav 'Exception' %}

{% block page_title __('Exception') %}

{# clear default messages, because we use them in a different spot, in this template #}
{% block messages "" %}

{% block page_main %}
    {% block title %}
        <h3 class="text-center">Uncaught Fatal Error</h3>
    {% endblock title %}

    {% block exception %}
    {% endblock exception %}

    {% block trace %}
        {{ include('@bolt/exception/_trace.twig') }}
    {% endblock trace %}
{% endblock page_main %}
