{% form_theme form 'SimpleForms/assets/simpleforms_fields.twig' %}

{% if error %}
    <p class="simpleformserror">{{ error }}</p>
{% endif %}
{% if message %}
    <p class="simpleformsmessage">{{ message }}</p>
{% endif %}
{% if not sent %}
<form action="#" method="post">
    {{ form_widget(form) }}

    <input type="submit" name="submit" value="{{ button_text }}" />
</form>
{% endif %}
