/**
 * Sample form styling, taken from Skeleton, adapted for Bolt.
 *
 * @see http://www.getskeleton.com/?#forms
 */

form {
    margin: 20px 0;
}

fieldset {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 0.75em;
    background: #fff;
}

select {
    padding: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow:  0 0 3px rgba(0,0,0,.2);
}

input.wide {
    width: 90%;
}

textarea {
    min-height: 60px;
    min-width: 90%;
}

label,
legend {
    display: block;
    margin-bottom: 0.25em;
}

select {
    width: 220px;
}

input[type="checkbox"] {
    display: inline;
}

label span,
legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444;
}

button,
input[type="button"],
input[type="submit"] {
    padding: 4px 14px;
    font-weight: normal;
}
