{# Page: NavSecondary > Content ... > Edit > CkEditor > Link > Browse Server #}

{% extends '@bolt/_base/_page-popup.twig' %}

{% block page_title __('Records') %}

{% block page_main %}

    {% import '@bolt/_macro/_macro.twig' as macro %}

    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">{{ __('Please choose the record you want to link to:') }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12"{{ macro.attr({_bind: ['recordbrowser']}) }}>
            {% include '@bolt/recordbrowser/_navigation.twig' %}

            {% include '@bolt/recordbrowser/_content.twig' %}

            <hr>

            <a href="" class="btn btn-default btn-danger filebrowserCloseLink">{{ __('Cancel') }}</a>

        </div>
    </div>

{% endblock page_main %}
