<li class="search">
    <form class="navbar-form" role="search">
        <i class="icon fa fa-search"></i><div class="form-group has-feedback omnisearch-secondary">
            <select class="form-control omnisearch"></select>
        </div>
    </form>
</li>
