<li class="sidebar-search">
    <form class="navbar-form visible-xs" role="search">
        <div class="form-group has-feedback">
            <label class="control-label" for="inputSuccess4">Omnisearch</label>
            <input type="text" class="form-control omnisearch" placeholder="Omnisearch…">
            <span class="form-control-feedback"><i class="fa fa-search"></i></span>
        </div>
    </form>
</li>
