<li class="search">
    <form class="navbar-form" role="search">
        <i class="icon fa fa-search"></i><div class="form-group has-feedback">
            <input type="text" class="form-control omnisearch" placeholder="{{ __('Find') }}…">
        </div>
    </form>
</li>
