<li class="search">
    <form class="navbar-form" role="search">
        <kbd><i class="fa fa-search"></i></kbd><div class="form-group has-feedback">
            <input type="text" class="form-control omnisearch" placeholder="Omnisearch…">
        </div>
    </form>
</li>
