# sitemap settings

template: assets/sitemap.twig
xml_template: assets/sitemap_xml.twig

ignore:
  - /page/home
  - /page/error404
  - /page/private

## ignore by "slug" of contenttype
#ignore_contenttype:
#  - pages