{#=== OPTIONS ========================================================================================================#}

{% set option = {
    info:        field.info|default(''),
    label_main:  field.label is iterable ? field.label[0]|default('') : field.label|default(labelkey),
    label_sub:   field.label is iterable ? field.label[1]|default('') : '',
} %}

{#=== INIT ===========================================================================================================#}

{% set buic_opt_checkbox = {
    checked:  context.content.get(contentkey),
    id:       buid(),
    info:     option.label_main ? '' : option.info,
    label:    option.label_sub,
    name:     name,
} %}

{% set controls_class = 'col-md-9 ' ~ (option.label_main ? '' : 'col-sm-offset-3') %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'checkbox' %}

{% block fieldset_label_text  option.label_main %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-md-3' %}
{% block fieldset_label_for   buic_opt_checkbox.id %}

{% block fieldset_controls %}
    {% from '@bolt/_buic/_checkbox.twig' import buic_checkbox %}

    <div class="{{ controls_class }}">
        {{ buic_checkbox(buic_opt_checkbox) }}
    </div>
{% endblock fieldset_controls %}
