<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">×</button>
    The "{{ key }}" field has an invalid template (or namespace) specified: <code>{{ templatename|first }}</code>
</div>
