{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:       ('form-control ' ~ field.class)|trim,
    height:      field.height|default(''),
    label:       field.label,
    info:        field.info|default(''),
    required:    field.required|default(false),
    errortext:   field.error|default(''),
    placeholder: field.placeholder|default(''),
    variant:     field.variant,
} %}

{#=== INIT ===========================================================================================================#}

{% set attributes = {
    text: {
        class:           option.class,
        data_errortext:  option.errortext,
        name:            name,
        placeholder:     option.placeholder,
        required:        option.required,
        style:           option.height ? 'height: ' ~ option.height ~ ';' : '',
    }
} %}

{% set class = option.variant == 'inline' ? ['col-sm-3', 'col-sm-9'] : ['col-xs-12', 'col-xs-12'] %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}
{% import '@bolt/_macro/_macro.twig' as macro %}

{% block fieldset_type 'textarea' %}
{% block fieldset_widget 'fieldTextarea' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'control-label ' ~ class[0] %}

{% block fieldset_controls %}
    <div class="{{ class[1] }}">
        <textarea{{ macro.attr(attributes.text) }}>{{ context.content.get(contentkey)|default('') }}</textarea>
    </div>
{% endblock fieldset_controls %}
