<p style="color: #204460;"><strong>This is a test e-mail from Bolt!</strong></p>
<p></p>
<p>
    This was sent from the Bolt site with the following details:
    <table>
        <tr><td><b>Site title</b></td><td>{{ sitename }}</td></tr>
        <tr><td><b>User name</b></td><td>{{ user }}</td></tr>
        <tr><td><b>IP address</b></td><td>{{ ip }}</td></tr>
    </table>
</p>
