
{% if app.session.flashBag.keys()|length() %}

    {% if wrapper is defined and wrapper %}
    <div class="row">
        <div class="col-md-8">
    {% endif %}

    {% if app.session.flashBag.has('info') %}
        {% for msg in app.session.flashBag.get('info') %}
            <div class="alert alert-info">
                <button class="close" data-dismiss="alert">×</button>
                    {{ msg|ymllink }}
            </div>
        {% endfor %}
    {% endif %}

    {% if app.session.flashBag.has('error') %}
        {% for msg in app.session.flashBag.get('error') %}
            <div class="alert alert-danger">
                <button class="close" data-dismiss="alert">×</button>
                    {{ msg|ymllink }}
            </div>
        {% endfor %}
    {% endif %}

    {% if app.session.flashBag.has('warning') %}
        {% for msg in app.session.flashBag.get('warning') %}
            <div class="alert alert-warning">
                <button class="close" data-dismiss="alert">×</button>
                    {{ msg|ymllink }}
            </div>
        {% endfor %}
    {% endif %}

    {% if app.session.flashBag.has('success') %}
        {% for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                <button class="close" data-dismiss="alert">×</button>
                    {{ msg|ymllink }}
            </div>
        {% endfor %}
    {% endif %}

    {% if wrapper is defined and wrapper %}
        </div>
    </div>
    {% endif %}

{% endif %}
