/*** Fieldset: File ***/

fieldset.bolt-field-file {
    .infotext {
        clear: left;
        color: #666;
        font-size: 85%;
        font-style: italic;
        border-left: 5px solid #eee;
        padding-left: 0.5em;
    }
}
