/*** Fieldset container ***/

div[data-fieldtype] {
    border-bottom: 1px dashed #eee;
    margin-bottom: 10px;
}

// The last container, just before save buttons.
div[data-fieldtype]:last-child,
div[data-fieldtype="meta"] {
    border-bottom: 1px solid #bbb;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

/*** Styles for all Fieldsets ***/

fieldset[data-bolt-field] {
    //margin-bottom: 20px;

    /*** Label ***/

    label, .control-label {
        font-weight: bold;
        font-size: 13px;
        color: lighten(black, 30%);
    }

    // Main label.
    label.main {
        color: desaturate(lighten($boltblue, 35%), 20);
        font-size: 15px;
    }

    /*** Info popup ***/

    .info-pop {
        cursor: help;
        color: #bbb;
        padding-left: 4px;
    }
}
