/*** Fieldset container ***/

div[data-fieldtype] {
    border-bottom: 1px dashed #eee;
    margin-bottom: 10px;
}

// The last container, just before save buttons.
div[data-fieldtype]:last-child,
div[data-fieldtype="meta"] {
    border-bottom: 1px solid #bbb;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

/*** Styles for all Fieldsets ***/

fieldset[data-bolt-field] {
    //margin-bottom: 20px;

    /*** Label ***/

    label, .control-label {
        font-weight: bold;
        font-size: 13px;
        color: lighten(black, 30%);
    }

    // Main label.
    label.main {
        color: desaturate(lighten($boltblue, 35%), 20);
        font-size: 15px;
    }

    /*** Info popup ***/

    .info-pop {
        cursor: help;
        color: #bbb;
        padding-left: 4px;
    }

    /*** Select component ***/

    .select-component {
        display: table;
        width: 100%;

        & > div {
            display: table-row;

            // Select
            & div:nth-child(odd) {
                display: table-cell;
                width: 100%;
            }

            // Buttons
            & div:nth-child(even) {
                display: table-cell;
                vertical-align: top;

                button {
                    // btn-default + btn-xs
                    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
                    @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);

                    margin-left: 6px;
                    margin-top: 4px;

                    &::before {
                        font-family: FontAwesome;
                        display: block;
                        width: 1.2em;
                    }

                    &.select-all::before {
                        content: "\f00c";
                    }

                    &.select-none::before {
                        content: "\f00d";
                    }
                }
            }
        }
    }

}
