#editcontent {
    div[data-fieldtype="repeater"] {
        .repeater-wrapper {
            border-top: 1px solid #BBB;
            border-bottom: 1px solid #BBB;
            padding-bottom: 20px;
            margin-bottom: 15px;

            >label.main {
                margin-top: 10px;
                float: none;
                padding-left: 0px;
            }
            .repeater-add {
                float:right;
            }

            .repeater-group {
                border:1px solid #DDD;
                margin:15px;
            }

        }
    }
}