/*** Fieldset: Slug ***/

#editcontent {
    fieldset[data-bolt-field="slug"] {
        .input-group-addon {
            background: #fff;
            text-align: left;
            font-family: monospace;

            em {
                font-style: normal;
                font-weight: bold;
            }
        }

        span.input-group-addon:before {
            display: inline-block;
            position: relative;
            left: -5px;
            width: 20px;
            padding: 2px 0;
            text-align: center;
            line-height: 1;
            font-family: "FontAwesome";
            background: #f0f0f0;
            border-radius: 3px;
        }

        .locked {
            li.lock {
                display: none;
            }

            span.input-group-addon:before {
                content: "\f023";
                color: #a00;
            }
        }

        .unlocked {
            li.unlock {
                display: none;
            }

            span.input-group-addon:before {
                content: "\f09c";
                color: #080;
            }
        }
    }
}
