{% macro list(context, enabled, title, none_message) %}
    {% from 'extensions/_panel.twig' import panel %}

    <div class="panel panel-default">
        <div class="panel-heading">
            {{ enabled ? __('Enabled extensions') : __('Disabled extensions') }}
        </div>
        <div class="panel-body">
            <div class="panel-group" id="enabledExtensions">
                {% for extension in context.extensions if extension.enabled == enabled %}
                    {{ panel(extension, enabled ? 'enabledExtensions' : 'disabledExtensions') }}
                {% else %}
                    <p>{{ enabled ? __('No enabled extensions.') : __('No disabled extensions.') }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}
