/**
 * Colour scheme
 */

$boltblue: #204460;
$boltbluedarker: darken($boltblue, 5);
$boltbluelighter: lighten($boltblue, 5);
$baseblue: #214968;

$basebgcolour: #FBFBFB;
$bodytextcolour: #333;

$linkmain: #194770;
/*$linkvisited: #4c808b;*/
$linkvisited: #295780;
$linkactive: #103060;

$sidebarbackground: lighten(adjust-saturation($boltblue, -35), 6);
$sidebartextcolour: #EEE;

$sidebarlink: #DDD;
$sidebarlinkhover: #FFF;
$sidebarbackgroundactive: lighten(adjust-saturation($boltblue, -20), 7);
$sidebarbackgroundhover: lighten(adjust-saturation($boltblue, -20), 4);


// The color of <hr> lines.
$hr-border: #CCC;

// The padding to the left and right of form-control inputs.
$padding-base-horizontal: 6px;
