/**
 * Colour scheme
 */

$boltblue: #204460;
$boltbluedarker: darken($boltblue, 5);
$baseblue: #214968;

$basebgcolour: #fefefe;
$basefgcolour: #434341;

$lightbgcolour: #F2F1E4;
$lightfgcolour: #434341;

$darkbgcolour: #E7E7E7;
$darkfgcolour: #434341;

$linkmain: #194770;
/*$linkvisited: #4c808b;*/
$linkvisited: #295780;
$linkactive: #103060;

$sidebarbackground: #f1f2f7;
$sidebartextcolour: #4c4c4c;

$hr-border: #CCC;
