.extend-bolt-container {
    .hide-block {
        display:none;
    }
    
    .install-container {
        position:relative;
    }
    .auto-search {
        position:absolute;
        top:20px;
    }
}