.extend-bolt-container {
    .hide-block {
        display:none;
    }
    
    .install-container {
        position:relative;
    }
    .auto-search {
        position:absolute;
        top:20px;
        background-color: #f1f2f7;
        border-radius: 2px;
        box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2); 
    }
}