
/**
 * Editing content ..
 */

label label {
    display: inline !important;
}

label.permalink {
    margin: 0 0 0.5em;
}

.form-horizontal .control-label {
    text-align: left;
    font-size: $font-size-base + 1px;
    font-weight: normal;
    margin-bottom: 2px;
}


.form-group {
  margin-bottom: 20px;
}

input[type="checkbox"] {
    margin: 4px 8px 0px 0;
}

fieldset.checkbox {
    display: inline-block;
}

fieldset.checkbox label {
    display: inline;
}

fieldset.checkbox div {
    margin: 0.3em 0 0.5em;
}

#editcontent input,
#editcontent select,
#editcontent textarea {
    border-radius: 2px;
    border-color: #CCC;
    font-size: $font-size-base + 1px;
}


#editcontent input.large {
    font-size: 150%;
}

#editcontent .narrow {
    width: 30%;
    min-width: 200px;
}

#editcontent .verynarrow {
    width: 8%;
    min-width: 50px;
}


#editcontent select.wide {
    width: 70%;
    min-width: 200px;
}

#editcontent .narrow.wide { /* Derp! */
    width: 60%;
    min-width: 200px;
}

#editcontent input.datepicker {
    width: 30%;
    min-width: 200px;
    margin-right: 8px;
    float: left;
}

#editcontent input.timepicker {
    width: 10%;
    min-width: 80px;
    float: left;
}

#editcontent input[type=number] {
    width: 20%;
    min-width: 140px;
}

#editcontent textarea {
    width: 96%;
    height: 200px;
    min-width: 96%;
    max-width: 96%;
    padding-right: 0;
    font-size: 14px;
    line-height: 21px;
    color: #444;
    font-family: Menlo, Consolas, Monaco, "Courier New", monospace;
}

#editcontent div.video-container {
    height: 120px;
    padding-right: 180px;
}

#editcontent div.video-right {
    float: right;
    width: 168px;
}

#editcontent div.image-container {
    height: 140px;
    padding-right: 130px;
}

#editcontent div.image-right {
    float: right;
    width: 128px;
}


#editcontent div.map-container {
    padding-right: 210px;
}

#editcontent div.map-right {
    float: right;
    width: 208px;
    margin-bottom: 8px;
}

#editcontent .imageholder {
    border: 1px solid #BBB;
    width: 126px;
    height: 126px;
    overflow: hidden;
    padding: 2px;
    box-shadow:  2px 2px 0 rgba(0, 0, 0, 0.2);
}

#editcontent .imageholder img {
    max-height: 120px;
}

#editcontent div.image-container label,
#editcontent div.video-container label,
#editcontent div.map-container label {
    margin-top: 2px;
}

#editcontent .checkboxwrapper {
    padding: 0 0 12px 0;
}

#editcontent .checkboxwrapper span.left {
    min-width: 220px;
}

#editcontent .checkboxwrapper input {
    margin-top: 8px;
}

#editcontent .mapholder {
    border: 1px solid #BBB;
    width: 200px;
    height: 160px;
    padding: 2px;
    box-shadow:  2px 2px 0 rgba(0, 0, 0, 0.2);
}

#editcontent .geolocation {
    height: 180px;
}

#editcontent .dropzone.hover, #editcontent .dropzone.in  {
    background: #DEF;
}

#editcontent .dropzone.hover *, #editcontent .dropzone.in *  {
    opacity: 0.7;
}

#editcontent small {
    font-size: 12px;
    color: #666;
}

.progress {
    width: 20%;
    display: none;
    margin-bottom: 0;
}

#editcontent .fileinput-select {
    float: left;
}

.fileinput-button {
  margin: 0 !important;
}

#editcontent input.editslug {
    display: none;
}

#editcontent .sluglocker,
#editcontent .slugedit
{
    color: #666;
    display: inline-block;
    padding: 0 3px;
    cursor: pointer;
}

#editcontent div.imagelistholder.dropzone,
#editcontent div.filelistholder.dropzone {
    height: auto;
}


#editcontent div.imagelistholder p,
#editcontent div.filelistholder p {
    padding: 8px;
    color: #999;
    margin: 0;
    font-style: italic;
}

#editcontent div.imagelistholder div.list,
#editcontent div.filelistholder div.list {
    border: 1px solid #BBB;
    padding: 0 2px;
    float: left;
    width: 390px;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
}

#editcontent div.imagelistholder div.list div {
    height: 48px;
    margin: 6px;
    border-radius: 3px;
    cursor: ns-resize;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#editcontent div.filelistholder div.list div {
    height: 70px;
    margin: 6px;
    border-radius: 3px;
    cursor: ns-resize;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background: url("/app/view/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 61% rgb(230, 230, 230);
}
#editcontent div.filelistholder div.list .fileDescription {
    font-size: 80%;
    font-weight: bold;
}

#editcontent div.imagelistholder div.list div *,
#editcontent div.filelistholder div.list div * {
    float: left;
    margin: 4px 3px 0;
    padding-left: 4px;
}

#editcontent div.imagelistholder div.list div input,
#editcontent div.filelistholder div.list div input {
    width: 264px;
    margin: 9px 0 0 4px;
}

#editcontent div.imagelistholder div.list div i,
#editcontent div.filelistholder div.list div i {
    margin: 11px 0 0;
    padding: 0;
    cursor: pointer;
    color: #999;
}

#editcontent div.imagelistholder div.buttons,
#editcontent div.filelistholder div.buttons {
    float: left;
    padding: 7px 8px;
}

#editcontent div.tagcloud {
    margin-top: 6px;
}

#editcontent div.tagcloud a {
    margin-right: 6px;
    display: inline-block;
}

.ui-sortable-helper {
    border: 1px solid #999;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
}

.ui-sortable-placeholder {
    border: 1px dashed #666;
    visibility: visible !important;
    opacity: 0.5;
}

#filtertabs {

    margin-bottom: 16px;

    a {
        color: #777;
        font-size: 115%;
        background-color: $nav-tabs-bg; 
        border-top: 1px solid $nav-tabs-border-color;
        border-left: 1px solid $nav-tabs-border-color;
        border-right: 1px solid $nav-tabs-border-color;
        cursor: pointer;
    }

    a:hover {
        color: #555;
    }

    li.active a, li.active a:hover {
        color: #555;
        background-color: $basebgcolour;    
    }

}