/* Top Right Navigation Dropdown Styles */
.navbar-top-links {
    margin-top: 9px;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 12px;
    min-height: 42px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu > li a {
    color: $dropdown-link-color;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Sidebar Menu Styles */

.sidebar-search {
    padding: 0 15px 0 15px;
}

input.semitransparent {
    opacity: 0.5;
}

input.semitransparent:focus {
    opacity: 1;
}

.navbar-form {
    border: 0px;
    box-shadow: none !important;
    font-size: 120%;
    margin-right: 8px;
    padding: 0 15px 8px 6px;
}

.nav span.heading {
    display: block;
    margin: 9px 4px 2px 10px;
}

.nav hr.sidebar {
    margin: 10px 10px;
    padding: 0;
    border-top: 1px solid lighten($sidebarbackground, 6);
    border-bottom: 1px solid darken($sidebarbackground, 4);
}

.nav > li {
    a {
        color: $sidebarlink;
        padding: 9px 15px 27px 8px;
        height: 2.4em;
        font-weight: normal;
        outline: 0;
    }

    .fa-stack {
        margin-top: -4px;
    }

    a:hover {
        color: $sidebarlinkhover;
        background: lighten($sidebarbackgroundhover, 5);
    }

    .popover.right {
        margin-left: -8px;
    }

    .popover-content {
        color: #444;
        padding: 3px;
        overflow: hidden;
    }

    .popover-content a {
        color: $dropdown-link-color !important;
        background-color: transparent;
        display: block;
        padding: 4px 6px 4px 4px;
        height: auto;
        width: 600px;
    }

    .popover-content a:hover {
        color: $dropdown-link-hover-color;
        background-color: $dropdown-link-hover-bg;
        text-decoration: none;
    }

    .popover-content hr {
        margin: 4px 0;
        padding: 0 8px;
    }

}

.nav li.sub {
    display: none;
    overflow: hidden;
}

.nav li.sub a {
    padding: 6px 5px 6px 14px;
    width: 800px;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: $boltblue;
}

@media(max-width:766px) {

    .nav span.heading {
        font-size: 120%;
    }

    .nav > li a {
        font-size: 120%;
    }
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

.navbar-static-side {
    z-index: 10;
    position: absolute;
    width: 180px;
    min-height: 100%;
    box-shadow: -5px 0px 0px rgba(0, 0, 0, 0.2) inset;
    background: $sidebarbackground;
    color: $sidebartextcolour;
}

.navbar-static-side li.active > a {
    text-decoration: none;
    background-color: $sidebarbackgroundactive;
    border-top: 1px solid darken($sidebarbackgroundactive, 4);
    border-bottom: 1px solid darken($sidebarbackgroundactive, 4);
    padding-top: 8px;
    padding-bottom: 26px;
    color: #FFF;
}

.navbar-static-side > ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar-collapse {
    min-width: 170px;
    padding-top: 12px;
}

#sidebar-expand {
    visibility: hidden;
    display:none;
    padding-left: 11px;
}

#sidebar-collapse {
    padding-left: 11px;
}

@media(max-width:766px) {
    .navbar-static-side{
        display:none;
        width: 280px;
        overflow: hidden;
    }
    .js-nav .navbar-static-side{
        display:block;
    }
}

@media(min-width:768px) {

    // This part fixes 'equal-height columns' The content column is a faux one by
    // setting the same background-color for body.
    #wrapper {
        min-height: 100%;
        height:auto !important;
        overflow : hidden;
        position: absolute;
        top: 0;

        #nav {
            top: 0px;
            position: absolute;
            padding-top: 66px;
            min-height: 100%;
            height: 100%;
            & > div {
                min-height: 100%;
                height: 100%;
            }
        }
        #page-wrapper {
            top: -50px;
            position: relative !important;
            padding: 76px 24px 40px 40px;
            border-left: 1px solid #e7e7e7;
        }
    }

    #page-wrapper {
        margin: 0 0 0 180px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }

    body.collapsed-sidebar {

        #page-wrapper {
            margin: 0 0 0 48px; //@see: body.collapsed-sidebar .navbar-static-side
        }

        .navbar-static-side {
            width: 48px; //@see: body.collapsed-sidebar #page-wrapper
            overflow: hidden;
            box-shadow: -5px 0px 0px rgba(0, 0, 0, 0.2) inset;
            color: $sidebartextcolourcollapsed;
        }

        .navbar-static-side .nav > li {
            a {
                color: $sidebartextcolourcollapsed;
            }
        }

        .navbar-static-side:hover {
            width: 170px;
            overflow: visible;
            box-shadow: 8px 0px 0px rgba(0, 0, 0, 0.2);

            color: $sidebartextcolour;

            .nav > li {
                a {
                    color: $sidebarlink;
                }
            }

        }

        #sidebar-collapse {
            visibility: hidden;
            display: none;
        }

        #sidebar-expand {
            visibility: visible;
            display: block;
        }

    }

}
