/* Top Right Navigation Dropdown Styles */

.navbar-top-links {
    margin-top: 9px;

    li {
        display: inline-block;

        &:last-child {
            margin-right: 15px;
        }

        a {
            padding: 12px;
            min-height: 42px;
        }
    }

    .dropdown-menu {

        li {
            display: block;

            &:last-child {
                margin-right: 0;
            }

            a div {
                white-space: normal;
            }
        }

        & > li a {
            color: $dropdown-link-color;
            min-height: 0;
        }
    }

    .dropdown-messages,
    .dropdown-tasks,
    .dropdown-alerts {
        width: 310px;
        min-width: 0;
    }

    .dropdown-messages {
        margin-left: 5px;
    }

    .dropdown-tasks {
        margin-left: -59px;
    }

    .dropdown-alerts {
        margin-left: -123px;
    }

    .dropdown-user {
        right: 0;
        left: auto;
    }
}
