
h1, h2, h3, h4, h5, h6 {
    // font-family: 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0.5em 0;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1 {
    font-size: 30px;
    line-height: 36px;
}

h2 {
    font-size: 26px;
    line-height: 31px;
}

a {
    color: $linkmain;
    font-weight: bold;
}

a:link {
    color: $linkmain;
}

a:visited {
    color: $linkvisited;
}

a:focus,
a:hover,
a:active {
    color: $linkactive;
}


strong, b {
    font-weight: 600;
}

tt, code, .source-code {
    font-family: Menlo, Consolas, Monaco, "Courier New", monospace;
}

tt, code {
    padding: 1px 2px;
    border: 0px;
    white-space: pre;
    color: #555;
    background-color: #E8E8E8;
}

pre {
    background-color: #F2F2F2;
    color: #555;
    padding: 2px 4px;
    font-family: Menlo, Consolas, Monaco, "Courier New", monospace;
}

small {
    font-size: 85%;
    line-height: 85%;
}

time {
    border-bottom: 1px dashed #BBB;
    cursor: default;
}


h1 span {
    float: right;
    font-size: 50%;
    margin: 0.45em 0 -0.45em -0;
    color: #666;
}

.status-timed {
    color: #0066FF;
}

.status-published {
    color: #43AC6A;
}

.status-held {
    color: #F04124;
}

.status-draft {
    color: #99F;
}
