#bolt-debugsection {
    display: block !important;
    visibility: visible !important;
}

#bolt-debugbar {
    position: fixed;
    right: 0;
    bottom: 5px;
    height: 28px;
    background-color: #E6E6E6;
    background-image: linear-gradient(bottom, rgba(230, 230, 230, 1) 10%, rgba(250, 250, 250, 1) 80%);
    background-image: -o-linear-gradient(bottom, rgba(230, 230, 230, 1) 10%, rgba(250, 250, 250, 1) 80%);
    background-image: -moz-linear-gradient(bottom, rgba(230, 230, 230, 1) 10%, rgba(250, 250, 250, 1) 80%);
    background-image: -webkit-linear-gradient(bottom, rgba(230, 230, 230, 1) 10%, rgba(250, 250, 250, 1) 80%);
    background-image: -ms-linear-gradient(bottom, rgba(230, 230, 230, 1) 10%, rgba(250, 250, 250, 1) 80%);
    box-shadow:  -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid #CCC;
    display: none;
    z-index: 2147483640;
    font-weight: normal;
    font-style: normal;
}


#bolt-nipple {
    position: fixed;
    right: 0;
    bottom: 0;
    background: transparent url('../img/debug-nipple.png') no-repeat right bottom;
    width: 53px;
    height: 53px;
    z-index: 2147483641;
    cursor: pointer;
    display: block;
    visibility: visible;
}

#bolt-debugbar ul {
    margin: 0;
    padding: 0;
    padding-right: 46px;
}

#bolt-debugbar ul li {
    display: block;
    float: left;
    font: normal 13px/13px "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-right: 1px solid #CCC;
    padding: 7px 6px 7px 28px;
    color: #333;
    margin: 0;
}

#bolt-debugbar ul li#pd-bolt {
    background-color: #244055;
    color: #F2F2F2;
    padding-left: 6px;
}

#bolt-debugbar ul li#pd-bolt strong,
#bolt-debugbar ul li#pd-bolt small {
    color: #F2F2F2;
}

#bolt-debugbar ul li a,
#bolt-debugbar ul li a:hover,
#bolt-debugbar ul li a:active,
#bolt-debugbar ul li a:visited {
    text-decoration: underline;
    color: #333;
    font-weight: normal;
    font-style: normal;
}

#bolt-debugbar ul li#pd-bolt a,
#bolt-debugbar ul li#pd-bolt small {
    color: #F2F2F2;
    text-decoration: none;
}

#bolt-debugbar ul li#pd-variables {
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANCAMAAACXZR4WAAAA/1BMVEUyMjIuLi4tLS0tLS01NTUsLCyzs7M/Pz+rq6szMzO7u7v///+6urq7u7s9PT08PDw5OTmqqqpKSko5OTk4ODitra29vb00NDQ8PDz///+7u7tKSko7OzuAgIBOTk5MTExcXFw3NzdmZmZNTU02NjY/Pz9bW1s+Pj44ODhNTU1BQUFPT085OTn///9JSUlCQkJCQkJCQkJKSko5OTl5eXk5OTlERET///85OTn///84ODhFRUVHR0dbW1tHR0dJSUn///////8AAAAzMzMzMzM0NDQzMzM3Nzc1NTWNjY1AQEBzc3NeXl6Tk5OUlJQ9PT2KiopwcHBdXV0vLy80NDRXQi5jAAAAQ3RSTlP7//z+/PwoavTztQiNjsvM7QaQu7X7MvRqCbPR7waJky/7N4XQaS18uT+qHasBi3imd4rbKtN7M90ZxjAyTFOaNgIAwY9+lgAAAK9JREFUeNodTAUOAzEMy01jZmZmZr5GVTOG+/9fli5SbMexDGchhBl4KPX0myzPwLCLoTGbGRjf8cHGkRSq+ZyBjtrYq9OBZDCEdDipvYDCVtWadkTKVcpFtY1AFlESb70qSSJ64W3kmZFaDbbDxgVei0yJHeq0JUV9iyt8bMs1J/o9QFwvHTdIWLphbA66Ome5IZnSDVMhhsTC4wSRRj2T0Z9cAlabr6Uz+m/dN6sfkGstoTGOd7oAAAAASUVORK5CYII=') no-repeat 6px 7px;
}


#bolt-debugbar ul li#pd-edit {
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAOCAMAAAD+MweGAAABOFBMVEUxMTG9vb3Pz88pKSm+vr4AAAAsLCxJSUmqqqpJSUk5OTn///8tLS1CQkI+Pj6QkJBFRUXy8vJCQkK1tbWQkJD29vY6Ojr///9VVVVBQUFAQEA/Pz89PT3d3d3Nzc0vLy/////ExMQ9PT1CQkI3Nzf///9GRkZJSUlAQEDb29tnZ2dNTU0/Pz89PT1ERET///89PT1AQEBLS0u/v79kZGQ7Ozs6OjpmZmZMTExGRkZJSUlKSkovLy9DQ0NJSUk/Pz9iYmI6Ojo6Ojpzc3N5eXmSkpJAQEBfX1////9hYWE5OTlZWVkAAAAtLS0xMTEtLS0vLy+6urpYWFhwcHB6enp2dnZra2txcXF7e3t8fHw8PDyJiYlmZmY3Nzd/f39iYmKCgoI9PT1RUVE2Nja4uLgtLS00NDQyMjJMepMKAAAATXRSTlP9m4Afjgq4IwNiNjP+koOjPyZs5v4cmzcDJzg1Pw9l6CxkuJq9MIB3az8lcG02dAIqb3AEHFeFHmh8gl33ORVZGpluFBUHNCMBHTooANI8BhEAAADASURBVHjaNYp7V0FREEcnSWTlmaIUyqNCkUrkmefNmFUJoYe61pnv/w3cOGfPH/Nbe22IHXsXklcTbpjtcBHlvsSytU19J8zoLPi8Yse62drlIbC4RIntzdFyuUGInhSe94E4RARW5moyovg1omq6he9PSuTuM6rpFuc/Lzd495VWTfn3jx4Qs3pbNXW99Gi81L8h0THmU7WCBuf6EcKYk3lNazZqmnbbOeUAQiREglmsj/b9COGTD5KCp3s+PFgCGlZBtctaR20AAAAASUVORK5CYII=') no-repeat 6px 6px;
}

#bolt-debugbar ul li#pd-log {
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAANCAMAAABIK2QJAAAA8FBMVEUyMjJiYmKWlpZUVFRhYWE4ODg3NzdjY2M4ODg1NTUyMjJnZ2dEREQzMzM2NjY2NjY8PDw+Pj5CQkI3NzdVVVUcHBxdXV1JSUlcXFxVVVUzMzMxMTGZmZlycnI7OzszMzM1NTUzMzM9PT3Ly8taWlpdXV3e3t5GRkYvLy8zMzMzMzP///9JSUk5OTlHR0dpaWk9PT3///82NjZGRkZAQEA3NzdxcXFBQUE+Pj48PDz///8AAAAyMjIyMjIyMjIzMzMzMzMyMjI/Pz9jY2OioqKjo6M+Pj6Ojo5vb29ra2tsbGy9vb1ubm46OjozMzMzMzP6WZ5+AAAAPHRSTlP9IhGAKsG3LLvpuSUi57u2skLH7icJISNpCdEaBWez1NIZuFkRFicWp8KuNwfBJBGzA8OtCLwSvKW5AQBG47PwAAAAiklEQVR42iXMRQ7DQBBE0QkzMzObPRC7R2opDPb9r5Ox81dvUSry/QSv4P3cApyIxOP+IB/OGoCg8GGHk+F8o+z5sMD2wJmtYo8w1ehfrrE7xUKlFUqCy3E3Ucqlk00kaPWyLF+tlesYbTRKqeZ7ylOD6RmdGZaysE3OuWkLJDJ0z1Gu+rlL/CdvPxhUGtzh9Pc3AAAAAElFTkSuQmCC') no-repeat 6px 6px;
}


#bolt-debugbar ul li#pd-queries {
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAOCAMAAAD+MweGAAAA3lBMVEU9PT1BQUE7OztLS0s8PDxKSkqWlpZNTU2UlJQ9PT1BQUFGRkZBQUE+Pj40NDRSUlKJiYlERERRUVE4ODg6OjqUlJQ+Pj44ODg5OTlUVFRAQEBGRkZiYmKHh4c3Nzc3Nzc3Nzc2NjaSkpIzMzNAQECGhoY7Ozs3Nzc0NDQ4ODhFRUU6Ojo+Pj5OTk5GRkY8PDw3Nzc+Pj4AAABvb2/BwcE4ODinp6c+Pj4wMDDAwMAuLi45OTk6OjoxMTGmpqZwcHBubm47Ozs8PDw2NjYyMjIvLy9tbW0zMzM1NTU0NDTAC9xAAAAAM3RSTlNolax9ZkWNRpZ+dcCtk4Sul46OlqWNjIRMfUSRfZeC4NOOln6trkFBSYORkVtbmZl+pwAVoQMVAAAAjElEQVR42m3MRRLCQBRF0Ye7uwaJ4O4WBX7vf0Okq0MGFGd4Bxdn4+Uz9K2+A7s8v04phAMEm/nsXCwS2kMpr31yWg4q2PxCpdqauBaeTBQWIyJmNmZC4Ygr8WK150LRRKc/5ZaeUv7PeTBcCd3a2JWN40aCLdVHroSF+1tgvaamqlrSwcNxvESMO3wATkkvXW6LHX8AAAAASUVORK5CYII=') no-repeat 6px 6px;
}


#bolt-debugbar ul li#pd-server {
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANCAMAAACXZR4WAAAA6lBMVEX5+flERERBQUE8PDw9PT1DQ0NRUVFERERAQED4+PhDQ0MwMDD///////83NzdiYmI8PDxLS0s7Ozs+Pj41NTWJiYlCQkJKSkoyMjI+Pj46Ojr///87OztmZmY7OztNTU1AQEBAQEA/Pz8/Pz9GRkY2NjY9PT1FRUU3NzdPT08+Pj7CwsL///8+Pj5NTU01NTU/Pz8zMzOdnZ0vLy8yMjL///+AgID///////8vLy8+Pj7///86OjpDQ0MAAAA1NTVwcHCEhIR5eXmDg4MwMDB0dHRzc3Nubm42NjYxMTEzMzMyMjJvb280NDRG1vQ/AAAAP3RSTlO1rbmxocEWKbu1re8IAS4athHZpXkNwR+7onIH3BTbKGCYYZk61nY71iqngQPdw9SC6OSnswoGNgKoqATdggCCXgrgAAAAnElEQVR42j3L1RaCQBRA0Wt3d3cRAgqKgtcWZpD//x1HBfbjWevAHrXNy3oz1muj4R4Qx466PTBb1RkiAuqzCXpGS52FlT31w8IesDBXdn7YKW0WJBkDsoTA0/UpsKY83Klo/vS7ZlmkVyD1jmB89WpGIRsj4Ba9v1nNZ+KRM5Ck/g+NUi4hhB/wJGnu+NWqcNGQc4HUzXEDjyd8AIq+K4BQl+TbAAAAAElFTkSuQmCC') no-repeat 6px 7px;
}

.bolt-debugpanel {
    background-color: #F2F2F2;
    border: 1px solid #ccc;
    position: fixed;
    right: 10px;
    bottom: 34px;
    max-height: 300px;
    width: 640px;
    box-shadow:  1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    z-index: 2147483639;
    overflow-y: auto;
    display: none;
    padding: 4px 6px;
}

.bolt-debugpanel span.level-3 {
    color: #FF5500;
}

.bolt-debugpanel span.level-4,
.bolt-debugpanel span.level-5 {
    color: #ff0000;
}

.bolt-debugpanel code,
.bolt-debugpanel pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 12px;
    line-height: 15px;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    overflow: auto !important;
    color: #444;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

#bolt-debugbar small,
.bolt-debugpanel small {
    font-size: 11px;
    color: #666;
}

#bolt-debugbar small.fastquery,
.bolt-debugpanel small.fastquery {
    color: #BBB;
}

#bolt-debugbar small.longquery,
.bolt-debugpanel small.longquery {
    color: #F00;
}

.narrowonly {
    display: none;
}


.bolt-editable {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.bolt-editable.active {
    border: 1px dashed #F99;
}

.bolt-editable.active:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}


@media all and (max-width: 800px) {


    #bolt-debugbar small,
    .bolt-debugpanel small {
        display: none;
        line-height: 0;
    }

    .bolt-debugpanel {
        width: 500px;
    }

    .bolt-debugpanel code,
    .bolt-debugpanel pre {
        font-size: 10px !important;
        line-height: 13px !important;
    }

}



@media all and (max-width: 660px) {


    .narrow {
        display: none;
    }

    .narrowonly {
        display: inline;
    }

    .bolt-debugpanel {
        width: 300px;
    }

    .bolt-debugpanel code,
    .bolt-debugpanel pre {
        font-size: 10px !important;
        line-height: 11px !important;
    }

    #bolt-debugbar ul li#pd-variables,
    #bolt-debugbar ul li#pd-edit,
    #bolt-debugbar ul li#pd-log,
    #bolt-debugbar ul li#pd-queries,
    #bolt-debugbar ul li#pd-server {
        background-position: 2px 7px;
    }

    #bolt-debugbar ul li {
        padding: 7px 3px 7px 21px;
    }

}
