
/**
 * Colour scheme: 
 * - #a5d2db - light green/blue
 * - #4c808b - darker green/blue
 * - #434341 - dark gray
 * - #ebe9dd - Sand light
 
 * not used: 
 * - #8B694C - light brown, complementary to green/blue
 * - #3E2815 - brown, complementary to green/blue
 */

body {
    background-image: url(/app/view/img/background.png);
}

h1, h2, h3, h4, h5, h6 {
	font-family: Candara, "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	margin: 0.5em 0;
}


.navbar-fixed-top, .navbar-fixed-bottom  {    
    position: static;
    margin-bottom: 20px;
    background-image: url(/app/view/img/dust_scratch.png);
}

a {
    color: #AE311A;
}

a:hover {
    color: #662010;    
}

tt {
    color: #666;
}



.navbar-inner {

	background-image: none;
	background: transparent;
	background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.0) 80%);
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.0) 80%);
	background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.0) 80%);
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.0) 80%);
	background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.0) 80%);

    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    min-height: 60px;
    padding-left: 20px;
    padding-right: 20px;

}

.navbar .brand {
	color: #FFF;
	font-size: 38px;
	font-family: Candara, "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.3), 1px 1px 0px rgba(255, 255, 255, 0.3) ;
}

.navbar .nav > li > a {
    color: #DDD;
    font-weight: bold;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .nav .active > a, 
.navbar .nav .active > a:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.4);
}

footer  {    
    display: block;
    border-top: 1px solid #CCC; 
    background-color: #DDD;
}




/**
 * Dashboard specific stuff
 */

.quicklinks {
    margin-bottom: 8px;

}

.morelink {
    font-size: 12px;
    float: right;
    text-shadow: none;
    line-height: 10px;
    position: relative;
    right: 0;
    top: 15px;
}

.dashboardlisting {
    background-color: #FFF;
    -webkit-box-shadow:  1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow:  1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -moz-border-radius: 3px;
    border-radius: 3px;     
}

.dashboardlisting tr:nth-child(odd) {
    background-color: #FAFAF4;
}

.dashboardlisting td {
    border: 1px solid #DDD;
    padding: 5px;
    overflow: hidden; 
    vertical-align: top;
    line-height: 18px;
    font-size: 13px;    
}

.dashboardlisting td.id, 
.dashboardlisting td.username {
    white-space: nowrap;
    text-align: center;
    color: #666;    
}


.dashboardlisting td.excerpt span {
    height: 36px;
    display: block;
    color: #666;
    overflow: hidden;
}




aside section {
    background-color: #ebe9dd;
    border: 1px solid #CCB;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow:  2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow:  2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 15px;
}

aside section h2 {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 4px;
	text-shadow: none;
	color: #333;    
}

aside section p {
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0;
}


/**
 * Editing content ..
 */ 
label {
    margin: 1em 0 0.5em;
}

label.permalink {
    margin: 0 0 0.5em;
}


#editcontent input.large {
    font-size: 133%;
    width: 95%;
}

#editcontent input {
    font-size: 100%;
    width: 95%;
}

#editcontent textarea {
    height: 300px;
}


/* //////////// Structure Mobile first ! /////////// */

html {
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: none;	
}

/* A hack for HTML5 contenteditable attribute on mobile */
	textarea[contenteditable] {
	-webkit-appearance: none;
}

body:after {
    content: "mobile 320/480 portrait and landscape";
    font-size: 100%;
    font-weight: bold;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: hsla(1,60%,40%,0.7);
    color: #000000;
} 

/* ///////////////////////////////////////////////////////////////////////////////////////////////                                                                   
END general css, start media query based additions */


/* ///////////////////////////////////////////////////////////////////////////////////////////////
Start Query above 768 ////////////////////////////////////// */

@media all and (min-width: 768px) {

	body:after {
	    content: "768px: Ipad portrait to desktop 1024px";
	    background-color: hsla(270,60%,40%,0.7);
	}
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////                                                                   
END general css, start media query based additions */

/* ///////////////////////////////////////////////////////////////////////////////////////////////
Start Query above 1024 ////////////////////////////////////// */

@media all and (min-width: 1024px) {

	body:after {
	    content: "1024px: desktop min 1024px";
	    background-color: hsla(270,60%,40%,0.7);
	}
}


