
body {
    background-color: #F8F8F8;
    padding: 0 10px;
}

a {
    color: #284F76;
}

a:hover {
    color: #4D9C9A;
    text-decoration: underline;
}

h1 {
    font-weight: normal;
    font-size: 48px;
    font-family: 'Alegreya', serif;
}


h2 {
    font-weight: normal;
    font-size: 40px;
    font-family: 'Alegreya', serif;
}


h3 {
    font-weight: normal;
    font-size: 28px;
    font-family: 'Alegreya', serif;
}


h4 {
  font-size: 24px;
  font-family: 'Alegreya', serif;
}

h6 {
  color: #666;
  line-height: 1.5em;
}

aside {
  margin-top: 28px;
}


ul {
  margin-left: 17px;
}

ol {
  margin-left: 20px;
}

.container {
  max-width: 1060px;
  margin: 0 auto 20px;
  border: 1px solid #EEE;
  background-color: #FFF;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}


.top-bar {
  margin: 0;
}

.top-bar h1 {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

.row {
  width: 1000px;
}

.column, .columns {
  padding: 0 20px;
}

.headerphoto {
  position: relative;
  margin-bottom: 20px;
}

.headerphoto p {
  position: absolute;
  bottom: 0; left: 0;
  color: #CEE;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-size: 48px;
  line-height: 48px;
  font-family: 'Alegreya', serif;
  padding: 0 12px 0 12px;
  font-weight: bold;
}
.headerphoto small {
  font-size: 28px;
  color: #FFF;
  font-family: 'Alegreya', serif;
  font-weight: normal;
}




div.imageholder {
  border: 1px solid #BBBBBB;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
  padding: 3px 3px 2px;
  float: right;
  margin: 0 0 5px 5px;
}
