
body {
    background-color: #F8F8F8;
    padding: 0 10px;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    font-size: 15px;
}


h1 {
    font-weight: normal;
    font-size: 40px;
    font-family: 'Alegreya', serif;
}


h2 {
    font-weight: normal;
    font-size: 34px;
    font-family: 'Alegreya', serif;
}


h3 {
    font-weight: normal;
    font-size: 28px;
    font-family: 'Alegreya', serif;
}


h4 {
  font-size: 24px;
  font-family: 'Alegreya', serif;
}

h5 {
  font-size: 20px;
  font-family: 'Alegreya', serif;
}


h6 {
  font-size: 15px;
  color: #666;
  line-height: 1.5em;
}


a {
    color: #284F76;
}

a:hover {
    color: #4D9C9A;
    text-decoration: underline;
}

p {
    margin: 12px 0;
}

ul {
    margin-left: 17px;
}

ol {
    margin-left: 20px;
}


pre {
    padding: 4px 0;
    overflow-y: auto;
    overflow-x: scroll;
}

aside {
  margin-top: 20px;
}

aside p {
  font-size: 14px;
}

aside .panel {
  padding: 12px;
}

.container {
  max-width: 1060px;
  margin: 0 auto 20px;
  border: 1px solid #EEE;
  background-color: #FFF;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}

.top-bar {
  margin: 0;
}

.top-bar h1 {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}
.top-bar h5 {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

/* Override for top-bar menu background color in Foundation */
.top-bar ul>li:not(.name):hover, .top-bar ul>li:not(.name).active, .top-bar ul>li:not(.name):focus {
  color: #FFF;
  background-color: #1E3953;
}

/* Override for top-bar menu dropdown background color in Foundation */
.top-bar ul>li.has-dropdown .dropdown li.active a {
  color: #FFF;
  background-color: #1E3953;
}

.row {
  width: 1000px;
}

.column, .columns {
  padding: 0 20px;
}

.headerphoto {
  position: relative;
  margin-bottom: 20px;
  text-align: right;
}

.headerphoto p {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #FFF;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-size: 48px;
  line-height: 48px;
  font-family: 'Alegreya', serif;
  padding: 0 12px 0 12px;
  font-weight: bold;
}
.headerphoto small {
  font-size: 28px;
  color: #4D9C9A;
  font-family: 'Alegreya', serif;
  font-weight: normal;
  margin-right: 6px;
}




div.imageholder {
  background-color: #FFF;
  border: 1px solid #BBBBBB;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.3);
  padding: 4px 4px 3px;
  float: right;
  margin: 0 0 5px 5px;
}

footer ul.dropdown {
  display: none;
}

/* "bolt_widget" is the default container for widgets in Bolt. */
.bolt_widget {
  background: #f2f2f2;
  border: solid 1px #e6e6e6;
  margin-bottom: 8px;
  padding: 6px;
}


/* Pagination ------------------------------------------------------ */
div.pagination ul {  display: inline-block; width: auto; height: 26px;  }
div.pagination ul li { float: left; display: block; height: 26px; color: #999; font-size: 15px; background-color: #EEE; }
div.pagination ul li a { display: block; padding: 1px 8px 1px; color: #555; }
div.pagination ul li:hover a, ul.pagination li a:focus { background: #e6e6e6; }
div.pagination ul li.unavailable a { cursor: default; color: #999; }
div.pagination ul li.unavailable:hover a, ul.pagination li.unavailable a:focus { background: transparent; }
div.pagination ul li.active a { background: #2ba6cb; color: white; font-weight: bold; cursor: default; }
div.pagination ul li.active a:hover, ul.pagination li.current a:focus { background: #2ba6cb; }


/* Styles for 'responsive video embeds' --------------------------------  */
.responsive-video {
    height: 0; padding-top: 25px; padding-bottom: 67.5%; margin-bottom: 10px; position: relative; overflow: hidden;
}
.responsive-video.vimeo {
    padding-top: 0;
}
.responsive-video.widescreen {
    padding-bottom: 57.25%;
}
.responsive-video embed, .responsive-video iframe, .responsive-video object, .responsive-video video {
    top: 0; left: 0; width: 100%; height: 100%; position: absolute;
}
@media (max-width: 767px) {
    .responsive-video {
        padding-top: 0;
    }
}
/* End of Styles for 'responsive video embeds' -------------------------  */


/* Styles for 'max-width 767px' -----------------------------------------  */
@media only screen and (max-width: 767px) {

}

/* Styles for 'max-width 479px' -----------------------------------------  */
@media only screen and (max-width: 479px) {

  .headerphoto {
    margin-bottom: 0px;
  }

  .headerphoto span {
    display: none;
  }
  .headerphoto small {
    display: block;
    font-size: 22px;
    color: #FFF;
    line-height: 26px;
  }

  .column, .columns {
      padding: 0 12px;
  }

  h1 {
      font-size: 32px;
  }


  h2 {
      font-size: 28px;
  }


  h3 {
      font-size: 24px;
  }


  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
    font-family: 'Alegreya', serif;
  }


  h6 {
    font-size: 15px;
  }

  div.imageholder {
    float: none;
    margin: 0 -17px 10px -17px;
  }

}