{% import '@bolt/_macro/_panels.twig' as panels %}

{{ render(path('dashboardnews')) }}

{{ panels.stack(7) }}

{{ widgets('dashboard', 'right_first') }}

<div data-bolt-widget="panelActivity">
    {{ render(path('latestactivity')) }}
</div>

<div id="latesttemp" style="display:none; visibility: hidden;"><!-- intentionally left blank --></div>
