{### Template: Upload errror ###}

{% set template_upload_error %}
    <p>There was an error uploading the file. Make sure the file is not corrupt,
    and that the upload-folder is writable.</p>
    <p>Error message:<br><i>%ERROR%<i></p>
{% endset %}

{{ data('field.uploads.template.error', template_upload_error|trim|preg_replace('/>\\s+</', '><')) }}

{### Template: Filesize too large ###}

{% set template_upload_too_large %}
    <p>File is too large:</p>
    <table>
        <tr><th>Name: </th><td>%FILENAME%</td></tr>
        <tr><th>Size: </th><td>%FILESIZE%</td></tr>
        <tr><th>Maximum size: </th><td>%ALLOWED%</td></tr>
    </table>
{% endset %}

{{ data('field.uploads.template.large-file', template_upload_too_large|trim|preg_replace('/>\\s+</', '><')) }}

{### Template: File has wrong type ###}

{% set template_upload_wrong_type %}
    <p>File type not allowed:</p>
    <table>
        <tr><th>Name:</th><td>%FILENAME%</td></tr>
        <tr><th>Type:</th><td>%FILETYPE%</td></tr>
        <tr><th>Allowed types:</th><td>%ALLOWED%</td></tr>
    </table>
{% endset %}

{{ data('field.uploads.template.wrong-type', template_upload_wrong_type|trim|preg_replace('/>\\s+</', '><')) }}
