{##
 # Renders a info popup.
 #
 # @param string title
 # @param string id
 #}
{% macro buic_info(label, id) %}
    {% set attributes = {
        'class':         'info-pop fa fa-info-circle',
        'data-content':  app.translator.trans(id, {}, 'infos'),
        'data-html':     true,
        'data-title':    label|trans,
    } %}
    <i{{ hattr(attributes) }}><span class="sr-only">{{ __('general.phrase.info') }}</span></i>
{% endmacro %}
