html {
  height: 100%;
}

body {
  color: $bodytextcolour;
  font-size: 13px;
  min-height: 100%;
  overflow: scroll-y;
}

body.popup {
  padding: 6px 12px 0;
}

.table-changelog-details th {
  width: 40%;
}

.table-changelog-details th:first-child {
  width: 20%;
}

.table-changelog-details td {
  vertical-align: top;
}

/**
 * Extensions screen
 */

div.extension {
    border: 1px solid #CCC;
    background: #FFF;
    border-radius: 2px;
    padding: 0 10px 8px;
    margin: 0 10px 8px 0;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, .3);
}

div.extension h3 {
    font-size: 17px;
    line-height: 28px;
    margin: 4px 0 0;
}

div.extension p {
    margin: 0 0 4px;
    line-height: 16px;
}

/**
 * Fancy, simple blockquotes
 */
blockquote.quote {
    border: 0;
    margin: 15px 0px;
    font-size: 21px;
    line-height: 26px;
    font-style: italic;
    font-family: "Times New Roman", Georgia;
    color: #AAA;
}

blockquote.quote cite {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #999;
}


/**
 * Hide / show on phones or tablets..
 */

@media (max-width: 480px) {

    #editcontent div.tagcloud {
        margin-left: 0;
        width: 100%;
    }

}

/**
 *
 * TODO: Everything below is copy/pasted from bolt.css, and needs to be reworked into the correct locations.
 *
 */


/* Login Page */

.login-panel {
  margin-top: 25%;
}

/* Flot Chart Containers */

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

/* DataTables Overrides */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: transparent;
}

table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50,50,50,.5);
}

.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee !important;
}

.show-grid {
  margin: 15px 0;
}



.login .logo {
  margin-top:100px;
  width: 179px;
  height: auto;
}

.dropdown-menu .nav-header {
  clear: both;
  float: none;
  padding: 3px 12px;
}

/*-- Omnisearch --*/

.omnisearch {

  & > .select2-dropdown-open, & > .select2-container-active {
    box-shadow: none !important;
  }

  & > .select2-choices {
    background : transparent none !important;
    border : none !important;
    outline : 0 !important;
    box-shadow: none !important;
    & > .select2-search-field {
      & > input, & > input:focus {
        min-width: 200px;
      }
    }
  }

  .select2-search-choice {
    display: none;
  }

  & > .select2-choices {
    border: 0px;
    & > .select2-search-field input {
      padding : 0;
      font-size: inherit;
      font-family: inherit;
    }
  }

  input.select2-input {
    color: #AAA;
  }

}

.omnisearch-result { }
.omnisearch-result-info { }

.omnisearch-result-label {
  font-weight: bold;
}

.omnisearch-result-label span {
  font-weight: normal;
}

.omnisearch-result-description {
  font-size: smaller;
  color: #999;
}

.select2-highlighted .omnisearch-result-description {
  color : #FFF; // better contrast.
}

.omnisearchlisting tbody tr td a span {
  font-weight: normal;
}


form#filescreenuploader {

  div {
    float: left;
    margin-right: 6px;
    margin-top: 6px;
    display: inline;
    width: 100%;
  }

}

.relatedfiles {
  float: right;
}
