/**
 * Colour scheme
 */

// for easier layouting.. Will be deleted..
$columnborders: false; 

$boltblue: #204460;
$boltbluedarker: darken($boltblue, 5);
$boltbluelighter: lighten($boltblue, 5);

$basebgcolour: #FDFDF9;
$bodytextcolour: #333;

$lightgrey: #ccc;

$linkmain: lighten(saturate($boltblue, 100), 4);
$linkvisited: $linkmain;
$linkactive: lighten(saturate($boltblue, 100), 10);

// The color of <hr> lines.
$hr-border: #CCC;

// The padding to the left and right of form-control inputs.
$padding-base-horizontal: 8px;

// Primary button
$btn-primary-color: #FFF;
$btn-primary-bg: #DC6A23;
$btn-primary-border: darken($btn-primary-bg, 6%);

// Secondary button
$btn-secondary-bg: desaturate(lighten($btn-primary-bg, 7%), 20);
$btn-secondary-border: darken($btn-secondary-bg, 6%);

// Tertiary button
$btn-tertiary-bg: desaturate(lighten($boltblue, 35%), 20);
$btn-tertiary-border: darken($btn-tertiary-bg, 6%);

// Default button
$btn-default-color: #666;
$btn-default-bg: #E0E0E0;
$btn-default-border: darken($btn-default-bg, 5);

$btn-danger-color: #FFF;
$btn-danger-bg: #CC3333;
$btn-danger-border: darken($btn-danger-bg, 5);

// Special BOLT button
$btn-bolt-color: #FFF;
$btn-bolt-bg: $boltblue;
$btn-bolt-border: darken($btn-bolt-bg, 6%);

// Text-links in dropdowns and pop-overs
$dropdown-link-color: #555;
$dropdown-link-hover-color: $boltbluedarker;
$dropdown-link-hover-bg: #E8E8E8;


// Sidebar panel headings.
$panel-default-heading-bg: #DDD; 
$panel-default-border: #E2E2E2;
$panel-border-radius: 0;

// Table border color: mostly used for the contenttype 'overviews'
$table-border-color: #CCC;
$table-bg-accent: #F6F6F9;

// Width of the gutter in the grid. Bit wider than default, because whitespace is free.
$grid-gutter-width: 40px;

// Pagination
$pagination-color: lighten(desaturate($boltblue, 35), 6);
$pagination-active-bg: lighten(desaturate($boltblue, 35), 6);
$pagination-active-border: lighten(desaturate($boltblue, 35), 3);

// Line-heights for headings. Also influences margin at top and bottom of headings.
$headings-line-height: 1.5;

$nav-tabs-border-color: $btn-tertiary-bg;
$nav-tabs-active-link-hover-border-color: $nav-tabs-border-color;
$nav-tabs-bg: desaturate(lighten($boltblue, 50%), 30);
