#editcontent {

    /*** Input: Datepicker ***/

    input.datepicker {
        width: 21%;
        min-width: 120px;
        margin-right: 6px;
        float: left;

        /* Allow wider datepickers on desktops */
        @media (min-width: 480px) {
            &.wide{
                width: 35%;
            }

            &.extrawide{
                width: 55%;
            }
        }
    }

    /*** Input: Timepicker ***/

    input.timepicker {
        width: 10%;
        min-width: 93px;
        float: left;
    }

    /*** Fieldset: Checkbox ***/

    fieldset.checkbox {
        display: block;

        label {
            display: inline;
            padding-left: 0;
            font-weight: normal;
        }

        input {
            display: inline;
            height: 1em;
            margin-left: 10px;
            width: auto;
        }
    }

    /*** Fieldset: Multiselect ***/

    fieldset.multiselect {
        select {
            display: block;
            margin-bottom: 8px;
        }
    }

    /*** Fieldset: Slug ***/

    fieldset.slug {
        margin-top: -10px; // pull the slug closer to the field previous, usually the title

        .sluginput {
            display: none;
        }

        .sluglocker,
        .slugedit {
            color: #666;
            display: inline-block;
            padding: 0 3px;
            cursor: pointer;
        }
    }
}
