#editcontent {

    /*** General ***/

    small {
        font-size: 12px;
        color: #666;
    }

    input,
    select,
    textarea {
        border-radius: 2px;
        border-color: #CCC;
        font-size: $font-size-base + 1px;
    }

    .error{
        border-color: #888;
        color: $state-danger-text;
        background: $alert-danger-bg;
    }

    /*** Input widths ***/

    input.large {
        font-size: 150%;
    }

    .narrow {
        width: 45%;
        min-width: 200px;
    }

    .verynarrow {
        width: 8%;
        min-width: 50px;
    }


    select.wide {
        width: 70%;
        min-width: 200px;
    }

    .narrow.wide { /* Derp! */
        width: 60%;
        min-width: 200px;
    }

    /*** Input: Datepicker ***/

    input.datepicker {
        width: 21%;
        min-width: 120px;
        margin-right: 6px;
        float: left;

        /* Allow wider datepickers on desktops */
        @media (min-width: 480px) {
            &.wide{
                width: 35%;
            }

            &.extrawide{
                width: 55%;
            }
        }
    }

    /*** Input: Number ***/

    input[type=number] {
        width: 20%;
        min-width: 140px;
    }

    /*** Input: Textarea ***/

    textarea {
        width: 100%;
        height: 200px;
        padding-right: 0;
        font-size: 14px;
        line-height: 21px;
        color: #444;
        font-family: Menlo, Consolas, Monaco, "Courier New", monospace;
    }

    /*** Input: Timepicker ***/

    input.timepicker {
        width: 10%;
        min-width: 93px;
        float: left;
    }

    /*** Fieldset: Checkbox ***/

    fieldset.checkbox {
        display: block;

        label {
            display: inline;
            padding-left: 0;
            font-weight: normal;
        }

        input {
            display: inline;
            height: 1em;
            margin-left: 10px;
            width: auto;
        }
    }

    /*** Fieldset: Multiselect ***/

    fieldset.multiselect {
        select {
            display: block;
            margin-bottom: 8px;
        }
    }

    /*** Fieldset: Slug ***/

    fieldset.slug {
        margin-top: -10px; // pull the slug closer to the field previous, usually the title

        label {
            margin: 0 0 0.5em;
            code {
                white-space: normal;
            }
        }

        .sluginput {
            display: none;
        }

        .sluglocker,
        .slugedit {
            color: #666;
            display: inline-block;
            padding: 0 3px;
            cursor: pointer;
        }
    }
}
