.extend-bolt-container {
    .hide-block {
        display:none;
    }
    
    .install-container {
        position:relative;
        input {
            width:50%;
            padding:0.5em;
        }
        label {
            display:block;
            margin-top:15px;
        }
    }
    .auto-search {
        position:absolute;
        top:28px;
        background-color: #f1f2f7;
        border-radius: 2px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
        width:50%;
        
        .btn {
            border-radius:0;
            margin-top:0;
        }
    }

    #extension-log {
        border: 1px solid #000;
        padding: 4px;
        font-size: 10px;
        line-height: 1em;
        font-family: Menlo, Consolas, Monaco, "Courier New", monospace;
        color: #CCC;
        background-color: #333;
        max-height: 300px;
        height: 300px;
        overflow-y: scroll;

        .timestamp {
            color: #BBF;
        }

        .command {
            font-weight: normal;
            color: #8F8;
        }

        .error {
            font-weight: bold;
            color: #F44;
        }

        .warning {
            font-weight: bold;
            color: #FF4;
        }



    }

}