/**
 * Editing content ..
 */

label label {
    display: inline !important;
}

label {
    display: block;
    margin-bottom: 3px;
}

.form-control {
    @include placeholder();
    height: 33px;
}

.form-horizontal .control-label {
    text-align: left;
    font-size: $font-size-base + 1px;
    font-weight: normal;
    margin-bottom: 5px;
    @include respond-to(medium-screens) {
        @include old-ie() {
            text-align: left!important; /* sadly... : ( ) */
            margin-bottom: 5px!important; /* sadly... : ( ) */
        }
    }
}

.form-horizontal .control-label-inline {
    font-size: $font-size-base;
    font-weight: bold;
    margin-bottom: 5px;
    padding-top: 4px;
}

.form-group {
    margin-bottom: 20px;
    .form-group {
        margin-bottom: 10px;
    }
}

.button-wrap {
    margin: 8px 0 4px;
    position: relative;
    .btn {
        margin: 0 4px 2px 0;
    }
}

input[type="checkbox"] {
    margin: 4px 8px 0px 0;
}

.prefix, .postfix {
    padding-bottom: 4px;
    color: #666;
    padding-left: 16px;
    padding-right: 16px;
}

.postfix {
    padding-top: 5px;
    padding-bottom: 0;
}

fieldset.checkbox {
    display: inline-block;
    margin-top: -12px;
    margin-bottom: -12px;
}

fieldset.checkbox label {
    display: inline;
}

fieldset.checkbox div {
    margin: 0.3em 0 0.5em;
}

.progress {
    width: 20%;
    display: none;
    margin-bottom: 0;
}

.fileinput-button {
  margin-right: 4px;
}

.ui-sortable-helper {
    border: 1px solid #999;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
}

.ui-sortable-placeholder {
    border: 1px dashed #666;
    visibility: visible !important;
    opacity: 0.5;
}

#filtertabs {
    margin-bottom: 16px;
    border: 0;
    @include respond-to(medium-screens) {
        border-bottom: 1px solid #d3d3d3;
    }
    a {
        color: #777;
        background-color: #dfdfdf;
        border: 1px solid #d3d3d3;
        cursor: pointer;
        padding: 5px 15px;
    }
    a:hover {
        color: #555;
        background-color: #F8F8F8 !important;
        border-botom: 0;
    }
    li {
        margin-left: -3px;
        &.active {
            margin-top: -5px;
            a {
                background-color: #F8F8F8;
                color: #333;
                padding: 7px 15px 8px 15px;
            }
            &:hover {

            }
        }
    }
}

