body.login {

    background-color: #F8F8F8;

    .logo {
        display: block;
        margin: 80px auto 30px;
    }

    .login-block {
        width: 380px;
    }

    .panel {
        border-radius: 6px;
        box-shadow: 0 0 150px rgba(0, 0, 0, .15);
    }

    .panel-body {
        padding: 40px 40px 30px;
    }

    .panel-title {
        line-height: 1.2;
    }

    .togglepass {
        color: #999;
        cursor: pointer;
        float: right;
    }

    .togglepass.hide-password {
        display: none;
    }

    .view-site {
        position: absolute;
        right: 44px;
        top: 18px;
    }

    .control-label {
        color: #8F8F8F;
        font-size: 14px;
        font-weight: normal;
    }

    .form-control {
        height: 40px;
    }

    .form-group {
        margin-bottom: 30px;
    }

    .btn-primary {
        padding: 0.6em 1.1em;
    }

    .login-forgot,
    .login-remembered {
        display: block;
        margin-top: 5px;
        padding-left: 0;
    }

  p.cookie-notice {
    display: none;
  }
}

html.no-cookies p.cookie-notice {
  display: block;
}

@media (max-width: 766px) {

    body.login {

        label.control-label {
            padding-top: 7px;
        }

        .logo {
            margin: 18px auto 18px;
            width: 120px;
        }

        .view-site {
            right: 12px;
            top: 8px;
        }

        .login-block {
            width: 320px;
        }

        .login-forgot,
        .login-remembered {
            float: none;
            margin-top: 8px;
        }


    }

}
