
.info-pop {
    cursor: help;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    vertical-align: 2px;
    background-color: #999;
    line-height: 10px;
    padding-bottom: 2px;
}

.popover {
    width: 220px;
    max-width: 360px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.menu-pop-wide .popover {
    width: 340px !important;
}

.popover-content {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;

    p {
        margin: 4px 0;
    }

    a {
      font-weight: normal;
      overflow: hidden;
      height: 2em;
    }
}

/* Note: We only use popover-bottom for items on the stack. If we start using it
   for anything else, we need to specify the selector further */
.popover.bottom {
    width: 220px;
    margin-left: 110px;
    margin-top: 4px;
}

.popover.bottom .popover-content, .popover.bottom .popover-content code {
    font-size: 12px;
    overflow:hidden;
}
