
/**
 * Stacked files
 */
#protostack {
    display: none;
}

#stackholder {
    height: 120px;
    padding: 12px 0 12px 2px;
    /* overflow: hidden; */
}

.stack-buttons {
    margin-top:16px;
    .btn-group {
        display: inline-block;
        margin: 0;
    }
}

.stackitem {
    border: 6px solid #fff;
    background-color: #DDD;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, .2);
    width: 100px;
    height: 100px;
    position: relative;
    float: left;
    left: 0px;
    margin-right: -80px;
    overflow: hidden;
}

.stackitem-wide {
    margin-right: -35px
}

.stackitem strong {
    display: block;
    text-align: center;
    font-size: 16px;
    margin: 10px auto;
}

.stackitem small {
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    margin: 0px 5px;
    word-break: break-all;
}


.stackitem:hover {
    z-index: 120 !important;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, .5);
}

.stackitem.item-1 {
    z-index: 110;
}


.stackitem.item-2 {
    z-index: 109;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
    margin-top: 8px;
}

.stackitem.item-3 {
    z-index: 108;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    margin-top: -8px;
}

.stackitem.item-4 {
    z-index: 107;
    -webkit-transform: rotate(9deg);
    -moz-transform: rotate(9deg);
    -o-transform: rotate(9deg);
    -ms-transform: rotate(9deg);
    transform: rotate(9deg);
    margin-top: 3px;
}

.stackitem.item-5 {
    z-index: 106;
    margin-top: -6px;
}

.stackitem.item-6 {
    z-index: 105;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    margin-top: 5px;
}

.stackitem.item-7 {
    z-index: 104;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    margin-top: -3px;
}
