
h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0.5em 0;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1 {
    font-size: 30px;
    line-height: 36px;
}

h2 {
    font-size: 26px;
    line-height: 31px;
}

a {
    color: $linkmain;
    font-weight: bold;
}

a:link {
    color: $linkmain;
}

a:visited {
    color: $linkvisited;
}

a:focus,
a:hover,
a:active {
    color: $linkactive;
}


strong, b {
    font-weight: 600;
    line-height: normal;
}

// styles for em and i elements
// This gets us into a situation of "semantic web" and all that other stuff
//======================================================================================================================
//  http://html5doctor.com/i-b-em-strong-element/
//  https://developer.mozilla.org/en-US/docs/Web/HTML/Element/em
// ---------------------------------------------------------------------------------------------------------------------
//  * <i>
//  * "represents a span of text in an alternate voice or mood, or otherwise offset from the normal prose in a
//  *  manner indicating a different quality of text, such as a taxonomic designation, a technical term, an idiomatic
//  *  phrase from another language, a thought, or a ship name in Western texts."
//  *
//  * "Things that are typically italicised include transliterated foreign words (using the attribute lang=""),
//  *  inline stage directions in a script, some musical notation, and when representing hand-written text inline"
// ---------------------------------------------------------------------------------------------------------------------
//  * <em>
//  * representing stress emphasis (i.e., something you’d pronounce differently)
//  *
//  * "The ‘stress’ being referred to is linguistic. If spoken, this stress would be emphasised pronunciation on a
//  *  word that can change the nuance of a sentence. For example, “Call a doctor now!” emphasises the importance of
//  *  calling a doctor"
// ---------------------------------------------------------------------------------------------------------------------
//  * The <em> tag represents stress emphasis of its contents, while the <i> tag represents text that is set off from
//  * the normal prose, such as the name of a movie or book, a foreign word, or when the text refers to the definition
//  * of a word instead of representing its semantic meaning
//
//  in short I'm leaving both here and let the person who does the markup to decide whats best for them.
em, i {
    font-family: 'Source Sans Pro Italic', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: italic;
}

tt, code, .source-code {
    font-family: Menlo, Consolas, Monaco, "Courier New", monospace;
}

tt, code {
    padding: 1px 2px;
    border: 0px;
    white-space: pre;
    color: #555;
    background-color: #E8E8E8;
}

pre {
    background-color: #F2F2F2;
    color: #555;
    padding: 2px 4px;
    font-family: Menlo, Consolas, Monaco, "Courier New", monospace;
}

small {
    font-size: 85%;
    line-height: 85%;
}

time {
    border-bottom: 1px dashed #BBB;
    cursor: default;
}


h1 span {
    float: right;
    font-size: 50%;
    margin: 0.45em 0 -0.45em -0;
    color: #666;
}

.status-timed {
    color: #A80; // #0066FF;
}

.status-published {
    color: #7FA800; // #43AC6A;
}

.status-held {
    color: #CA2300; // #F04124;
}

.status-draft {
    color: #0569E2; // #99F;
}

