<aside>

    <p>Dit is de zijbalk.</p>

    <p>Recente pagina's</p>
    {{ render("/linklist/pages") }}


    <p>Recente entries</p>
    {{ render("/linklist/entries") }}



</aside>

<div class="cleaner">&nbsp;</div>