<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Silex Boilerplate {% if title is defined %}- {{title}}{% endif %}</title>
    
    <link rel="stylesheet" href="view/css/bootstrap.css" />
    <link rel="stylesheet" href="view/css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="view/css/silex.css" />
    <script src="view/js/jquery-1.7.2.min.js"></script>
    <script src="view/js/bootstrap.js"></script>
    <script src="view/js/silex.js"></script>

</head>
<body>
    



<div id="main">
