{% include '_header.twig' %}



<h1>{{ app.config.general.sitename }}</h1>

<section class='weblog'>

    {{ "2012-06/00030te9.jpg"|thumbnail(200, 200, 'c') }}

    <img src="/files/2012-06/00030te9.jpg">


     {{ render("/weblog/entries") }}

</section>




{% include '_footer.twig' %}